@import helper._
@import views.html.partials._
@import viewsapi.FrontEndInfo

@import java.util.UUID
@import services.Details
@(consignmentId: UUID, consignmentRef: String, frontEndInfo: FrontEndInfo, name: String)(implicit request: RequestHeader, messages: Messages)
@main("Upload a metadata CSV", name = name, backLink = Some(backLink(routes.PrepareMetadataController.prepareMetadata(consignmentId).url, "Prepare your metadata"))) {
    <div id="metadata-file-upload" class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">Upload a metadata CSV</h1>
            <div class="govuk-body">
                <p class="govuk-body">Upload a <abbr title="Comma Separated Values">CSV</abbr> containing the record metadata.</p>
                @details(
                    Details(
                        detailsSummary = "How to save an Excel file as CSV",
                        detailsText =
                            """
                               When you have finished entering metadata:
                               <ol class="govuk-list govuk-list--number">
                                  <li>Save your file as Excel first (File > Save) before you save as CSV</li>
                                  <li>Click File > Save As</li>
                                  <li>From the 'Save as type' dropdown, choose <span class="govuk-!-font-weight-bold">CSV UTF-8 (Comma delimited) (*.csv)</span></li>
                                  <li>Click Save</li>
                                  <li>Close the file, you are ready to upload</li>
                               </ol>
                               If you need to make more changes to metadata, we recommend that you open the Excel file you saved first, make changes, and then save again as CSV. Opening a CSV file in Excel can cause formats to be converted.
                           """
                    )
                )
            </div>

            <p class="govuk-body">Once uploaded, we will check your metadata for errors. There will be a chance to review and re-upload the metadata before completing the transfer.</p>

            <div class="govuk-form-group">
                <div id="selection-area">
                    @loggedOutErrorMessage("file-upload")
                    @frontEndInputs(frontEndInfo)
                    <label class="govuk-label" for="file-selection">
                        Select a CSV file
                    </label>
                    <div id="file-selection-hint" class="govuk-hint">
                        File must be in CSV format
                    </div>
                    <form action="@routes.DraftMetadataUploadController.saveDraftMetadata(consignmentId)" id="draft-metadata-upload-forms" enctype="multipart/form-data" method="post" >
                        @CSRF.formField
                        <div >
                            <input class="govuk-file-upload" type="file" id="file-selection" name="files"
                            accept=".csv" aria-describedby="file-selection-hint">
                        </div>
                        <br>
                        <div>
                            <button id="to-draft-metadata-checks" class="govuk-button" type="submit" data-module="govuk-button" >
                                Upload
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        @transferReference(consignmentRef, isJudgmentUser = false)
    </div>
}
