@import views.html.partials._

@import java.util.UUID

@(consignmentId: UUID, consignmentRef: String, draftMetadataProgress: DraftMetadataProgress, name: String, uploadedFileName: String)(implicit request: RequestHeader, messages: Messages)

@main("Results of CSV Checks", name = name) {
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">
                Results of your metadata checks
            </h1>
            <p class="govuk-body">The metadata in your uploaded <abbr title="Comma Separated Values">CSV</abbr> has been successfully imported.</p>
            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Status
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <strong class="govuk-tag govuk-tag--@draftMetadataProgress.colour">
                            @draftMetadataProgress.value
                        </strong>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Uploaded file
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <code>@uploadedFileName</code>
                    </dd>
                </div>
            </dl>
            <p class="govuk-body">If you need to make any changes to your metadata you can return to <a class="govuk-link" href=@routes.DraftMetadataUploadController.draftMetadataUploadPage(consignmentId)>
                upload a metadata CSV</a>, otherwise continue with your transfer.</p>
            <div class="govuk-button-group">
                <a href="@routes.DownloadMetadataController.downloadMetadataPage(consignmentId)" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
                    Next
                </a>
            </div>
        </div>
        @transferReference(consignmentRef, isJudgmentUser = false)
    </div>
}
