@import views.html.partials._

@import java.util.UUID

@import services.FileError
@(consignmentId: UUID, consignmentRef: String, draftMetadataProgress: DraftMetadataProgress, name: String, errorType:FileError.FileError)(implicit request: RequestHeader, messages: Messages )

@main("Results of CSV Checks", name = name) {
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            @draftMetadataChecksActionProcess(errorType)
              <div class="govuk-button-group">
                <a href="@routes.DownloadMetadataController.downloadMetadataPage(consignmentId)" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
                    Next
                </a>
            </div>
        </div>
        @transferReference(consignmentRef, isJudgmentUser = false)
    </div>
}
