@import helper._
@import views.html.partials._
@import viewsapi.FrontEndInfo

@import java.util.UUID
@(consignmentId: UUID, consignmentRef: String, frontEndInfo: FrontEndInfo, name: String)(implicit request: RequestHeader, messages: Messages)

    @main("Checking your metadata", name = name) {
        <div class="govuk-grid-row draft-metadata-validation-progress">
            <div class="govuk-grid-column-two-thirds">
                @frontEndInputs(frontEndInfo)
            <h1 class="govuk-heading-l">Checking your metadata</h1>
            <input id="consignmentId" type="hidden" value="@consignmentId">
            <input id="fileChecksResultsUrl" type="hidden" value="@routes.DraftMetadataChecksResultsController.draftMetadataChecksResultsPage(consignmentId)">
            <p class="govuk-body">Please wait while we check your metadata.</p>
            <p class="govuk-body">The following checks are now being performed:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>Virus scanning</li>
                <li>File format is CSV (UTF-8)</li>
                <li>Metadata matches uploaded records</li>
                <li>Missing or extra metadata columns</li>
                <li>Data validation, including date formatting</li>
                <li>Functional / Business rule validation, eg. closure requirements</li>
            </ul>
            <p class="govuk-body">This may take a few minutes. If your consignment has a large number of records it may take longer.</p>

            </div>
            @transferReference(consignmentRef, isJudgmentUser = false)
        </div>
    }
