@import helper._
@import views.html.partials._
@import viewsapi.FrontEndInfo

@import java.util.UUID
@(consignmentId: UUID, consignmentRef: String, frontEndInfo: FrontEndInfo, name: String)(implicit request: RequestHeader, messages: Messages)

    @main("Checking your metadata", name = name) {
        @defining(play.core.PlayVersion.current) { version =>
            <div class="govuk-grid-row draft-metadata-validation-progress">
                <div class="govuk-grid-column-two-thirds">
                    @frontEndInputs(frontEndInfo)
                <h1 class="govuk-heading-l">Checking your metadata </h1>
                <input id="consignmentId" type="hidden" value="@consignmentId">
                <p class="govuk-body">Please wait while we check your metadata against the uploaded records. This may take a few minutes. </p>
                <div class="govuk-notification-banner" id="draft-metadata-checks-completed-banner" tabindex="-1" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner" hidden>
                    <div class="govuk-notification-banner__header">
                        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                        Important
                        </h2>
                    </div>
                    <div class="govuk-notification-banner__content">
                        <p class="govuk-notification-banner__heading">Your metadata has been checked.</p>
                        <p class="govuk-body">Please click 'Continue' to see your results.</p>
                    </div>
                </div>
                    @CSRF.formField
                <form action="@routes.DraftMetadataChecksResultsController.draftMetadataChecksResultsPage(consignmentId)">
                    <button type="submit" role="button" draggable="false" id="draft-metadata-checks-continue" class="govuk-button govuk-button--disabled" data-tdr-module="button-disabled" data-module="govuk-button" aria-disabled="true" aria-describedby="reason-disabled">
                Continue
                    </button>
                    <p class="govuk-visually-hidden" id="reason-disabled">
                    This button will be enabled when we have finished checking your metadata.
                    </p>
                </form>

                </div>
                @transferReference(consignmentRef, isJudgmentUser = false)
            </div>
        }
    }
