.progress-display[value] {

    /* Get rid of the default appearance */
    appearance: none;
    border: none;
    /* Dimensions */
    width: 100%; height: 20px;
    background-color: rgb(245,245,245);
    border-radius: 10px;
    box-shadow: 0 2px 3px rgba(0,0,0,.5) inset;
    color: rgb(65, 105, 225);
    position: relative;
    margin: 0 0 1.5em;
}

.progress-display[value]::-webkit-progress-bar {
    background-color: rgb(245,245,245);
    border-radius: 10px;
    box-shadow: 0 2px 3px rgba(0,0,0,.5) inset;
}

.progress-display[value]::-webkit-progress-value {
    position: relative;
    border-radius:10px;
    background-color: rgb(111, 119, 123);
}

.progress-display[value]::-moz-progress-bar {
    background-color: rgb(111, 119, 123);
    background-size: 35px 20px, 100% 100%, 100% 100%;
    border-radius:10px;
}
