@* helper package contains inputRadioGroup therefore exclude from imports to prevent ambiguous import with view of the same name *@
@import controllers.AddAdditionalMetadataController.{ControllerInfo, PageInfo}
@import controllers.util._
@import helper.{inputRadioGroup => _, _}
@import views.html.partials.{fileNameCard, errorSummary, inputDate, inputDropdown, inputRadioGroup, inputText, progressIndicator, transferReference}

@import scala.language.postfixOps
@(pageInfo: PageInfo, controllerInfo: ControllerInfo)(implicit request: RequestHeader, messages: Messages)
@main(pageInfo.pageTitle, name = pageInfo.userName) {
  @defining(play.core.PlayVersion.current) { version =>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">@controllerInfo.metadataType.capitalize metadata</span>
      <h1 class="govuk-heading-l">@pageInfo.pageTitle</h1>
      @fileNameCard(controllerInfo.files.map(_.name), s"You are adding/editing ${controllerInfo.metadataType} metadata for the following files:")
      <p class="govuk-body">@pageInfo.pageDescription</p>
        @errorSummary(
          pageInfo.fieldsToApplyToFile.collect {
            case p if p.fieldErrors.nonEmpty => (p.fieldId, p.fieldErrors)
          }
        )
        @form(
          routes.AddAdditionalMetadataController.addAdditionalMetadataSubmit(
              controllerInfo.metadataType,
              controllerInfo.isMainForm,
              controllerInfo.fieldsAndValuesSelectedOnPrevPage,
              controllerInfo.consignmentId,
              controllerInfo.files.map(_.fileId)
          ),
          (Symbol("novalidate"), "")
        ) {
          @CSRF.formField
          @for(fieldToApplyToFile <- pageInfo.fieldsToApplyToFile) {
            @{
              fieldToApplyToFile match {
                case RadioButtonGroupField(fieldId, name, description, _, options, selectedOption, isRequired, fieldErrors) => inputRadioGroup(
                  fieldId,
                  name,
                  description,
                  options,
                  selectedOption,
                  Map(
                    Symbol("_label") -> name,
                    Symbol("_requiredOption") -> isRequired,
                    Symbol("_largeOption") -> true,
                    Symbol("_newlineOption") -> true,
                    Symbol("_disabledOption") -> "",
                    Symbol("_dynamicForm") -> true
                  ),
                  fieldErrors
                )
                case DateField(fieldId, fieldName, fieldDescription, _, day, month, year, _, fieldErrors, _) => inputDate(
                  fieldId,
                  fieldName,
                  fieldDescription,
                  day,
                  month,
                  year,
                  fieldErrors,
                  Map(Symbol("_dynamicForm") -> true)
                )
                case TextField(fieldId, fieldName, fieldDescription, _, inputNameAndValue, inputMode, _, fieldErrors) => inputText(
                  fieldId,
                  fieldName,
                  fieldDescription,
                  inputNameAndValue,
                  if(inputMode == "numeric") "number" else "text",
                  fieldErrors,
                  Map(Symbol("_dynamicForm") -> true),
                  inputMode,
                  addSuffixText = if(inputMode == "numeric") true else false
                )
                case DropdownField(fieldId, fieldName, fieldDescription, multiValue, options, selectedOption, _, fieldErrors) =>
                  inputDropdown(
                    fieldId,
                    fieldName,
                    fieldDescription,
                    options,
                    selectedOption,
                    multiValue,
                    Map(
                      Symbol("_disabledOption") -> "",
                      Symbol("_dynamicForm") -> true
                    ),
                    fieldErrors
                  )
              }
            }
          }
          <div class="govuk-button-group">
              <!-- Continue -->
            <button data-prevent-double-click="true" class="govuk-button" type="submit" data-module="govuk-button" role="button">
              Save and review changes
            </button>
            <a class="govuk-link" href="@routes.AdditionalMetadataNavigationController.getAllFiles(controllerInfo.consignmentId, controllerInfo.metadataType)">Cancel</a>
          </div>
        </div>
      }
      @transferReference(pageInfo.consignmentRef, isJudgmentUser = false)
    </div>

  }
}

