@* helper package contains inputRadioGroup therefore exclude from imports to prevent ambiguous import with view of the same name *@
@import controllers.AddAdditionalMetadataController.File
@import controllers.util.MetadataProperty.{description, end_date, foiExemptionCode}
@import controllers.util._
@import helper.{inputRadioGroup => _, _}
@import views.html.partials.{inputDate, inputText, _}

@import java.util.UUID
@import scala.language.postfixOps
@(consignmentId: UUID, consignmentRef: String, metadataType: String, fieldsToApplyToFile: List[FormField], name: String, files: List[File])(implicit request: RequestHeader, messages: Messages)
@main(s"Add or edit $metadataType metadata", name = name) {
  @defining(play.core.PlayVersion.current) { version =>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">@metadataType.capitalize metadata</span>
        <h1 class="govuk-heading-l">Add or edit metadata</h1>
        @fileNameCard(files.map(_.name), s"You are adding or editing $metadataType metadata for the following file:")
        @errorSummary(
          fieldsToApplyToFile.collect {
            case field if field.fieldErrors.nonEmpty => (field.fieldId, field.fieldErrors)
          }
        )
        @form(
          routes.AddAdditionalMetadataController.addAdditionalMetadataSubmit(consignmentId, metadataType, files.map(_.fileId)),
          (Symbol("novalidate"), "")
        ) {
          @CSRF.formField
          @for(fieldToApplyToFile <- fieldsToApplyToFile) {
            @{
              fieldToApplyToFile match {
                case RadioButtonGroupField(fieldId, name, _, description, fieldInsetTexts, additionalInfo, _, options, selectedOption, isRequired, hideInputs, fieldErrors, dependencies) => inputRadioGroup(
                  fieldId,
                  name,
                  description,
                  additionalInfo,
                  options,
                  selectedOption,
                  Map(
                    Symbol("_label") -> name,
                    Symbol("_requiredOption") -> isRequired,
                    Symbol("_largeOption") -> true,
                    Symbol("_newlineOption") -> true,
                    Symbol("_disabledOption") -> "",
                    Symbol("_dynamicForm") -> true
                  ),
                  hideInputs,
                  fieldErrors,
                  dependencies
                )
                case DateField(fieldId, fieldName, _, fieldDescription, fieldInsetTexts, _, day, month, year, _, fieldErrors, _, _) => inputDate(
                  fieldId,
                  fieldName,
                  fieldDescription,
                  fieldInsetTexts,
                  day,
                  month,
                  year,
                  fieldErrors,
                  Map(Symbol("_dynamicForm") -> true)
                )
                case TextField(fieldId, fieldName, _, fieldDescription, fieldInsetTexts, _, inputNameAndValue, inputMode, _, fieldErrors, addSuffixText, inputType, _) => inputText(
                  fieldId,
                  fieldName,
                  fieldDescription,
                  inputNameAndValue,
                  inputType,
                  fieldErrors,
                  Map(Symbol("_dynamicForm") -> true),
                  inputMode,
                  addSuffixText
                )
                case TextAreaField(fieldId, fieldName, _, fieldDescription, _, _, inputNameAndValue,  _, fieldErrors, rows, wrap, characterLimit, details, _) => inputTextArea(
                  fieldId,
                  fieldName,
                  fieldDescription,
                  inputNameAndValue,
                  fieldErrors,
                  Map(Symbol("_dynamicForm") -> true),
                  rows,
                  wrap,
                  characterLimit,
                  details
                )
                case MultiSelectField(fieldId, fieldName, _, fieldDescription, _, fieldGuidance, multiValue, options, selectedOptions, _, fieldErrors, _) =>
                  inputMultiSelect(
                    fieldId,
                    fieldName,
                    fieldDescription,
                    fieldGuidance,
                    options,
                    selectedOptions,
                    multiValue,
                    Map(
                      Symbol("_disabledOption") -> "",
                      Symbol("_dynamicForm") -> true
                    ),
                    fieldErrors
                  )
                case DropdownField(fieldId, fieldName, _, fieldDescription, _, multiValue, options, selectedOption, _, fieldErrors, _) =>
                  inputDropdown(
                    fieldId,
                    fieldName,
                    fieldDescription,
                    options,
                    selectedOption,
                    multiValue,
                    Map(
                      Symbol("_disabledOption") -> "",
                      Symbol("_dynamicForm") -> true
                    ),
                    fieldErrors
                  )
              }
            }
            @defining(List(foiExemptionCode, description, end_date)) { fieldsWithSectionBreak =>
              @if(fieldsWithSectionBreak.contains(fieldToApplyToFile.fieldId)) {
                <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
              }
            }
          }
          <div class="govuk-button-group">
              <!-- Continue -->
            <button data-prevent-double-click="true" class="govuk-button" type="submit" data-module="govuk-button" role="button">
              Save and Review
            </button>
            <a class="govuk-link" href="@routes.AdditionalMetadataNavigationController.getAllFiles(consignmentId, metadataType)">Cancel</a>
          </div>
        </div>
      }
      @transferReference(consignmentRef, isJudgmentUser = false)
    </div>

  }
}
