@* helper package contains inputRadioGroup therefore exclude from imports to prevent ambiguous import with view of the same name *@
@import helper.{inputRadioGroup => _, _}
@import java.util.UUID

@import scala.language.postfixOps
@import views.html.partials.{inputDate, inputText, errorSummary, progressIndicator}

@import views.html.partials.transferReference
@import views.html.partials.inputRadioGroup

@import controllers.util._
@import views.html.partials.inputDropdown

@(consignmentId: UUID, consignmentRef: String, fieldsToApplyToFile: List[FormField], name: String, fileName: String = "[selected file/folder name to go here]")(implicit request: RequestHeader, messages: Messages)
@main(s"Add closure metadata to '$fileName'", name = name) {
    @defining(play.core.PlayVersion.current) { version =>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                @progressIndicator(Messages("addClosureMetadata.progress"))
            <h1 class="govuk-heading-l">Add closure metadata to '@fileName'</h1>
            <p class="govuk-body">Enter metadata for closure fields here.</p>
                @errorSummary(
                    fieldsToApplyToFile.collect {
                        case p if p.fieldErrors.nonEmpty => (p.fieldId, p.fieldErrors)
                    }
                )
                @form(
                    routes.AddClosureMetadataController.addClosureMetadataSubmit(consignmentId),
                    (Symbol("novalidate"), "")
                ) {
                    @CSRF.formField
                    @for(fieldToApplyToFile <- fieldsToApplyToFile) {
                        @{fieldToApplyToFile match {
                                case RadioButtonGroupField(fieldId, name, description, options, selectedOption, isRequired, fieldErrors) => inputRadioGroup(
                                    fieldId,
                                    name,
                                    description,
                                    options,
                                    selectedOption,
                                    Map(
                                        Symbol("_label") -> name,
                                        Symbol("_requiredOption") -> isRequired,
                                        Symbol("_largeOption") -> true,
                                        Symbol("_newlineOption") -> true,
                                        Symbol("_disabledOption") -> "",
                                        Symbol("_dynamicForm") -> true
                                    ),
                                    fieldErrors
                                )
                                case DateField(fieldId, fieldName, fieldDescription, day, month, year, _, fieldErrors) => inputDate(
                                    fieldId,
                                    fieldName,
                                    fieldDescription,
                                    day,
                                    month,
                                    year,
                                    fieldErrors,
                                    Map(Symbol("_dynamicForm") -> true)
                                )
                                case TextField(fieldId, fieldName, fieldDescription, inputNameAndValue, inputMode, _, fieldErrors) => inputText(
                                    fieldId,
                                    fieldName,
                                    fieldDescription,
                                    inputNameAndValue,
                                    "number",
                                    fieldErrors,
                                    Map(Symbol("_dynamicForm") -> true),
                                    inputMode,
                                    addSuffixText = true
                                )
                                case DropdownField(fieldId, fieldName, fieldDescription, options, selectedOption, _, fieldErrors) =>
                                    //could theoretically be a checkbox or radio (since radios are not always boolean)
                                    inputDropdown(
                                        fieldId,
                                        fieldName,
                                        fieldDescription,
                                        options,
                                        selectedOption,
                                        Map(
                                            Symbol("_disabledOption") -> "",
                                            Symbol("_dynamicForm") -> true
                                        ),
                                        fieldErrors
                                    )
                            }
                        }
                    }
                    <div class="govuk-button-group">
                            <!-- Continue -->
                        <button data-prevent-double-click="true" class="govuk-button" type="submit" data-module="govuk-button" role="button">
                            Continue
                        </button>
                            <!-- Redirects to Homepage for now but will probably just take you back to previous page -->
                        <a class="govuk-link" href="@routes.HomepageController.homepage()">Cancel</a>
                    </div>
                </div>
            }
            @transferReference(consignmentRef, isJudgmentUser = false)
            </div>

        </div>
    }
}

