@import java.util.UUID
@import services.ConsignmentService.File
@import views.html.helper.CSRF
@import views.html.partials.fileNavigationContent

@(consignmentId: UUID, name: String, files: File, metadataType: String, displayError: Boolean = false)(implicit messages: Messages, request: RequestHeader)

@display(file: File, level: Int, size: Int, pos: Int) = {
  @if(file.fileType.contains("File")) {
    <li class="tna-tree__item govuk-radios--small" role="treeitem" id="radios-list-@file.id" aria-level="@level" aria-setsize="@size" aria-posinset="@pos" aria-selected="false">
      <div class="tna-tree__node-item__radio govuk-radios__item">
        <span class="govuk-radios__input" aria-hidden="true" id="radio-@file.id" name="nested-navigation"></span>
        <span class="govuk-label govuk-radios__label">
        @file.name
        </span>
      </div>
    </li>
  } else {
    <li class="tna-tree__node-item-radios" role="treeitem" id="radios-list-@file.id" aria-expanded="true" aria-selected="false" aria-level="@level" aria-setsize="@size" aria-posinset="@pos" tabindex="0">
      <div class="tna-tree__node-item__container">
        <button class="tna-tree__expander js-tree__expander--radios" tabindex="-1" id="radios-expander-@file.id">
          <span class="govuk-visually-hidden">Expand</span>
        </button>

        <div class="js-radios-directory tna-radios-directory">
          <span class="govuk-label tna-radios-directory__label">
            <img class="tna-tree__svg-directory" role="img" src="@routes.Assets.versioned("images/folder.svg")" alt="Directory">
            @file.name
          </span>
        </div>
      </div>
      <ul class="tna-tree__nested-list tna-tree__nested-list--radios" role="group" id="radios-node-group-@file.id">
        @for((child, idx) <- file.children.zipWithIndex) {
          @display(child, level + 1, file.children.length, idx)
        }
      </ul>
    </li>
  }
}
@error = {
  @if(displayError) {
    <div class="govuk-error-summary govuk-!-margin-bottom-4" data-module="govuk-error-summary">
      <div role="alert">
        <h2 class="govuk-error-summary__title">There is a problem</h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            <li>
              <a href="#file-selection">Select at least one file or folder</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  }
}

@main("Additional Metadata", name = name) {
  @defining(play.core.PlayVersion.current) { version =>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        @fileNavigationContent(consignmentId, metadataType, files.name)
        @error
        <form method="post" action="@routes.AdditionalMetadataNavigationController.submitFiles(consignmentId, metadataType)">
          @CSRF.formField
          <button class="govuk-button" type="submit" role="button" draggable="false">
            Add or Edit Metadata
          </button>
          <div class="tna-tree" id="file-selection">
            <ul tabindex="0" class="tna-tree__root-list" id="radio-tree" role="tree">
              @display(files, 1, files.children.length, 0)
            </ul>
          </div>
        <div class="govuk-button-group">
          <button draggable="false" class="govuk-button" data-module="govuk-button">
          Add or Edit metadata
          </button>
          <a href="@routes.AdditionalMetadataController.start(consignmentId)" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Back
          </a>
        </div>
        </form>
      </div>
    </div>
  }
}
