@import java.util.UUID
@import play.api.data._
@import play.api.data.Forms._
@import graphql.codegen.GetConsignmentPaginatedFiles.getConsignmentPaginatedFiles.GetConsignment.PaginatedFiles.Edges
@(consignmentId: UUID, consignmentReference: String, name: String, parentFolder:String, totalFiles: Int, totalPages: Int, limit:Int, currentPage: Int, files: List[Edges])(implicit messages: Messages, request: RequestHeader)
@main("Additional Metadata", name = name) {
    @defining(play.core.PlayVersion.current) { version =>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l">
                    Add or edit closure metadata on file basis
                </h1>
                <p class="govuk-body">You can now add or edit closure metadata to individual files or folders.</p>
                <p class="govuk-body">
                    Click on a particular file or folder to see what metadata is already captured and add or edit properties there.
                    For a bulk edit, first select files and/or folders and then choose an action from the menu.
                </p>
                <h2 class="app-task-list__section">Folder uploaded: @parentFolder</h2>
                <div class="govuk-button-group">
                    <button class="govuk-button govuk-button--secondary" data-module="govuk-button" type="button" name="selectAll" value="select-all" onclick="check_all()">
                        Select all
                    </button>

                    <a href="#" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
                        Add closure properties
                    </a>
                </div>
@*                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds">
                        <input class="govuk-input" id="event-name" name="event-name" type="text" placeholder="Enter a file or folder name">
                    </div>
                    <div class="govuk-grid-column-one-third"></div>
                    <a href="file-level#page-2" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
                        Search
                    </a>
                </div>*@

                <section id="page-1">
                    <p class="govuk-pagination__results">Showing <b>1</b> to <b>@limit</b> of <b>@totalFiles</b> results</p>
                    <table class="govuk-table">
                        <tbody class="govuk-table__body">
                        @files.map { item =>
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">
                                    <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="Subfolder-Lemon-drizzle" name="organisation" type="checkbox" value="hmrc">
                                        <label class="govuk-label govuk-checkboxes__label" for="Subfolder-Lemon-drizzle">
                                            <a href="#">@{if(item.node.fileType.get == "Folder")"📁" else "📊"} @item.node.fileName.get</a>
                                        </label>
                                    </div>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </section>

                <nav class="govuk-pagination" role="navigation" aria-label="results">
                    <div class="govuk-pagination__prev">
                        <a class="govuk-link govuk-pagination__link" href="@routes.AdditionalMetadataController.getPaginatedFiles(consignmentId, currentPage-1)" rel="prev">
                            <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                                <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
                            </svg>
                            <span class="govuk-pagination__link-title">Previous</span></a>
                    </div>
                    <ul class="govuk-pagination__list">
                        @for(page <- 1 to totalPages){
                            <li class="govuk-pagination__item @if(currentPage == page -1){govuk-pagination__item--current}">
                                <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page "@page aria-current="page">
                                @page
                                </a>
                            </li>
                        }
                    </ul>
                    <div class="govuk-pagination__next">
                        <a class="govuk-link govuk-pagination__link" href="@routes.AdditionalMetadataController.getPaginatedFiles(consignmentId, currentPage+1)"> <span class="govuk-pagination__link-title">Next</span> <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                            <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                        </svg></a>
                    </div>
                </nav>
            </div>
        </div>
    }
}
