@import helper._
@import java.util.UUID
@import graphql.codegen.GetConsignmentPaginatedFiles.getConsignmentPaginatedFiles.GetConsignment.PaginatedFiles.Edges
@import views.html.partials.transferReference
@import views.html.partials.inputSingleCheckbox
@(consignmentId: UUID, name: String, folderUploaded:String, totalPages: Int, limit:Option[Int], currentPage: Int, selectedFolderId: UUID, nodesFormData: Form[NodesFormData])(implicit messages: Messages, request: RequestHeader)
@main("Additional Metadata", name = name) {
    @defining(play.core.PlayVersion.current) { version =>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l">
                    Add or edit closure metadata on file basis
                </h1>
                <div class="govuk-warning-text">
                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                    <strong class="govuk-warning-text__text">
                        <span class="govuk-warning-text__assistive">Warning</span>
                        Do not use your browsers back/forward buttons as this can lead to loss of data.
                    </strong>
                </div>
                <p class="govuk-body">You can now add or edit closure metadata to individual files or folders.</p>
                <p class="govuk-body">
                    Click on a particular file or folder to see what metadata is already captured and add or edit properties there.
                    For a bulk edit, first select files and/or folders and then choose an action from the menu.
                </p>
                <h2 class="app-task-list__section">Folder uploaded: @folderUploaded</h2>
                <div class="govuk-button-group">
@*                  <button class="govuk-button govuk-button--secondary" data-module="govuk-button" type="button" name="selectAll" value="select-all" onclick="check_all()">
                        Select all
                    </button>*@

                    <a href="#" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
                        Add closure properties
                    </a>
                </div>

                @form(action = routes.AdditionalMetadataController.submit(consignmentId, currentPage, limit, selectedFolderId)) {
                    @CSRF.formField
                <input type="hidden" id="previouslySelected" name="previouslySelected" value="@{nodesFormData.value.get.previouslySelected}"/>
                <section id="page-@currentPage">
                    <table class="govuk-table">
                        <tbody class="govuk-table__body">
                        @nodesFormData.value.get.nodesToDisplay.map { node =>
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">
                                    <div class="govuk-checkboxes__item">
                                        <input type='hidden' id="@node.nodeIdStr" name='allNodes[]' value="@node.nodeIdStr">
                                        <input class="govuk-checkboxes__input" id="@node.nodeIdStr" name="selected[]" type="checkbox" value="@node.nodeIdStr" @{if(node.isSelected) "checked"}>
                                        <label class="govuk-label govuk-checkboxes__label" for="@node.nodeIdStr">
                                        @if(node.isFolder) {
                                            📁
                                            <button class="folderNode" name="folderSelected" data-prevent-double-click="true" type="submit" role="button" value="@node.nodeIdStr">
                                            @node.displayName
                                            </button>
                                        } else {
                                            📊 <span class="fileNode">@node.displayName</span>
                                        }
                                        </label>
                                    </div>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </section>
                    <a href="#" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                        Back to closure metadata menu
                    </a>
                    @*These hidden fields need to be at the bottom because POST requests will call the first Input*@
                    @*Also needed because the form needs to be fully completed*@
                    <input type="hidden" id="pageSelected" name="pageSelected" value="1"/>
                    <input type="hidden" id="folderSelected" name="folderSelected" value="@{nodesFormData.value.get.folderSelected}"/>
                }
            </div>
        </div>
    }
}
