@import views.html.partials.{transferReference, metadata, backLink}
@import java.util.UUID

@import graphql.codegen.GetConsignmentFilesMetadata.getConsignmentFilesMetadata.GetConsignment.Files.FileMetadata

@(
    consignmentId: UUID,
    metadataType: String,
    fileIds: List[UUID],
    fileNames: List[String],
    consignmentRef: String,
    name: String,
    metadataList: List[FileMetadata],
    hasMetadata: Boolean)(implicit messages: Messages, request: RequestHeader)
@defining(s"View Metadata") { title =>
  @main(title, name = name, backLink = Some(backLink(routes.AdditionalMetadataNavigationController.getAllFiles(consignmentId, metadataType, Some("false")).url, "Choose a file"))) {
    @defining(play.core.PlayVersion.current) { version =>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <span class="govuk-caption-l">@metadataType.capitalize metadata</span>
          <h1 class="govuk-heading-l">@title</h1>
          <p class="govuk-body">View existing @metadataType metadata.</p>

          @metadata(fileNames, metadataList)

          <div class="govuk-button-group">
          @if(hasMetadata) {
            <a id="editMetadata" href="@routes.AddAdditionalMetadataController.addAdditionalMetadata(consignmentId, metadataType, fileIds)" role="button" draggable="false" class="govuk-button govuk-button--secondary govuk-!-margin-bottom-4" data-module="govuk-button">
              Edit metadata
            </a>
            <a id="deleteMetadata" href="@routes.DeleteAdditionalMetadataController.confirmDeleteAdditionalMetadata(consignmentId, metadataType, fileIds)" role="button" draggable="false" class="govuk-button govuk-button--secondary">
              Delete metadata
            </a>
          } else {
            @if(metadataType == "closure") {
              <a id="addMetadata" href="@routes.AdditionalMetadataClosureStatusController.getClosureStatusPage(consignmentId, metadataType, fileIds)" role="button" draggable="false" class="govuk-button govuk-button--secondary govuk-!-margin-bottom-4" data-module="govuk-button">
                Add closure metadata
              </a>
            } else {
              <a id="addMetadata" href="@routes.AddAdditionalMetadataController.addAdditionalMetadata(consignmentId, metadataType, fileIds)" role="button" draggable="false" class="govuk-button govuk-button--secondary govuk-!-margin-bottom-4" data-module="govuk-button">
                Add metadata
              </a>
            }
          }
          </div>
        </div>
        @transferReference(consignmentRef, isJudgmentUser = false)

      </div>
    }
  }
}
