@import views.html.partials.{transferReference, progressIndicator}
@import java.util.UUID

@(parentFolder: String, parentFolderId: UUID, consignmentRef: String, consignmentId: UUID, name: String)(implicit messages: Messages, request: RequestHeader)
@main(title = "Add, edit or delete metadata", name = name) {
  @defining(play.core.PlayVersion.current) { version =>
    @progressIndicator(Messages("additionalMetadataStart.progress"))
    <div class="govuk-grid-row additional-metadata-start">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Add, edit or delete metadata</h1>
        <h2 class="govuk-heading-s">Folder uploaded: @parentFolder</h2>
        <p class="govuk-body">You can now add or edit closure and descriptive metadata to your records. Or you can proceed without by clicking ‘Continue’ at the bottom of this page.</p>

        <div class="tdr-card tdr-metadata-card">
          <div class="tdr-card__content">
            <h2 class="govuk-heading-s">
              <a class="govuk-link govuk-link--no-visited-state" href="@routes.AdditionalMetadataNavigationController.getAllFiles(consignmentId, "descriptive")">Descriptive metadata</a>
            </h2>
            <p class="govuk-body">If you'd like to add or edit descriptive metadata to your records, you can do so here.</p>
          </div>
        </div>

        <div class="tdr-card tdr-metadata-card">
          <div class="tdr-card__content">
            <h2 class="govuk-heading-s">
              <a class="govuk-link govuk-link--no-visited-state" href="@routes.AdditionalMetadataNavigationController.getAllFiles(consignmentId, "closure")">Closure metadata</a>
            </h2>
            <p class="govuk-body">If you'd like to add or edit closure metadata to your records, you can do so here.</p>
          </div>
        </div>

        <a href="@routes.DownloadMetadataController.downloadMetadataPage(consignmentId)" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
          Continue
        </a>
      </div>
      @transferReference(consignmentRef, isJudgmentUser = false)
    </div>
  }
}
