@import views.html.partials.{transferReference, progressIndicator}
@import java.util.UUID

@import graphql.codegen.GetConsignmentFilesMetadata.getConsignmentFilesMetadata.GetConsignment.Files.FileMetadata

@(
    consignmentId: UUID,
    metadataType: String,
    fileIds: List[UUID],
    fileNames: List[String],
    consignmentRef: String,
    name: String,
    metadataList: List[FileMetadata])(implicit messages: Messages, request: RequestHeader)
@main(title = "Review metadata added", name = name) {
  @defining(play.core.PlayVersion.current) { version =>
    @progressIndicator(Messages("additionalMetadataSummary.progress"))
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
          Review @metadataType metadata changes
        </h1>
        <p class="govuk-body">You can edit, remove or save @metadataType metadata here.</p>
        <div class="govuk-button-group">
          <a href="@routes.AddAdditionalMetadataController.addAdditionalMetadata(consignmentId, metadataType, fileIds)" role="button" draggable="false" class="govuk-button govuk-button" data-module="govuk-button">
            Edit metadata
          </a>
          <a href="@routes.DeleteAdditionalMetadataController.confirmDeleteAdditionalMetadata(consignmentId, metadataType, fileIds)" role="button" draggable="false" class="govuk-button govuk-button--warning">
            Delete metadata
          </a>
        </div>
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name
            </dt>
            @for(fileName <- fileNames) {
              <dd class="govuk-summary-list__value">
                @fileName
              </dd>
            }
          </div>

          @for(metadata <- metadataList) {
            <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
              <dt class="govuk-summary-list__key">
              @metadata.name
              </dt>
              <dd class="govuk-summary-list__value">
              @metadata.value
              </dd>
            </div>
          }
        </dl>
        <a href="@routes.AdditionalMetadataNavigationController.getAllFiles(consignmentId, metadataType)" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
          Save and return to all files
        </a>
      </div>
      @transferReference(consignmentRef, isJudgmentUser = false)

    </div>
  }
}
