@import java.util.UUID
@import services.ConsignmentService.File
@import views.html.helper.CSRF
@(consignmentId: UUID, name: String, files: File, metadataType: String)(implicit messages: Messages, request: RequestHeader)

@display(file: File, level: Int, size: Int, pos: Int) = {
  @if(file.fileType.contains("File") || file.children.isEmpty) {
    <li
    class="govuk-tna-tree__item"
    role="treeitem"
    id="@file.id"
    aria-level="@level"
    aria-setsize="@size"
    aria-posinset="@pos"
    aria-selected="false"
    >
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" name="@file.id" id="checkbox-@file.id" tabindex="-1" type="checkbox" />
        <label class="govuk-label govuk-checkboxes__label" for="checkbox-@file.id">
          @file.name
        </label>
      </div>
    </li>
  } else {
  <li
  class="govuk-tna-tree__node-item"
  role="treeitem"
  id="@file.id"
  aria-expanded="true"
  aria-selected="false"
  aria-level="@level"
  aria-setsize="@size"
  aria-posinset="@pos"
  >
    <div class="govuk-tna-tree__node-item__container">
      <button
      class="govuk-tna-tree__expander"
      tabindex="-1"
      id="expander-@file.id"
      >
        <span class="govuk-visually-hidden">Expand</span>
      </button>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" name="@file.id" id="checkbox-@file.id" tabindex="-1" type="checkbox" />
        <label class="govuk-label govuk-checkboxes__label" for="checkbox-@file.id">
          @file.name
        </label>
      </div>
    </div>
    <ul class="govuk-tna-tree__nested-item-list" role="group" id="node-group-@file.id">
      @for((child, idx) <- file.children.zipWithIndex) {
        @display(child, level + 1, file.children.length, idx)
      }
    </ul>
  </li>
  }
}

@main("Additional Metadata", name = name) {
  @defining(play.core.PlayVersion.current) { version =>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
          Add or edit closure metadata on file basis
        </h1>
        <p class="govuk-body">You can now add or edit closure metadata to individual files or folders.</p>
        <form method="post" action="@routes.AdditionalMetadataNavigationController.submitFiles(consignmentId, metadataType)">
          @CSRF.formField
          <button class="govuk-button" type="submit" role="button" draggable="false">
            Add or Edit Metadata
          </button>
          <div class="govuk-tna-tree">
            <ul tabindex="0" class="govuk-tna-tree__nested-item-list" role="tree" aria-multiselectable="true">
            @display(files, 1, files.children.length, 0)
            </ul>
          </div>
          <button class="govuk-button" type="submit" role="button" draggable="false">
            Add or Edit Metadata
          </button>
        </form>

      </div>
    </div>
  }
}
