@import controllers.util.InputNameAndValue
@import views.html.helper.{CSRF, form}
@import views.html.partials.{errorMessage, inputSingleCheckbox, progressIndicator, transferReference, fileNameCard}

@import java.util.UUID
@import views.html.partials.warningMessage
@(consignmentId: UUID, metadataType: String, fileNames: List[String], fileIds: List[UUID], formData: Form[ClosureStatusFormData], inputNameAndValue: InputNameAndValue,
        areAllFilesClosed: Boolean, consignmentRef: String, closureProperties: List[String], name: String)(implicit messages: Messages, request: RequestHeader)
@fieldErrors = @{formData("closureStatus").errors.headOption match {
    case Some(formError) => formError.messages
    case None => Nil
}}

@main(title = "Check closure status", name = name) {
    @defining(play.core.PlayVersion.current) { version =>
        <span class="govuk-caption-l">@metadataType.capitalize metadata</span>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <h1 class="govuk-heading-l">
                Confirm closure status
                </h1>
                @if(areAllFilesClosed) {
                    @warningMessage(Messages(
                        "closureStatus.warningMessage",
                        routes.AdditionalMetadataSummaryController.getSelectedSummaryPage(consignmentId, metadataType, fileIds),
                        "Summary page"
                    ))
                }

                @form(routes.AdditionalMetadataClosureStatusController.submitClosureStatus(consignmentId, metadataType, fileIds), (Symbol("novalidate"), "")) {
                    @CSRF.formField
                    @fileNameCard(fileNames, s"You are adding $metadataType status to the following files:")

                    <div class="govuk-form-group @{if(fieldErrors.nonEmpty) "govuk-form-group--error" else ""}">
                        <fieldset class="govuk-fieldset">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                                <h2 class="govuk-fieldset__heading">
                                    Has this closure status been approved by the Advisory Council?
                                </h2>
                            </legend>

                            @errorMessage("closure", fieldErrors)
                            @inputSingleCheckbox(
                                inputNameAndValue.name,
                                Map(
                                    Symbol("_label") -> inputNameAndValue.value,
                                    Symbol("_value") -> "true",
                                    Symbol("_smallCheckbox") -> false,
                                    Symbol("_checkedOption") -> (if(areAllFilesClosed) "checked" else ""),
                                    Symbol("_requiredOption") -> true,
                                    Symbol("_disabledOption") -> (if(areAllFilesClosed) "disabled" else "")
                                ),
                                Nil
                            )
                        </fieldset>
                    </div>
                    <details class="govuk-details" data-module="govuk-details">
                        <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">
                                When you click continue, you will be asked to provide the following mandatory information for closed records.
                            </span>
                        </summary>
                        <div class="govuk-details__text">
                            <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                                @for(property <- closureProperties.filter(_.nonEmpty)) {
                                    <li>@property</li>
                                }
                            </ul>
                        </div>
                    </details>

                    <div class="govuk-button-group">
                        @if(areAllFilesClosed) {
                            <a class="govuk-button" href="@routes.AddAdditionalMetadataController.addAdditionalMetadata(consignmentId, metadataType, fileIds)" role="button" draggable="false" data-module="govuk-button">
                                Continue
                            </a>
                        } else {
                            <button type= "submit" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
                                Continue
                            </button>
                        }
                        <a class="govuk-link" href="@routes.AdditionalMetadataNavigationController.getAllFiles(consignmentId, "closure")">Cancel</a>
                    </div>
                }
            </div>
            @transferReference(consignmentRef, isJudgmentUser = false)
    </div>
    }
}
