@import java.util.UUID
@import viewsapi.FormFunctions._
@import helper.{inputRadioGroup => _, _}
@import views.html.partials.{errorSummary, inputSingleCheckbox, progressIndicator}

@import views.html.partials.notificationBanner
@(consignmentId: UUID, summary: ConsignmentSummaryData, finalTransferConfirmationForm: Form[FinalTransferConfirmationData], name: String)(implicit request: RequestHeader, messages: Messages)

@main("Confirm transfer", name = name) {
@defining(play.core.PlayVersion.current) { version =>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            @progressIndicator(Messages("confirmTransfer.progress"))

            <h1 class="govuk-heading-l">Confirm transfer</h1>
            @notificationBanner(
                Messages("notification.savedProgress.title"),
                Messages("notification.savedProgress.heading"),
                Messages("notification.savedProgress.metadataInfo", routes.ViewTransfersController.viewConsignments(1), "View Transfers")
            )
            <p class="govuk-body">Here is a summary of the records you have uploaded.</p>
            @errorSummary(
              List(
                  finalTransferConfirmationForm("transferLegalCustody").id -> finalTransferConfirmationForm("transferLegalCustody").errors.headOption
              ).collect { case (id, Some(formError)) => id -> formError.messages}
            )
            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key govuk-!-width-one-half">
                        Series reference
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @summary.seriesCode
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Consignment reference
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @summary.consignmentReference
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Transferring body
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @summary.transferringBody
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Files uploaded for transfer
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @summary.totalFiles @if(summary.totalFiles == 1) {file} else {files} uploaded
                    </dd>
                </div>
            </dl>
            @form(
                routes.ConfirmTransferController.finalTransferConfirmationSubmit(consignmentId),
                (Symbol("novalidate"), "")
            ) {
                <div class="govuk-form-group ">
                    @CSRF.formField
                    <fieldset class="govuk-fieldset" aria-label="final transfer confirmation">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                            @inputSingleCheckbox(
                                finalTransferConfirmationForm("transferLegalCustody").id,
                                Map(
                                    Symbol("_label") -> "By proceeding with this transfer, I confirm that I am agreeing to transfer legal custody of these records to The National Archives.",
                                    Symbol("_value") -> "true",
                                    Symbol("_smallCheckbox") -> true,
                                    Symbol("_checkedOption") -> finalTransferConfirmationForm.shouldOptionBeSelected("transferLegalCustody"),
                                    Symbol("_requiredOption") -> true
                                ),
                                finalTransferConfirmationForm("transferLegalCustody").errors.headOption match {
                                    case Some(formError) => formError.messages
                                    case None => Nil
                                }
                            )
                        </legend>
                    </fieldset>
                    <div class="govuk-button-group">
                            <!-- Transfer -->
                        <a href="@routes.DownloadMetadataController.downloadMetadataPage(consignmentId)" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                            Back
                        </a>
                        <button data-prevent-double-click="true" class="govuk-button" type="submit" data-module="govuk-button" role="button">
                            Transfer your records
                        </button>
                    </div>
                </div>
            }
        </div>
    </div>
}
}
