@import java.util.UUID
@import views.html.partials.{progressIndicator, transferReference}
@import views.html.partials.notificationBanner
@(consignmentId: UUID, consignmentRef: String, name: String)(implicit messages: Messages, request: RequestHeader)

@main("Download and review metadata", name = name) {
  @defining(play.core.PlayVersion.current) { version =>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        @progressIndicator(Messages("downloadMetadata.progress"))
      <h1 class="govuk-heading-l">Download and review metadata</h1>
      <div class="download-metadata">
        @notificationBanner(
          Messages("notification.savedProgress.title"),
          Messages("notification.savedProgress.heading"),
          Messages("notification.savedProgress.metadataInfo", routes.ViewTransfersController.viewConsignments(), "View Transfers")
        )
        <p class="govuk-body">
          You can review the metadata added to your records by downloading the CSV file. If you would like to add or amend the metadata, return to the previous step.
        </p>
        <a class="govuk-button govuk-!-margin-bottom-8 download-metadata" href="/consignment/@consignmentId/additional-metadata/download-metadata/csv">
          <span aria-hidden="true" class="tna-button-icon">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 21">
              <path fill="#fff" d="M15.96 21V2.52h-1.68v16.8H2.52V21h13.44Z"></path>
              <path fill="#fff" d="M0 0h13.44v18.48H0z"></path>
            </svg>
          </span>
          Download metadata CSV
        </a>

      </div>
      <div class="govuk-button-group">
        <a href="@routes.AdditionalMetadataController.start(consignmentId)" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Back
        </a>
        <a class="govuk-button" href="@routes.ConfirmTransferController.confirmTransfer(consignmentId)" role="button" draggable="false" data-module="govuk-button">
          Next
        </a>
      </div>

    </div>

      @transferReference(consignmentRef, isJudgmentUser = false)
    </div>
  }
}
