@import views.html.partials.{backLink, downloadMetadataLink, notificationBanner, transferReference}

@import java.util.UUID
@(consignmentId: UUID, consignmentRef: String, name: String)(implicit messages: Messages, request: RequestHeader)

@main("Download and review metadata", name = name, backLink = Some(backLink(routes.PrepareMetadataController.prepareMetadata(consignmentId).url, "Back")) ) {
  @defining(play.core.PlayVersion.current) { version =>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Download and review metadata</h1>
      <div class="download-metadata">
        @notificationBanner(
          Messages("notification.savedProgress.title"),
          Messages("notification.savedProgress.heading"),
          Messages("notification.savedProgress.metadataInfo", routes.ViewTransfersController.viewConsignments(1), "View Transfers")
        )

        <h2 class="govuk-heading-m">Review your metadata</h2>
        <p class="govuk-body">Download your metadata file and check if it is correct. This will be downloaded as an Excel file.</p>
        <p class="govuk-body">If you would like to add or amend the metadata, return to <a href="@routes.PrepareMetadataController.prepareMetadata(consignmentId)" class="govuk-link">prepare your metadata.</a></p>

        @downloadMetadataLink(consignmentId, url = routes.DownloadMetadataController.downloadMetadataFile(consignmentId, None).url)
      </div>
      <div class="govuk-button-group">
        <a href="@routes.RequestMetadataReviewController.requestMetadataReviewPage(consignmentId)" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
          Continue
        </a>
      </div>

    </div>

      @transferReference(consignmentRef, isJudgmentUser = false)
    </div>
  }
}
