@import views.html.partials.progressIndicator
@(name: String)(implicit request: RequestHeader, messages: Messages)

@main("Results of checks", name = name) {
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      @progressIndicator(Messages("checkingRecords.progress"))
      <h1 class="govuk-heading-l">Results of your checks</h1>

      <div id="upload-progress-error" class="govuk-error-summary upload-error" aria-labelledby="error-summary-title"
      role="alert" data-module="govuk-error-summary" tabindex="-1">
          <h2 class="govuk-error-summary__title" id="error-summary-title">
              There is a problem
          </h2>
          <div class="govuk-error-summary__body">
            <p class="govuk-body">One or more files you uploaded have failed our checks. Please
                <a class="govuk-link" href="@routes.ContactController.contact()">contact</a>
                us to resolve this issue.
            </p>
            <p class="govuk-body">Possible failure causes:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>Password protected files</li>
              <li>Zip files</li>
              <li>Corrupted files</li>
            </ul>
          </div>
      </div>
      <a href="@routes.HomepageController.homepage()" role="button" draggable="false" class="govuk-button govuk-button--primary">
          Return to start
      </a>
    </div>
  </div>
}
