@import views.html.partials.{progressIndicator, transferReference}

@import java.util.UUID
@(consignmentInfo: ConsignmentFolderInfo, title: String, consignmentId: UUID, consignmentRef: String, name: String, blockClosureMetadata: Boolean, blockDescriptiveMetadata: Boolean)(implicit messages: Messages, request: RequestHeader)

@main(title, name = name) {
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            @progressIndicator(Messages("fileChecksResults.progress"))
            <h1 class="govuk-heading-l">@title</h1>
            <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
                <div class="govuk-notification-banner__header">
                    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                        Success
                    </h2>
                </div>
                <div class="govuk-notification-banner__content">
                    <h3 class="govuk-notification-banner__heading">
                        Your folder '@{consignmentInfo.parentFolder}' containing @{consignmentInfo.numberOfFiles} item@if(consignmentInfo.numberOfFiles > 1){s} has been successfully uploaded.
                    </h3>
                    <p class="govuk-body">You can leave and return to this transfer at any time from the <a class="govuk-notification-banner__link" href="@routes.ViewTransfersController.viewConsignments()">View transfers</a> page.</p>
                </div>
            </div>
            <div class="govuk-warning-text">
                <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                <strong class="govuk-warning-text__text">
                    <span class="govuk-warning-text__assistive">Warning</span>
                    Now that your records have been uploaded you can proceed with the transfer. In the next step you will be given the opportunity to add metadata to your records before transferring them.</strong>
            </div>
            @if(blockClosureMetadata || blockDescriptiveMetadata) {
                <a class="govuk-button" href="@routes.ConfirmTransferController.confirmTransfer(consignmentId)" role="button" draggable="false" data-module="govuk-button">
                    Next
                </a>
            } else {
                <a class="govuk-button" href="@routes.AdditionalMetadataController.start(consignmentId)" role="button" draggable="false" data-module="govuk-button">
                    Next
                </a>
            }
        </div>
        @transferReference(consignmentRef, isJudgmentUser = false)
    </div>

}
