@import views.html.partials.{progressIndicator, transferReference}

@import java.util.UUID
@import controllers.util.DropdownField
@import views.html.partials.inputDropdown
@(consignmentId: UUID, consignmentRef: String, dropdownField: DropdownField, name: String)(implicit request: RequestHeader,
messages: Messages)
@disabledStatus = {disabled}
@defining("Choose a series") { title =>
  @main(title, name = name) {
@defining(play.core.PlayVersion.current) { version =>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        @progressIndicator(Messages("seriesDetails.progress"))

        <h1 class="govuk-heading-l">@title</h1>
        <div id="upload-progress-success" class="success-summary" aria-labelledby="success-summary-title"
        role="alert" data-module="success-summary" tabindex="-1">
            <div class="success-summary__body">
                <h2 class="success-summary__title">You have already chosen a series reference</h2>
                <p class="govuk-body">Click 'Continue' to proceed with your transfer.</p>
            </div>
        </div>
            @inputDropdown(
                dropdownField.fieldId,
                dropdownField.fieldName,
                dropdownField.fieldDescription,
                dropdownField.options,
                dropdownField.selectedOption,
                dropdownField.multiValue,
                Map(
                    Symbol("_dynamicForm") -> false,
                    Symbol("_disabledOption") -> disabledStatus
                ),
                dropdownField.fieldErrors,
            )

        <div class="govuk-button-group">
            <a role="button" data-prevent-double-click="true" class="govuk-button" data-module="govuk-button" href="@routes.TransferAgreementPart1Controller.transferAgreement(consignmentId)">
                    Continue
            </a>

            <a class="govuk-link" href="@routes.HomepageController.homepage()">Cancel</a>
        </div>
            }
    </div>
    @transferReference(consignmentRef, isJudgmentUser = false)
</div>
}
}
