@* helper package contains inputRadioGroup therefore exclude from imports to prevent ambiguous import with view of the same name *@
@import helper.{inputRadioGroup => _, _}
@import java.util.UUID

@import scala.language.postfixOps
@import views.html.partials.{errorSummary, progressIndicator, transferAgreementHeader, transferAgreementWarning, transferAgreementFormGroup, transferAgreementNavButtons, transferReference}

@(consignmentId: UUID, consignmentRef: String, transferAgreementFormData: Form[TransferAgreementData], taFormNameAndLabel: Seq[(String, String)], warningMessage: String, formHeading: String, name: String)(implicit request: RequestHeader, messages: Messages)
@main("Transfer agreement (part 1)", name = name) {
@defining(play.core.PlayVersion.current) { version =>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        @transferAgreementHeader(" (part 1)")
        <p class="govuk-hint">You must confirm all statements before proceeding.</p>
        @transferAgreementWarning(warningMessage)
        @errorSummary(
            transferAgreementFormData.formats.keys.toList
                    .map(key => transferAgreementFormData(key).id -> transferAgreementFormData(key).errors.headOption)
                    .collect { case (id, Some(formError)) => id -> formError.messages}
        )
        @form(
            routes.TransferAgreementPart1Controller.transferAgreementSubmit(consignmentId),
            (Symbol("novalidate"), "")
        ) {
        @transferAgreementFormGroup(transferAgreementFormData: Form[TransferAgreementData], taFormNameAndLabel, formAlreadySubmitted=false, formHeading)
        @transferAgreementNavButtons()
        }
    </div>
    @transferReference(consignmentRef, isJudgmentUser = false)
</div>
}
}
