@* helper package contains inputRadioGroup therefore exclude from imports to prevent ambiguous import with view of the same name *@
@import helper.{inputRadioGroup => _, _}
@import java.util.UUID

@import scala.language.postfixOps
@import views.html.partials.{errorSummary, progressIndicator, transferAgreementHeader, transferAgreementFormGroup, transferAgreementNavButtons, transferReference}

@(consignmentId: UUID, consignmentRef: String, transferAgreementFormData: Form[TransferAgreementPart2Data], taFormNamesAndLabels: Seq[(String, String)],
        fieldSetLegend: String, name: String)(implicit request: RequestHeader, messages: Messages
)
@main("Transfer agreement (part 2)", name = name) {
@defining(play.core.PlayVersion.current) { version =>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        @transferAgreementHeader(" (part 2)")
        <p class="govuk-hint govuk-!-margin-bottom-6">You must confirm all statements before proceeding. If you cannot, please close your browser and contact your transfer advisor.</p>

        @errorSummary(
            transferAgreementFormData.formats.keys.toList
                    .map(key => transferAgreementFormData(key).id -> transferAgreementFormData(key).errors.headOption)
                    .collect { case (id, Some(formError)) => id -> formError.messages}
        )
        @form(
            routes.TransferAgreementPart2Controller.transferAgreementSubmit(consignmentId),
            (Symbol("novalidate"), "")
        ) {
        @transferAgreementFormGroup(transferAgreementFormData: Form[TransferAgreementPart2Data], taFormNamesAndLabels, formAlreadySubmitted=false, fieldSetLegend)
        @transferAgreementNavButtons()
        }
    </div>
    @transferReference(consignmentRef, isJudgmentUser = false)
</div>
}
}
