@import views.html.partials.{feedbackSurvey, progressIndicator, returnToStartPage}

@import java.util.UUID
@(consignmentId: UUID, consignmentReference: String, name: String)(implicit messages: Messages, request: RequestHeader)
    @main("Transfer complete", name = name) {
        @defining(play.core.PlayVersion.current) { version =>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">

                    <div class="govuk-panel govuk-panel--confirmation">
                        <h1 class="govuk-panel__title">
                            Transfer complete
                        </h1>
                        <div class="govuk-panel__body govuk-!-font-size-27">
                        Your records have now been transferred to The National Archives.
                        </div>
                        <div class="govuk-panel__body govuk-!-font-size-27 govuk-!-margin-top-5">
                            Consignment reference: <span class="govuk-!-font-weight-bold">@consignmentReference</span>
                        </div>
                    </div>

                    <p class="govuk-body">Your records are now transferred to The National Archives.
                        They are not yet preserved so you must not delete the original records.
                        We will notify you by email when we have preserved your records.</p>

                    <h2 class="govuk-heading-m govuk-!-margin-top-2">What happens next</h2>

                    <p class="govuk-body">We will contact you via email within 90 days. If you do not receive an email, contact <a href="mailto:@Messages("nationalArchives.email")">@Messages("nationalArchives.email")</a>.</p>

                    @feedbackSurvey("https://www.smartsurvey.co.uk/s/tdr-feedback/")

                    <a href="@routes.HomepageController.homepage()" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
                        Return to homepage
                    </a>
                </div>

            </div>
        }
    }
