@* helper package contains inputRadioGroup therefore exclude from imports to prevent ambiguous import with view of the same name *@
@import helper.{inputRadioGroup => _, _}
@import java.util.UUID

@import scala.language.postfixOps
@import views.html.partials.{errorSummary, progressIndicator, transferAgreementHeader, transferAgreementWarning, transferAgreementFormGroup2}

@import views.html.partials.transferAgreementFormGroup2
@(consignmentId: UUID, transferAgreementFormData: Form[TransferAgreementComplianceData], agreementOptions: Seq[(String, String)], warningMessage: String, name: String)(implicit request: RequestHeader, messages: Messages)
@main("Transfer agreement continued", name = name) {
@defining(play.core.PlayVersion.current) { version =>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        @transferAgreementHeader(" continued")
        <p class="govuk-body">You must confirm all statements before proceeding. If you cannot, please close your browser and contact your transfer advisor.</p>
        @errorSummary(
            transferAgreementFormData("droAppraisalSelection"),
            transferAgreementFormData("droSensitivity"),
            transferAgreementFormData("openRecords"),
        )
        @form(
            routes.TransferAgreementController2.transferAgreementSubmit(consignmentId),
            (Symbol("novalidate"), "")
        ) {
        @transferAgreementFormGroup2(transferAgreementFormData: Form[TransferAgreementComplianceData], formAlreadySubmitted=false)
        <div class="govuk-button-group">
            <button data-prevent-double-click="true" class="govuk-button" type="submit" data-module="govuk-button" role="button">
                Continue
            </button>

            <a class="govuk-link" href="@routes.HomepageController.homepage()">Cancel</a>
        </div>
        }
    </div>
</div>
}
}