@* helper package contains inputRadioGroup therefore exclude from imports to prevent ambiguous import with view of the same name *@
@import helper.{inputRadioGroup => _, _}
@import java.util.UUID

@import scala.language.postfixOps
@import views.html.partials.{errorSummary, progressIndicator, transferAgreementHeader, transferAgreementWarning, transferAgreementFormGroup}

@(consignmentId: UUID, transferAgreementFormData: Form[TransferAgreementData], agreementOptions: Seq[(String, String)])(implicit request: RequestHeader, messages: Messages)
@main("Transfer agreement") {
@defining(play.core.PlayVersion.current) { version =>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        @transferAgreementHeader()
        @transferAgreementWarning()
        @errorSummary(
            transferAgreementFormData("publicRecord"),
            transferAgreementFormData("crownCopyright"),
            transferAgreementFormData("english"),
            transferAgreementFormData("droAppraisalSelection"),
            transferAgreementFormData("droSensitivity"),
            transferAgreementFormData("openRecords"),
        )
        @form(
            routes.TransferAgreementController.transferAgreementSubmit(consignmentId),
            (Symbol("novalidate"), "")
        ) {
        @transferAgreementFormGroup(transferAgreementFormData: Form[TransferAgreementData], formAlreadySubmitted=false)
        <div class="govuk-button-group">
            <button data-prevent-double-click="true" class="govuk-button" type="submit" data-module="govuk-button" role="button">
                Continue
            </button>

            <a class="govuk-link" href="@routes.HomepageController.homepage()">Cancel</a>
        </div>
        }
    </div>
</div>
}
}