@import helper._
@import views.html.partials._
@import viewsapi.FrontEndInfo

@import java.util.UUID
@(consignmentId: UUID, consignmentRef: String, pageHeading1stHalf:String, pageHeading2ndHalf: String, frontEndInfo: FrontEndInfo, name: String)(implicit request: RequestHeader, messages: Messages)

@main(pageHeading1stHalf, name = name) {
<noscript>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            @progressIndicator(Messages("upload.progress"))
            <h1 class="govuk-heading-l">@pageHeading1stHalf</h1>
            @noScriptMessage()
        </div>
    </div>
</noscript>
<div id="file-upload" class="govuk-grid-row" hidden>
    @CSRF.formField
    <div class="govuk-grid-column-two-thirds">
        @progressIndicator(Messages("upload.progress"))
        @frontEndInputs(frontEndInfo)

        <h1 class="govuk-heading-l">@pageHeading1stHalf</h1>
        <p class="govuk-body">Before uploading, all records (files and folders) you wish to transfer must be put into a single, top-level folder.</p>
        <p class="govuk-body">There is a size limit of 2GB for an individual file and we ask that you upload no more than 500 files per consignment. If you need to transfer larger files, contact us at <a href="mailto:@Messages("nationalArchives.email")">@Messages("nationalArchives.email")</a>. If your folder contains files that we cannot accept, you may have to start again.</p>
        <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    Check which files we accept
                </span>
            </summary>
            <div class="govuk-details__text">
                We cannot accept files and folders which are password protected, zipped or contain slashes (/ and \) in the name. You must remove all thumbnail images (thumbs.db) and executable files (.exe). Empty folders will not be transferred.
            </div>
        </details>
        <h2 class="govuk-heading-m">Choose a folder to upload</h2>
        <p class="govuk-body">The 'Choose folder' button below will cause your browser to open a dialog box to find and select a folder. Once selected, you will be prompted to confirm your choice.</p>
        <div id="upload-error" class="govuk-error-summary upload-error" hidden aria-labelledby="error-summary-title"
            role="alert" tabindex="-1" data-module="govuk-error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
                There is a problem
            </h2>
            <div class="govuk-error-summary__body">
                <p>Some or all of your files failed to upload</p>
                <p class="upload-error__message"></p>
            </div>
        </div>
        @loggedOutErrorMessage("file-upload")
        <form id="file-upload-form" data-consignment-id="@consignmentId">
            <div class="govuk-form-group">
                <div class="drag-and-drop">
                    <div class="govuk-form-group">
                        <div id="selection-area">
                            @itemSelectionFailureMessage("multiple-folder-selection-failure", "multiple-folder-selected-message-text", "upload.dragAndDropMultipleFoldersErrorMessage")
                            @itemSelectionFailureMessage("multiple-selection-failure", "multiple-object-type-selected-message-text", "upload.standard.dragAndDropMultipleFilesErrorMessage")
                            @itemSelectionFailureMessage("item-selection-failure", "wrong-object-type-selected-message-text", "upload.dragAndDropFolderErrorMessage")
                            @itemSelectionFailureMessage("nothing-selected-submission-message", "submission-without-anything-selected-text", "upload.submissionWithoutAFolderMessage")
                            <div class="drag-and-drop__dropzone">
                                <input type="file" id="file-selection" name="files"
                                class="govuk-file-upload drag-and-drop__input" webkitdirectory
                                @* Specify an arbitrary type in the 'accept' attribute to work around a bug in
                                Safari 14.0.1, which does not let the user browse for files if the 'accept'
                                attribute is missing. The actual value of the attribute is ignored because
                                'webkitdirectory' is specified. It just needs to be present to fix the Safari bug. *@
                                accept="*"
                                >
                                <p class="govuk-body drag-and-drop__hint-text">Drag and drop a single top-level folder here or &nbsp;</p>
                                <label for="file-selection" class="govuk-button govuk-button--secondary drag-and-drop__button">
                                    Choose folder
                                </label>
                            </div>
                        </div>
                        <div id="success-and-removal-message-container" class="govuk-summary-list govuk-file-upload govuk-visually-hidden">
                            <div class="js-drag-and-drop-selected drag-and-drop__selected" id="item-selection-success-container">
                                <p id="success-message-text" aria-live="assertive" aria-atomic="true" class="govuk-!-margin-bottom-3 govuk-!-margin-top-0 drag-and-drop__selected__description">The folder <strong id="files-selected-folder-name" class="folder-name"></strong> (containing <span class="folder-size"></span>) has been selected.</p>
                                <a id="remove-file-btn" href="#" aria-describedby="files-selected-folder-name" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19 govuk-body govuk-!-font-weight-bold">Remove<span class="govuk-visually-hidden">&nbsp; selected files</span></a>
                            </div>
                            <div class="js-drag-and-drop-selected drag-and-drop__selected" id="removed-selection-container" hidden="true">
                                <p id="removed-selection-message-text" class="govuk-error-message">The folder "<span class="folder-name"></span>" (containing <span class="folder-size"></span>) has been removed. Select a folder.</p>
                            </div>
                        </div>
                        <p class="govuk-body">For information on what metadata will be captured during upload, visit the <a href="@routes.FaqController.faq()#metadata-captured" target="_blank" rel="noopener noreferrer" class="govuk-link">FAQ (opens in new tab)</a>.</p>
                        <div class="govuk-form-group">
                            <div class="govuk-checkboxes">
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="includeTopLevelFolder" name="includeTopLevelFolder" type="checkbox">
                                    <label class="govuk-label govuk-checkboxes__label" for="includeTopLevelFolder">
                                        Check the box if you want to display the name of your top-level folder in the public catalogue.
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="govuk-button-group">
                            <button id="start-upload-button" class="govuk-button" type="submit" data-module="govuk-button" role="button">
                                Start upload
                            </button>

                            <a class="govuk-link" href="@routes.HomepageController.homepage()">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    @transferReference(consignmentRef, isJudgmentUser = false)
</div>
<div id="upload-progress" class="govuk-grid-row" hidden>
    <div class="govuk-grid-column-two-thirds" role="status" aria-live="assertive">
        @progressIndicator(Messages("upload.progress"))
        <h1 class="govuk-heading-l">@pageHeading2ndHalf</h1>
        <div id="upload-progress-error" hidden>
            <div class="govuk-error-summary upload-error" aria-labelledby="progress-error-summary-title"
                role="alert" tabindex="-1" data-module="govuk-error-summary">
                <h2 class="govuk-error-summary__title" id="progress-error-summary-title">
                    There is a problem
                </h2>
                <div class="govuk-error-summary__body">
                    <p>Some or all of your files failed to upload.</p>
                    <p class="upload-progress-error-timeout__message" hidden>Your upload has timed out. Click 'Return to start' to begin a new transfer.</p>
                    <p class="upload-progress-error-authentication__message" hidden>You have been signed out. Click 'Return to start' to begin a new transfer.</p>
                    <p class="upload-progress-error-general__message" hidden>Click 'Return to start' to begin a new transfer.</p>
                </div>
            </div>
            <a class="govuk-button" href="@routes.HomepageController.homepage()" role="button" draggable="false" data-module="govuk-button">
                Return to start
            </a>
        </div>
        @loggedOutErrorMessage("upload-progress")
        <div id="progress-bar-and-message">
            <p class="govuk-body">Do not close your browser while your records are being uploaded. This may take a few minutes.</p>
            <div>
                <span id="upload-status-screen-reader">
                    <span id="upload-records-progress-label" class="govuk-label progress-label">
                        @pageHeading2ndHalf <span id="upload-percentage" role="status" aria-live="polite"></span>
                    </span>
                </span>
                <div class="progress-bar">
                    <div aria-labelledby="upload-records-progress-label" class="progress-display" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>
    </div>
    @transferReference(consignmentRef, isJudgmentUser = false)
</div>
}
