@import helper._
@import views.html.partials._
@import viewsapi.FrontEndInfo

@import java.util.UUID
@(consignmentId: UUID, frontEndInfo: FrontEndInfo, name: String)(implicit request: RequestHeader, messages: Messages)

@main("", name = name) {
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l govuk-!-margin-bottom-9">Test Upload</h1>
            @helper.form(action = routes.UploadControllerV2.startUpload(consignmentId), Symbol("enctype") -> "multipart/form-data") {
                @CSRF.formField
                <input type="file" multiple name="files">
                <p>
                    <input type="submit">
                </p>
            }
        </div>
    </div>
}