@import helper._
@import views.html.partials._
@import viewsapi.FrontEndInfo

@import java.util.UUID
@(consignmentId: UUID, consignmentRef: String, pageHeading1stHalf:String, pageHeading2ndHalf: String, frontEndInfo: FrontEndInfo, name: String)(implicit request: RequestHeader, messages: Messages)

@main(pageHeading1stHalf, name = name) {
<noscript>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            @progressIndicator(Messages("upload.progress"))
            <h1 class="govuk-heading-l">@pageHeading1stHalf</h1>
            @noScriptMessage()
        </div>
    </div>
</noscript>
<div id="file-upload" class="govuk-grid-row" hidden>
    @CSRF.formField
    <div class="govuk-grid-column-two-thirds">
        @progressIndicator(Messages("upload.progress"))
        @frontEndInputs(frontEndInfo)

        <h1 class="govuk-heading-l">@pageHeading1stHalf</h1>
        <p class="govuk-body">You can only upload one folder to be transferred. If your folder contains files that we cannot accept, you may have to start again.</p>
        <p class="govuk-body">There is no limit to the size of the files but larger files may take longer to be uploaded and checked.</p>
        <div class="govuk-inset-text">
            We cannot accept files or folders which are password protected, zipped or contain slashes (/ and \) in the name. Remove any thumbnail images (thumb dbs) and executable files (.exe) from the records before uploading.
        </div>
        <div id="upload-error" class="govuk-error-summary upload-error" hidden aria-labelledby="error-summary-title"
            role="alert" tabindex="-1" data-module="govuk-error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
                There is a problem
            </h2>
            <div class="govuk-error-summary__body">
                <p>Some or all of your files failed to upload</p>
                <p class="upload-error__message"></p>
            </div>
        </div>
        @loggedOutErrorMessage("file-upload")
        <form id="file-upload-form" data-consignment-id="@consignmentId">
            <div class="govuk-form-group">
                <div class="drag-and-drop">
                    <div id="success-and-removal-message-container" class="govuk-summary-list govuk-file-upload" hidden="true">
                        <div class="govuk-summary-list__row">
                            <dd class="govuk-summary-list__value drag-and-drop__success"
                                tabindex="-1" role="alert" aria-describedby="success-message-text">
                                <div class="success-message-flexbox-container" id="item-selection-success-container">
                                    <p id="success-message-text" class="success-message">The folder "<span class="folder-name"></span>" (containing <span class="folder-size"></span>) has been selected </p>
                                    <a class="success-message-flexbox-item" id="remove-file-btn" href="#">Remove</a>
                                </div>
                                <div class="success-message-flexbox-container" id="removed-selection-container" hidden="true">
                                    <p id="removed-selection-message-text" class="govuk-error-message">The folder "<span class="folder-name"></span>" (containing <span class="folder-size"></span>) has been removed. Select a folder.</p>
                                </div>
                            </dd>
                        </div>
                    </div>
                    <div>
                        <div class="govuk-form-group">
                            <div id="selection-area">
                                @itemSelectionFailureMessage("multiple-folder-selection-failure", "multiple-folder-selected-message-text", "upload.dragAndDropMultipleFoldersErrorMessage")
                                @itemSelectionFailureMessage("multiple-selection-failure", "multiple-object-type-selected-message-text", "upload.standard.dragAndDropMultipleFilesErrorMessage")
                                @itemSelectionFailureMessage("item-selection-failure", "wrong-object-type-selected-message-text", "upload.dragAndDropFolderErrorMessage")
                                @itemSelectionFailureMessage("nothing-selected-submission-message", "submission-without-anything-selected-text", "upload.submissionWithoutAFolderMessage")
                                <div class="drag-and-drop__dropzone">
                                    <input type="file" id="file-selection" name="files"
                                    class="govuk-file-upload drag-and-drop__input" webkitdirectory
                                    @* Specify an arbitrary type in the 'accept' attribute to work around a bug in
                                    Safari 14.0.1, which does not let the user browse for files if the 'accept'
                                    attribute is missing. The actual value of the attribute is ignored because
                                    'webkitdirectory' is specified. It just needs to be present to fix the Safari bug. *@
                                    accept="*"
                                    >
                                    <p class="govuk-body drag-and-drop__hint-text">Drag and drop a single folder here or</p>
                                    <label for="file-selection" class="govuk-button govuk-button--secondary drag-and-drop__button">
                                        Choose folder
                                    </label>
                                </div>
                            </div>
                            <p class="govuk-body">For more information on what metadata will be captured during the upload please visit our <a href="@routes.FaqController.faq()#metadata-captured" target="_blank" rel="noopener noreferrer" class="govuk-link">FAQ (opens in new tab)</a>.</p>

                            <div class="govuk-button-group">
                                <button id="start-upload-button" class="govuk-button" type="submit" data-module="govuk-button" role="button">
                                    Start upload
                                </button>

                                <a class="govuk-link" href="@routes.HomepageController.homepage()">Cancel</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <!--        Form to redirect user once upload has completed. It sends consignmentId to file checks placeholder page -->
        @form(routes.FileChecksController.fileChecksPage(consignmentId), Symbol("id") -> "upload-data-form") { }
    </div>
    @transferReference(consignmentRef, isJudgmentUser = false)
</div>
<div id="upload-progress" class="govuk-grid-row" hidden>
    <div class="govuk-grid-column-two-thirds" role="status" aria-live="assertive">
        @progressIndicator(Messages("upload.progress"))
        <h1 class="govuk-heading-l">@pageHeading2ndHalf</h1>
        <div id="upload-progress-error" hidden>
            <div class="govuk-error-summary upload-error" aria-labelledby="progress-error-summary-title"
                role="alert" tabindex="-1" data-module="govuk-error-summary">
                <h2 class="govuk-error-summary__title" id="progress-error-summary-title">
                    There is a problem
                </h2>
                <div class="govuk-error-summary__body">
                    <p>Some or all of your files failed to upload.</p>
                    <p class="upload-progress-error-timeout__message" hidden>Your upload has timed out. Click 'Return to start' to begin a new transfer.</p>
                    <p class="upload-progress-error-authentication__message" hidden>You have been signed out. Click 'Return to start' to begin a new transfer.</p>
                    <p class="upload-progress-error-general__message" hidden>Click 'Return to start' to begin a new transfer.</p>
                </div>
            </div>
            <a class="govuk-button" href="@routes.HomepageController.homepage()" role="button" draggable="false" data-module="govuk-button">
                Return to start
            </a>
        </div>
        @loggedOutErrorMessage("upload-progress")
        <div id="progress-bar-and-message">
            <p class="govuk-body">Do not close your browser window while your files are being uploaded. This could take a few minutes.</p>
            <div>
                <span id="upload-status-screen-reader">
                    <label for="upload-records-progress-bar" class="govuk-label progress-label">
                        @pageHeading2ndHalf <span id="upload-percentage" role="status" aria-live="polite"></span>
                    </label>
                </span>
                <div class="progress-bar">
                    <div class="progress-display" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>
    </div>
    @transferReference(consignmentRef, isJudgmentUser = false)
</div>
}
