@(name:String)(implicit messages: Messages, request: RequestHeader)
@defining("Welcome to the Transfer Digital Records service") { title =>
    @main(title, name = name) {
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l govuk-!-margin-bottom-9">@title</h1>
                <a href="#" role="button" draggable="false" class="govuk-button" data-module="govuk-button">Transfers for Review</a>
            </div>
        </div>
    }
}
