@import controllers.util.DropdownField
@import graphql.codegen.GetConsignmentDetailsForMetadataReview.{getConsignmentDetailsForMetadataReview => gcdfmr}
@import helper._
@import views.html.partials.{downloadMetadataLink, errorSummary, inputDropdown}

@import java.util.UUID
@(consignmentId: UUID, consignmentDetails: gcdfmr.GetConsignment, action: String, totalSubmissions: Int, dateSubmitted: String, lastReviewedBy: Option[String], lastUpdated: Option[String], lastNote: Option[String], userEmail: String, dropdownField: DropdownField, statusReasonErrors: Seq[String], isTransferAdvisor: Boolean, showSuccessBanner: Boolean)(implicit request: RequestHeader, messages: Messages)

@tagClass(status: String) = @{
    status.toLowerCase match {
        case "submission"   => "govuk-tag--red"
        case "rejection"    => "govuk-tag--yellow"
        case "approval"     => "govuk-tag--green"
        case "confirmation" => "govuk-tag--grey"
        case _              => ""
    }
}

@tagLabel(status: String) = @{
    status.toLowerCase match {
        case "submission"   => "Requested"
        case "rejection"    => "Rejected"
        case "approval"     => "Approved"
        case "confirmation" => "Transferred"
        case _              => status
    }
}

@main("View Request for Metadata", hasError = dropdownField.fieldErrors.nonEmpty || statusReasonErrors.nonEmpty, backLink = None, isTnaUser = true) {
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

            @errorSummary(
                (if(dropdownField.fieldErrors.nonEmpty) List(dropdownField.fieldId -> dropdownField.fieldErrors) else Nil) ++
                (if(statusReasonErrors.nonEmpty) List("status-reason" -> statusReasonErrors) else Nil)
            )

            @if(showSuccessBanner) {
            <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner" data-govuk-notification-banner-init="">
                <div class="govuk-notification-banner__header">
                    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                        Transfer details updated
                    </h2>
                </div>
                <div class="govuk-notification-banner__content">
                    <h3 class="govuk-notification-banner__heading">
                        Saved to <a class="govuk-notification-banner__link" href="">submission history – @consignmentDetails.consignmentReference</a>
                    </h3>
                </div>
            </div>
            }

            <h1 class="govuk-heading-l">Transfer details for @consignmentDetails.consignmentReference</h1>
            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
                    <dt class="govuk-summary-list__key">
                        Status
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <strong class="govuk-tag @tagClass(action)">@tagLabel(action)</strong>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Submission number
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @totalSubmissions
                    </dd>
                    @if(totalSubmissions > 1) {
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="">View submission history<span class="govuk-visually-hidden"> submission number</span></a>
                    </dd>
                    }
                </div>
                <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
                    <dt class="govuk-summary-list__key">
                        Date submitted
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @dateSubmitted
                    </dd>
                </div>
                <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
                    <dt class="govuk-summary-list__key">
                        Department
                    </dt>
                    <dd class="govuk-summary-list__value">
                    @consignmentDetails.transferringBodyName
                    </dd>
                </div>
                <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
                    <dt class="govuk-summary-list__key">
                        Contact email
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <a href="mailto:@userEmail" class="govuk-link">
                        @userEmail</a>
                    </dd>
                </div>
                <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
                    <dt class="govuk-summary-list__key">
                        Series
                    </dt>
                    <dd class="govuk-summary-list__value">
                    @consignmentDetails.seriesName
                    </dd>
                </div>
                <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
                    <dt class="govuk-summary-list__key">
                        Total/open/closed records
                    </dt>
                    <dd class="govuk-summary-list__value">
                        Total: @consignmentDetails.totalFiles  Open: @(consignmentDetails.totalFiles - consignmentDetails.totalClosedRecords)  Closed: @consignmentDetails.totalClosedRecords
                    </dd>
                </div>
                <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
                    <dt class="govuk-summary-list__key">
                        Legal status
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @consignmentDetails.consignmentMetadata.find(_.propertyName == "LegalStatus").map(_.value).getOrElse("")
                    </dd>
                </div>
                <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
                    <dt class="govuk-summary-list__key">
                        Display top level folder
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @(consignmentDetails.includeTopLevelFolder.map(v => if(v) "Yes" else "No").getOrElse(""))
                    </dd>
                </div>
            </dl>

            @if(lastReviewedBy.isDefined || lastUpdated.isDefined) {
                @lastReviewedBy.map { reviewedBy =>
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Last reviewed by
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <a href="mailto:@reviewedBy" class="govuk-link">@reviewedBy</a>
                        </dd>
                    </div>
                    }
                    @lastUpdated.map { updatedDate =>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Last updated
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @updatedDate
                        </dd>
                    </div>
                    @if(showSuccessBanner) {
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key govuk-!-width-one-quarter">
                            Reason for status change
                        </dt>
                        <dd class="govuk-summary-list__value govuk-!-width-one-half">
                            @lastNote.getOrElse("")
                        </dd>
                    </div>
                    }
                </dl>
                }
            }

            @if(!showSuccessBanner && action.toLowerCase != "rejection") {
                @downloadMetadataLink(consignmentId, url = routes.DownloadMetadataController.downloadMetadataFile(consignmentId, Some("MetadataReviewDetailTemplate")).url)
            }

            @if(action.toLowerCase == "rejection") {
                @downloadMetadataLink(consignmentId, url = routes.DownloadMetadataController.downloadCsvMetadataFile(consignmentId).url)
            }

            @if(isTransferAdvisor && action.toLowerCase == "submission") {
                <hr class="govuk-section-break govuk-section-break--m">
                <h2 class="govuk-heading-m">Change status for this transfer</h2>

                @form(routes.MetadataReviewActionController.submitReview(consignmentId, consignmentDetails.consignmentReference, userEmail), (Symbol("novalidate"), "")) {
                    @CSRF.formField
                    @inputDropdown(
                        dropdownField.fieldId,
                        dropdownField.fieldName,
                        dropdownField.fieldDescription,
                        dropdownField.options,
                        dropdownField.selectedOption,
                        dropdownField.multiValue,
                        Map(
                            Symbol("_dynamicForm") -> false,
                        ),
                        dropdownField.fieldErrors,
                        "Select a status"
                    )

                    <div class="govuk-form-group @if(statusReasonErrors.nonEmpty){govuk-form-group--error} govuk-character-count" data-module="govuk-character-count" data-maxlength="1300">
                        <label class="govuk-label govuk-label--m" for="status-reason">
                            Provide a reason for status change
                        </label>
                        <div id="status-reason-hint" class="govuk-hint">
                            Do not include sensitive information as these will go into case files
                        </div>
                        @for(error <- statusReasonErrors) {
                        <p id="status-reason-error" class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span> @error
                        </p>
                        }
                        <textarea class="govuk-textarea govuk-js-character-count @if(statusReasonErrors.nonEmpty){govuk-textarea--error} govuk-!-width-two-thirds" id="status-reason" name="statusReason" rows="5" aria-describedby="status-reason-info status-reason-hint @if(statusReasonErrors.nonEmpty){status-reason-error}"></textarea>
                        <div id="status-reason-info" class="govuk-hint govuk-character-count__message">
                            You can enter up to 1300 characters
                        </div>
                    </div>

                    <div class="govuk-button-group">
                        <button data-prevent-double-click="true" class="govuk-button" type="submit" data-module="govuk-button" role="button">
                            Submit
                        </button>
                    </div>
                }
            }
        </div>
    </div>

    <p class="govuk-body govuk-!-margin-top-8">
        <a href="@routes.ManageTransfersController.manageTransfers()" class="govuk-link  govuk-link--no-visited-state">Back to manage transfers</a>
    </p>
}
