// Stylesheet also used in tdr-auth-server repo: https://github.com/nationalarchives/tdr-auth-server
// Stylesheet also used in tdr-service-unavailable repo: https://github.com/nationalarchives/tdr-service-unavailable/blob/master/css-src/sass/_header.scss
// Any changes should also be added to the tdr-auth-server and tdr-service-unavailable repo versions.

.govuk-button__tna-button-link {
  @extend %govuk-link;
  background: none;
  border: none;
  color: #1d70b8;
  cursor: pointer;
  font: inherit;
  padding: 0;
}

.tna-button-icon {
  height: 1rem;
  width: 1rem;
  margin-right: 5px;
  display: inline-block;
}

.tna-button-icon svg {
  max-height: 100%;
}
