.tdr-card {
  @include govuk-responsive-padding(5);
  @include govuk-responsive-padding(6, 'right');
  @include govuk-responsive-padding(6, 'left');
  @include govuk-responsive-margin(6, 'bottom');
  border: 1px solid $govuk-border-colour;
}

.tdr-card__content {
  position: relative;
}

.tdr-card header {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
}

.tdr-card__content > *:last-child {
  margin: 0;
}

.tdr-card--metadata__inset-text {
  color: $govuk-secondary-text-colour;
}

.tdr-card--error {
  @include govuk-responsive-padding(4, 'left');
  border: 2px solid $govuk-error-colour;
}

.tdr-card--error .tdr-card__content {
  @include govuk-responsive-padding(4, 'left');
  border-left: 5px solid #d4351c;
  padding-left: 15px;
}


.tdr-tag {
  // When a user customises their colours often the background is removed,
  // by adding a outline we ensure that the tag component still keeps it's meaning.
  // https://accessibility.blog.gov.uk/2017/03/27/how-users-change-colours-on-websites/
  background-color: govuk-colour('blue');
  color: govuk-colour('white');
  display: inline-block;
  font-size: 12px;
  letter-spacing: 1px;
  outline: 2px solid transparent;
  outline-offset: -2px;
  padding-bottom: 2px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 3px;
  text-decoration: none;
  text-transform: uppercase;
}

.tdr-tag--blue {
  background: govuk-tint(govuk-colour('blue'), 80);
  color: govuk-shade(govuk-colour('blue'), 30);
}

.tdr-tag--red {
  background: govuk-tint(govuk-colour('red'), 80);
  color: govuk-shade(govuk-colour('red'), 30);
}

.tdr-tag--yellow {
  background: govuk-tint(govuk-colour('yellow'), 75);
  color: govuk-shade(govuk-colour('yellow'), 65);
}

.tdr-tag--green {
  background: govuk-tint(govuk-colour('green'), 80);
  color: govuk-shade(govuk-colour('green'), 20);
}
