.tdr-card {
  @include govuk-responsive-padding(5);
  @include govuk-responsive-padding(6, 'right');
  @include govuk-responsive-padding(6, 'left');
  @include govuk-responsive-margin(6, 'bottom');
  border: 1px solid $govuk-border-colour;
}

.tdr-card__content {
  position: relative;
}

.tdr-metadata-card__content > *:last-child {
  margin: 0;
}
