[hidden] {
  display: none !important;
}

.drag-and-drop {
  margin-bottom: 40px;
}

.drag-and-drop__button {
  margin-bottom: 32px;
  margin-top: 65px;
  padding-left: 15px;
  position: static;
  width: auto;
}

.drag-and-drop__button::before {
  position: static;
}

.drag-and-drop__button--highlight {
  background-color: $govuk-focus-colour;
  box-shadow: 0 -2px $govuk-focus-colour, 0 4px govuk-colour('black');
  color: $govuk-text-colour;
  outline: none;
}

.drag-and-drop__dropzone {
  display: flex;
  margin-bottom: 20px;
  outline: 3px dashed $govuk-input-border-colour;
  padding-bottom: 30px;
  padding-top: 0;
  text-align: center;
  transition: outline-offset 0.1s ease-in-out, background-color 0.1s linear;
}

.drag-and-drop__dropzone--dragover {
  background: govuk-colour('mid-grey');
  outline-color: govuk-colour('dark-grey');
}

.drag-and-drop__hint-text {
  margin-bottom: 0;
  margin-right: 10px;
  padding-left: 15px;
  padding-top: 70px;
}

.drag-and-drop__input {
  height: 0;
  opacity: 0; /*Opacity is 0 in order to hide the input button AND keep it functioning ('visibility' and 'display' properties can't do this)*/
  padding-top: 0;
  position: absolute;
  width: 0;
}

.drag-and-drop__success {
  color: govuk-colour('green');
  padding-left: 10px;
}

.error-messages {
  margin-bottom: 0;
}

.success-message {
  font-weight: bold;
}

.success-message-flexbox-container {
  align-items: center;
  display: flex;
}

.success-message-flexbox-item {
  margin-left: auto;
  padding-right: 10px;
}
