[hidden] {
  display: none !important;
}

.drag-and-drop {
  margin-bottom: 15px;
}

.drag-and-drop__dropzone {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  height: 12rem;
  justify-content: center;
  margin-bottom: 20px;
  outline: 3px dashed #0b0c0c;
  padding: 15px 10px;
  transition: outline-offset 0.1s ease-in-out, background-color 0.1s linear;
  width: 100%;
}

.drag-and-drop__input {
  height: 0;
  opacity: 0;
  padding-top: 0;
  position: absolute;
  width: 0;
}

.drag-and-drop__button {
  flex-basis: 0;
  height: 2.25em;
  margin-bottom: 0;
  white-space: nowrap;
}

.drag-and-drop__hint-text {
  margin-bottom: 0;
}

.drag-and-drop__selected {
  align-items: baseline;
  border-bottom: 1px solid #b1b4b6;
  display: flex;
  gap: 15px;
}

.drag-and-drop__selected__description {
  /* Close to govuk green but is AAA compliant
  for normal sized text */
  color: #006636;
}

.drag-and-drop__success {
  color: #00703c;
  font-weight: 700;
}

.green-tick-mark {
  fill: currentColor;
  float: left;
  height: 25px;
  margin-right: 10px;
  width: 25px;
}


.drag-and-drop__button--highlight {
  background-color: #fd0;
  box-shadow: 0 -2px #fd0, 0 4px #0b0c0c;
  color: #0b0c0c;
  outline: 0;
}

.drag-and-drop__dropzone--dragover {
  background: #005a30;
  outline-color: #fff;
  outline-offset: -4px;
}

.drag-and-drop__dropzone--dragover .drag-and-drop__hint-text {
  color: #fff;
}

.error-messages {
  margin-bottom: 0;
}

.success-message {
  font-weight: bold;
}

.success-message-flexbox-container {
  align-items: center;
  display: flex;
}

.success-message-flexbox-item {
  margin-left: auto;
  padding-right: 10px;
}
