.file-path-check__summary {
  background: $govuk-canvas-background-colour;
  padding: 15px 20px;
  margin-bottom: 20px;
}

.file-path-check__col-length {
  width: 120px;
}

.file-path-check__col-status {
  width: 150px;
}

.file-path-check__cell-path {
  word-break: break-all;
}
