// Stylesheet also used in tdr-auth-server repo: https://github.com/nationalarchives/tdr-auth-server
// Stylesheet also used in tdr-service-unavailable repo: https://github.com/nationalarchives/tdr-service-unavailable/blob/master/css-src/sass/_header.scss
// Any changes should also be added to the tdr-auth-server and tdr-service-unavailable repo versions.

$govuk-header-link: govuk-colour('white');

.tna-header {
  display: flex;
}

@media (max-width: 48.06249em) {
  .tna-header {
    display: block;
  }

  .tna-header ul {
    list-style-type: none; // for some reason, the bullets appear when you zoom in; this line ensures that they don't.
    margin-block-start: 0;
    padding-inline-start: 0;
  }

  .govuk-header__link--service-name {
    margin-bottom: 0;
  }
}
