// This is a modified version of the aria-autocomplete.css
// found here https://github.com/mynamesleon/aria-autocomplete/blob/master/dist/aria-autocomplete.css

.govuk-multi-autocomplete__wrapper {
  font-size: 16px;
  position: relative;
}

.govuk-multi-autocomplete__sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.govuk-multi-autocomplete__input {

  @include govuk-font($size: 19);

  appearance: none;
  border: $govuk-border-width-form-element solid $govuk-input-border-colour;
  @if $govuk-typography-use-rem {
    height: govuk-px-to-rem(40px);
  }
  border-radius: 0;

  box-sizing: border-box;
  // setting any background-color makes text invisible when changing colours to dark backgrounds in Firefox (https://bugzilla.mozilla.org/show_bug.cgi?id=1335476)
  // as background-color and color need to always be set together, color should not be set either
  height: 40px;
  margin-top: 0;

  // Disable inner shadow and remove rounded corners
  padding: govuk-spacing(1);
  width: 100%;

  &:focus {
    box-shadow: inset 0 0 0 $govuk-border-width-form-element;
    // Ensure outline appears outside of the element
    outline: $govuk-focus-width solid $govuk-focus-colour;
    // Double the border by adding its width again. Use `box-shadow` for this // instead of changing `border-width` - this is for consistency with
    // components such as textarea where we avoid changing `border-width` as
    // it will change the element size. Also, `outline` cannot be utilised
    // here as it is already used for the yellow focus state.
    outline-offset: 0;

    @include govuk-if-ie8 {
      // IE8 doesn't support `box-shadow` so double the border with
      // `border-width`.
      border-width: $govuk-border-width-form-element * 2;
    }
  }
}

.govuk-multi-autocomplete__show-all:focus-within::before {
  @include govuk-shape-arrow($direction: down, $base: 20px);
  border-color: $govuk-text-colour;
  content: '';
  display: block;
  height: 40px;
  position: absolute;
  right: -10px;
  top: -23px;
  width: 40px;
}

.govuk-multi-autocomplete__show-all:focus-within {
  @include govuk-shape-arrow($direction: down, $base: 30px);
  border-color: $govuk-focus-colour;
  right: 7px;
  top: 7px;
}

.govuk-multi-autocomplete__show-all {
  @include govuk-shape-arrow($direction: down, $base: 20px);
  cursor: pointer;
  position: absolute;
  right: 12px;
  top: 10px;
}

.govuk-multi-autocomplete__list {
  @include govuk-font($size: 19);
  background: #fff;
  border: 2px solid $govuk-text-colour;
  border-radius: 2px;
  box-shadow: none;
  box-sizing: border-box;
  height: auto;
  left: 0;
  list-style: none;
  margin: 0;
  max-height: 304px;
  min-height: 0;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 3px 0;
  position: absolute;
  top: 38px;
  width: 100%;
  z-index: 99999;
}

.govuk-multi-autocomplete__list--has-results[aria-label]::before {
  box-sizing: border-box;
  content: attr(aria-label);
  font-size: 13px;
  left: 0;
  opacity: 0.5;
  padding: 3px 10px 0;
  position: absolute;
  text-align: right;
  top: 0;
  width: 100%;
}

@media reader, speech, aural {
  .govuk-multi-autocomplete__list--has-results[aria-label]::before {
    display: none;
  }
}

.govuk-multi-autocomplete__list--has-results[aria-label] li:first-child {
  margin-top: 20px;
}

.govuk-multi-autocomplete__option {
  border-bottom: 1px solid $govuk-border-colour;
  color: #434143;
  cursor: pointer;
  display: block;
  font-weight: normal;
  list-style: none;
  margin-bottom: 0;
  padding: 7px 10px;
  text-decoration: none;
  word-break: break-word;
}

.govuk-multi-autocomplete__option:focus {
  border: none;
  box-shadow: none;
  outline: none;
}

.govuk-multi-autocomplete__option:hover,
.govuk-multi-autocomplete__option--focused {
  background: $govuk-link-colour;
  color: #fff;
  cursor: pointer;
  font-weight: normal;
  margin: 0;
}

.govuk-multi-autocomplete__option:hover[aria-disabled='true'],
.govuk-multi-autocomplete__option--focused[aria-disabled='true'] {
  background: #f5f5f5;
}

.govuk-multi-autocomplete__option--no-results,
.govuk-multi-autocomplete__option[aria-disabled='true'] {
  color: #434143;
  cursor: not-allowed;
  opacity: 0.65;
  text-decoration: none;
}

.govuk-multi-autocomplete__option--no-results {
  background: transparent;
  margin-top: 0;
}

.govuk-multi-autocomplete__selected {
  align-items: center;
  background-color: govuk-colour('light-grey');
  border: 1px solid govuk-colour('dark-grey');
  border-radius: govuk-em(5, 16px);
  cursor: pointer;
  display: inline-flex;
  margin: 5px 10px 5px 0;
  padding: govuk-em(5, 16px);
  padding-right: 30px;
  position: relative;
  word-break: break-word;
}

.govuk-multi-autocomplete__selected:hover,
.govuk-multi-autocomplete__selected:focus {
  background: govuk-colour('mid-grey');
}

.govuk-multi-autocomplete__selected::after {
  background-image: url('/assets/images/xmark.svg');
  background-position: center center;
  background-repeat: no-repeat;
  content: '';
  fill: govuk-colour('black');
  height: 20px;
  position: absolute;
  right: 5px;
  stroke: govuk-colour('black');
  stroke-width: 2;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
}
