// Stylesheet also used in tdr-auth-server repo: https://github.com/nationalarchives/tdr-auth-server
// Stylesheet also used in tdr-service-unavailable repo: https://github.com/nationalarchives/tdr-service-unavailable/blob/master/css-src/sass/_header.scss
// Any changes should also be added to the tdr-auth-server and tdr-service-unavailable repo versions.

.govuk-pagination__item--current .govuk-button__tna-button-link {
  color: #fff;
}

.govuk-pagination__center {
  justify-content: center;
}
