@mixin progress-bar($selector) {
  /* Variables for repeated blocks */
  $_appearance: none;
  $_height: 20px;
  $_position: relative;

  #{$selector}-bar {
    appearance: $_appearance;
    background-color: govuk-colour('light-grey', $legacy: 'grey-1');
    border: solid 1px #b1b4b6;
    color: govuk-colour('dark-grey', $legacy: 'grey-3');
    height: $_height;
    margin: 0.1px;
    position: $_position;
    width: 100%;
  }

  #{$selector}-display {
    appearance: $_appearance;
    background-color: govuk-colour('dark-grey', $legacy: 'grey-3');
    border: none;
    color: govuk-colour('dark-grey', $legacy: 'grey-3');
    height: $_height;
    position: $_position;
    width: 0%;
  }
}
