.tdr-tag {
  // When a user customises their colours often the background is removed,
  // by adding a outline we ensure that the tag component still keeps it's meaning.
  // https://accessibility.blog.gov.uk/2017/03/27/how-users-change-colours-on-websites/
  background-color: govuk-colour('blue');
  color: govuk-colour('white');
  display: inline-block;
  font-size: 12px;
  letter-spacing: 1px;
  outline: 2px solid transparent;
  outline-offset: -2px;
  padding-bottom: 2px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 3px;
  text-decoration: none;
  text-transform: uppercase;
}

.tdr-tag--blue {
  background: govuk-colour('blue', $variant: 'tint-80');
  color: govuk-colour('blue', $variant: 'shade-50');
}

.tdr-tag--red {
  background: govuk-colour('red', $variant: 'tint-80');
  color: govuk-colour('red', $variant: 'shade-50');
}

.tdr-tag--yellow {
  background: govuk-colour('yellow', $variant: 'tint-80');
  color: govuk-colour('yellow', $variant: 'shade-50');
}

.tdr-tag--green {
  background: govuk-colour('green', $variant: 'tint-80');
  color: govuk-colour('green', $variant: 'shade-50');
}
