.consignment-ref-cell {
  color: $govuk-text-colour;
}

.not-applicable {
  color: $govuk-secondary-text-colour;
}

//View Transfer
.govuk-table--tdr-transfers tr:first-child td:first-child {
  padding-right: 8px;
  padding-left: 4px;
}

.govuk-table--tdr-transfers tr td:first-child button {
  position: relative;
  top: -6px;
}

.govuk-table--tdr-transfers .no-data {
  color:#6B7276;
}
.govuk-table--tdr-transfers td,
.govuk-table--tdr-transfers th {
  text-align: left;
}

@include govuk-media-query($from: tablet) {
  .govuk-table--tdr-transfers td, .govuk-table--tdr-transfers th {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 20px;
  }
}

.tdr-link-group a {
  white-space: nowrap;
}

//Arrow Expander
.tdr-arrow-expander {
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  height: 26px;
  width:30px;
}

.tdr-arrow-expander::before {
  content: "";
  position: absolute;

  top: -1px;
  bottom: 0;
  left: 10px;

  margin: auto;
  @include govuk-shape-arrow($direction: right, $base: 15px);
  border-color: $govuk-link-colour;
}

.tdr-arrow-expander:focus {
  outline: 3px solid transparent;
  color: $govuk-focus-text-colour;
  background-color: $govuk-focus-colour;
  box-shadow: 0 -2px $govuk-focus-colour,
  0 4px $govuk-focus-text-colour;
  text-decoration: none;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

.tdr-arrow-expander[aria-expanded="true"]::before {
  @include govuk-shape-arrow($direction: down, $base: 15px);
  left: 7px;
  border-color: $govuk-link-colour;
}

//Expanded Content
.tdr-transfers-extra {
  display: flex;
  width: 100%;
  gap: 10px;
  // justify-content: space-between;
}

.tdr-transfers-extra__list {
  margin-top: 10px;
  margin-bottom: 10px;
}

.tdr-transfers-extra__list:first-child {
  flex-grow: 1;
}

.tdr-transfers-extra__list:last-child {
  flex-grow: 3;
}

.tdr-dlist {
  background-color: #f8f8f8;
  padding: 20px;
}

.tdr-dlist dt {
  margin-bottom: 4px;
  font-weight: bold;
}

.tdr-dlist dd {
  margin: 0;
  padding: 0;
}
