@import 'overrides/all';
@import '../../node_modules/govuk-frontend/govuk/all';

@import 'header';
@import 'drag-and-drop';
@import 'progress-bar';
@import 'summary-list';
@import 'success_summary';
@import 'user-guide';

.file-check-progress {
  margin-bottom: 30px;
}

.alert-status-svg {
  fill: currentColor;
  float: left;
  height: 30px;
  margin-right: 10px;
  width: 25px;
}

@include progress-bar('.progress');
@include progress-bar('.file-check-progress__progress-bar');

.hide {
  display: none;
}

.logged-out-error-link {
  color: $govuk-error-colour;
}

.govuk-checkboxes__item:last-child,
.govuk-checkboxes__item:last-of-type {
  margin-bottom: 10px;
}
