@import 'overrides/all';
@import '../../node_modules/govuk-frontend/govuk/all';
@import '../../node_modules/@nationalarchives/tdr-components/all';

@import 'header';
@import 'drag-and-drop';
@import 'progress-bar';
@import 'summary-list';
@import 'success_summary';
@import 'user-guide';
@import 'button';
@import 'pagination';
@import 'card';
@import 'view-transfer';

a {
  color: $govuk-link-colour;
}

.logged-in-user {
  color: #fff;
}

.file-check-progress {
  margin-bottom: 30px;
}

.alert-status-svg {
  fill: currentColor;
  float: left;
  height: 30px;
  margin-right: 10px;
  width: 25px;
}

@include progress-bar('.progress');
@include progress-bar('.file-check-progress__progress-bar');

.hide {
  display: none;
}

.logged-out-error-link {
  color: $govuk-error-colour;
}

.govuk-checkboxes__item:last-child,
.govuk-checkboxes__item:last-of-type {
  margin-bottom: 10px;
}

.govuk-checkboxes__label {
  cursor: default;
}

.transfer-complete p {
  margin: 0;
}

.timeout-dialog {
  max-width: 350px;
  padding-left: 30px;
  padding-right: 30px;
}

.thumbnail-icon {
  background: #fff;
  border: rgba(11, 12, 12, 0.1);
  box-shadow: 0 2px 2px rgb(11 12 12 / 40%);
  display: block;
  fill: #b1b4b6;
  height: 100px;
  max-width: 99px;
  outline: 5px solid rgba(11, 12, 12, 0.1);
  stroke: #b1b4b6;
  width: auto;
}

.attachment .attachment-thumb {
  float: left;
  margin-left: -124px;
  margin-top: 5px;
  padding-bottom: 15px;
  position: relative;
}

.download-metadata {
  display: inline-block;
}

.attachment {
  padding: 15px 0 0 129px;
  position: relative;
}
