@import 'node_modules/govuk-frontend/govuk/all';
@import 'overrides/all';

@import 'header';
@import 'drag-and-drop';
@import 'progress-bar';

.file-check-progress {
  margin-bottom: 30px;
}

.green-tick-mark {
  fill: currentColor;
  float: left;
  height: 25px;
  margin-right: 10px;
  width: 25px;
}

@include progress-bar('.progress-display')
  @include progress-bar('.file-check-progress__progress-bar')

  .hide {
  display: none;
}
