@import views.html.partials._

@(actionMessage: String, detailsMessage: String, affectedProperties: Set[String] = Set(), uploadedFileName: String, draftMetadataProgress: DraftMetadataProgress)(implicit request: RequestHeader, messages: Messages)

<h1 class="govuk-heading-l">
    Results of your metadata checks
</h1>
<p class="govuk-body">There was an issue with your uploaded metadata file.</p>

<p class="govuk-body"></p>

<dl class="govuk-summary-list">
    @draftMetadataResultDetails(draftMetadataProgress, uploadedFileName)
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Details
        </dt>
        <dd class="govuk-summary-list__value">
            @detailsMessage
        </dd>
    </div>

    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Action
        </dt>
        <dd class="govuk-summary-list__value">
            @Html(actionMessage)
            @if(affectedProperties.nonEmpty) {
                <ul class="govuk-list govuk-list--bullet">
                    @for(property <- affectedProperties) {
                        <li>@property</li>
                    }
                </ul>
            }
        </dd>
    </div>
</dl>
