@(consignmentRef: String)(implicit messages: Messages)
<p class="govuk-body">
    One or more files you uploaded have failed our checks. Contact us at
    <a class="govuk-link" href="mailto:@Messages("nationalArchives.email")?subject=Ref: @consignmentRef - Problem with Results of checks">@Messages("nationalArchives.email")</a>
    if the problem persists.
</p>
<p class="govuk-body">Possible failure causes:</p>
<ul class="govuk-list govuk-list--bullet">
    <li>Password protected files</li>
    <li>Zip files</li>
    <li>Corrupted files</li>
    <li>Ambiguous naming of redacted files</li>
</ul>
