@import views.html.partials.fileCheckGenericErrorMessage

@(fileStatuses: List[String] = Nil, consignmentRef: String)(implicit messages: Messages)
@{
    val isPasswordProtected = fileStatuses.contains("PasswordProtected")
    val isZip = fileStatuses.contains("Zip")

    if(isPasswordProtected && isZip){
        fileCheckGenericErrorMessage(consignmentRef)
    } else if(isPasswordProtected) {
            <p class="govuk-body govuk-!-font-weight-bold">Your folder contains one or more password protected files.</p>
            <p>We cannot accept password protected files. Once removed or replaced, try uploading your folder again.</p>
    } else if(isZip) {
                <p class="govuk-body govuk-!-font-weight-bold">Your folder contains one or more zip files.</p>
                <p>
                We cannot accept zip files and similar archival package file formats.
                These commonly have file extensions such as .zip, .iso, .7z, .rar and others.
                please see our
                <a class="govuk-link" href={s"${routes.FaqController.faq()}"} target="_blank" rel="noreferrer noopener">
                FAQ(Opens in new tab)
                </a>
                for a full list.
                Either remove or unpack your zip and archival package files and try uploading again.
                </p>
        } else {
                fileCheckGenericErrorMessage(consignmentRef)
        }
}
