@import views.html.partials.warningMessage
@import java.util.UUID
@(consignmentId: UUID, metadataType: String = "", folderUploaded: String)
    @if(metadataType == "closure") {
        <h1 class="govuk-heading-l">
            Add or edit closure metadata on file basis
        </h1>
        @warningMessage("Do not use your browsers back/forward buttons as this can lead to loss of data.")
        <p class="govuk-body">You can now add or edit closure metadata to individual files or folders.</p>
        <p class="govuk-body">
            Click on a particular file or folder to see what metadata is already captured and add or edit properties there.
            For a bulk edit, first select files and/or folders and then choose an action from the menu.
        </p>
        <div class="govuk-inset-text govuk-!-margin-top-0">
            Once you have added all necessary closure metadata return to the <a href="@routes.AdditionalMetadataController.start(consignmentId)">previous page</a> to add descriptive metadata or continue with the transfer.
        </div>
    } else {
        <h1 class="govuk-heading-l">
            Add or edit descriptive metadata on file basis
        </h1>
        @warningMessage("Do not use your browsers back/forward buttons as this can lead to loss of data.")
        <p class="govuk-body">You can now add or edit descriptive metadata to individual files or folders.</p>
        <p class="govuk-body">
            You can do this by selecting the relevant record(s) from the table below and proceed by clicking "Add Descriptive Metadata".
        </p>
    }

    <h2 class="app-task-list__section">Folder uploaded: @folderUploaded</h2>
