@import viewsapi.FrontEndInfo
@(frontEndInfo: FrontEndInfo)

<input type="hidden" class="api-url" value="@frontEndInfo.apiUrl">
<input type="hidden" class="stage" value="@frontEndInfo.stage">
<input type="hidden" class="region" value="@frontEndInfo.region">
<input type="hidden" class="upload-url" value="@frontEndInfo.uploadUrl">
<input type="hidden" class="auth-url" value="@frontEndInfo.authUrl">
<input type="hidden" class="client-id" value="@frontEndInfo.clientId">
<input type="hidden" class="realm" value="@frontEndInfo.realm">
