@import controllers.util.InputNameAndValue
@(fieldId: String,
fieldName: String,
fieldDescription: String,
fieldGuidance: String,
options: Seq[InputNameAndValue],
selectedOptions: Option[List[InputNameAndValue]],
multiValue: Boolean=false,
attributes: Map[Symbol, Any],
fieldErrors: List[String] = Nil
)(implicit messages: Messages)

@import viewsapi.FormFunctions._
@import views.html.partials.errorMessage

@disabledStatus = {@attributes.get(Symbol("_disabledOption"))}
@isDynamicForm = @{attributes.getOrElse(Symbol("_dynamicForm"), false).asInstanceOf[Boolean]}
@formFieldId = @{if(isDynamicForm) s"inputmultiselect-$fieldId" else fieldId}

<div class="govuk-form-group govuk-!-margin-bottom-9 @{if(fieldErrors.nonEmpty) "govuk-form-group--error" else ""}">
    @if(fieldName != "") {
        <h2 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--m" for="@formFieldId">
                @fieldName
            </label>
        </h2>
        <div id="@formFieldId-hint" class="govuk-hint">
              @Html(fieldDescription)
        </div>
    } else {
        <label class="govuk-label" for="@formFieldId">
            @fieldDescription
        </label>
    }

    @errorMessage(fieldId, fieldErrors)

    <div class="tna-multi-select-search" data-module="multi-select-search">
        <div class="tna-multi-select-search__list-container">
            <ul class="govuk-checkboxes tna-multi-select-search__list"
            id="@fieldId" aria-describedby="@fieldId-filter-count">
                @for((option, index) <- options.zipWithIndex) {
                    <li class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="@formFieldId-@index" name="@formFieldId" type="checkbox" value="@option.value" @{if(selectedOptions.exists(_.contains(option))) "checked" else ""}>
                        <label class="govuk-label govuk-checkboxes__label" for="@formFieldId-@index">@option.name</label>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>
