@* dropdownOptions as Tuple until data model clearer *@
@import controllers.util.InputNameAndValue
@(fieldId: String,
fieldName: String,
fieldDescription: String,
options: Seq[InputNameAndValue],
selectedOption: Option[InputNameAndValue],
multiValue: Boolean=false,
attributes: Map[Symbol, Any],
fieldErrors: List[String] = Nil
)(implicit messages: Messages)

@import viewsapi.FormFunctions._
@import views.html.partials.errorMessage

@disabledStatus = {@attributes.get(Symbol("_disabledOption"))}
@isDynamicForm = @{attributes.getOrElse(Symbol("_dynamicForm"), false).asInstanceOf[Boolean]}
@formFieldId = @{if(isDynamicForm) s"inputdropdown-$fieldId" else fieldId}

<div class="govuk-form-group govuk-!-margin-bottom-9 @{if(fieldErrors.nonEmpty) "govuk-form-group--error" else ""}">
    @if(fieldName != "") {
        <h2 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--m" for="@formFieldId">
                @fieldName
            </label>
        </h2>
        <div id="@formFieldId-hint" class="govuk-hint">
            @if(fieldId == "FoiExemptionCode") {
                @* hard coding the description as the database cannot contain html*@
                Add one or more exemption code to this closure. Here is a
                <a target="_blank" href="https://www.legislation.gov.uk/ukpga/2000/36/contents">full list of FOI codes and their designated exemptions</a>.
            } else {
                @fieldDescription
            }
        </div>
    } else {
        <label class="govuk-label" for="@formFieldId">
            @fieldDescription
        </label>
    }

    @errorMessage(fieldId, fieldErrors)
    <select class="govuk-select" id="@formFieldId" name="@formFieldId" @attributes.requiredInput() @disabledStatus>
        @if(disabledStatus.toString() != "disabled") {
            @if(selectedOption.isEmpty) {
                <option value="" selected>
                    Please choose...
                </option>
            }
            @for(dropdownOption <- options) {
                <option @if(selectedOption.exists(_.name == dropdownOption.name)){selected="selected" }value="@dropdownOption.value">@dropdownOption.name</option>
            }
        } else {
            @for(dropdownOption <- options) {
                <option @if(disabledStatus.toString() == "disabled"){selected="selected" }value="@dropdownOption.value">@dropdownOption.name</option>
            }
        }
    </select>
</div>
