@(fieldName: String,
attributes: Map[Symbol, Any],
fieldError: Seq[String]
)(implicit messages: Messages)

@import views.html.partials.errorMessage
@import viewsapi.FormFunctions._

@value = {@attributes.get(Symbol("_value"))}
@label = {@attributes.get(Symbol("_label"))}
@disabledStatus = {@attributes.get(Symbol("_disabledOption"))}
@checkedStatus = {@attributes.get(Symbol("_checkedOption"))}
@isSmallCheckbox = {@attributes.get(Symbol("_smallCheckbox"))}
@isDynamicForm = @{attributes.getOrElse(Symbol("_dynamicForm"), false).asInstanceOf[Boolean]}
@fieldId = @{if(isDynamicForm) s"inputcheckbox-$fieldName" else fieldName}
    @if(!isDynamicForm) {
        <div class="govuk-checkboxes @{if(fieldError.nonEmpty) "govuk-form-group--error" else ""}">
        }
        @errorMessage(fieldId, fieldError)
        <div class='govuk-checkboxes__item@if(isSmallCheckbox.toString() == "true"){ govuk-checkboxes--small}'>
            <input
                @checkedStatus
                class="govuk-checkboxes__input"
                id="@fieldId"
                name="@fieldId"
                type="checkbox"
                value="@value"
                @disabledStatus />
            <label class="govuk-label govuk-checkboxes__label" for="@fieldId">
                @label
            </label>
        </div>
    @if(!isDynamicForm) {
        </div>
        }
