@import controllers.util.InputNameAndValue
@import views.html.partials.errorMessage

@import views.html.partials.insetText
@(fieldId: String,
fieldName: String,
fieldDescription: String,
fieldInsetTexts: List[String],
day: InputNameAndValue,
month: InputNameAndValue,
year: InputNameAndValue,
fieldErrors: List[String],
attributes: Map[Symbol, Any]=Map())(implicit messages: Messages)


@isDynamicForm = @{attributes.getOrElse(Symbol("_dynamicForm"), false).asInstanceOf[Boolean]}

<div class="govuk-form-group govuk-!-margin-bottom-9 @{if(fieldErrors.nonEmpty) "govuk-form-group--error" else ""}">
    <fieldset class="govuk-fieldset" role="group" aria-describedby="date-input-@fieldId-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h2 class="govuk-fieldset__heading">
                @fieldName
            </h2>
        </legend>
        <div id="date-input-@fieldId-hint" class="govuk-hint">
            @fieldDescription
        </div>
        @insetText(fieldInsetTexts)
        @errorMessage(fieldId, fieldErrors)
        <div class="govuk-date-input" id="">
            <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="date-input-@fieldId-@{day.name.toLowerCase()}">
                    @day.name
                    </label>
                    <input class="govuk-input
                                  govuk-date-input__input
                                  govuk-input--width-2
                                  @{if (fieldErrors.headOption.exists(_.toLowerCase.contains(day.name.toLowerCase()))) "govuk-input--error" else ""}"
                           id="date-input-@fieldId-@{day.name.toLowerCase()}"
                           name="@{if(isDynamicForm) s"inputdate-$fieldId-${day.name.toLowerCase()}" else fieldId}"
                           value="@day.value"
                           type="number"
                           inputmode="numeric"
                           placeholder="@day.placeHolder.toLowerCase()"
                           maxlength="@day.placeHolder.length"
                    >
                </div>
            </div>
            <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="date-input-@fieldId-@{month.name.toLowerCase()}">
                    @month.name
                    </label>
                    <input class="govuk-input
                                  govuk-date-input__input
                                  govuk-input--width-2
                                  @{if (fieldErrors.headOption.exists(_.toLowerCase.contains(month.name.toLowerCase()))) "govuk-input--error" else ""}"
                           id="date-input-@fieldId-@{month.name.toLowerCase()}"
                           name="@{if(isDynamicForm) s"inputdate-$fieldId-${month.name.toLowerCase()}" else fieldId}"
                           value="@month.value"
                           type="number"
                           inputmode="numeric"
                           placeholder="@month.placeHolder.toLowerCase()"
                           maxlength="@month.placeHolder.length"
                    >
                </div>
            </div>
            <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="date-input-@fieldId-@{year.name.toLowerCase()}">
                    @year.name
                    </label>
                    <input class="govuk-input
                                  govuk-date-input__input
                                  govuk-input--width-3
                                  @{if (fieldErrors.headOption.exists(_.toLowerCase.contains(year.name.toLowerCase()))) "govuk-input--error" else ""}"
                           id="date-input-@fieldId-@{year.name.toLowerCase()}"
                           name="@{if(isDynamicForm) s"inputdate-$fieldId-${year.name.toLowerCase()}" else fieldId}"
                           value="@year.value"
                           type="number"
                           inputmode="numeric"
                           placeholder="@year.placeHolder.toLowerCase()"
                           maxlength="@year.placeHolder.length"
                    >
                </div>
            </div>
        </div>
    </fieldset>
</div>
