@import controllers.util.{FormField, InputNameAndValue, TextField}
@import controllers.util.TextAreaField
@(fieldId: String,
        fieldName: String,
        fieldDescription: String,
        additionalInfo: String,
        options: Seq[InputNameAndValue],
        selectedOption: String,
        attributes: Map[Symbol, Any],
        hideInputs: Boolean,
        fieldErrors: List[String],
        dependencies: Map[String, List[FormField]])(implicit messages: Messages)

@import views.html.partials.errorMessage
@import viewsapi.FormFunctions._

@isDisabled = {@attributes.get(Symbol("_disabledOption"))}
@radioOptionsSize = @{if(attributes.get(Symbol("_largeOption")).contains(true)) "" else "govuk-radios--small"}
@optionSize = @{if(attributes.get(Symbol("_newlineOption")).contains(true)) "" else "govuk-radios--inline"}
@isDynamicForm = @{attributes.getOrElse(Symbol("_dynamicForm"), false).asInstanceOf[Boolean]}
@formFieldId = @{if(isDynamicForm) s"inputradio-$fieldId" else fieldId}

<div class="govuk-form-group @{if(fieldErrors.nonEmpty) "govuk-form-group--error" else ""}">
    <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            @fieldName
        </legend>

        @if(hideInputs) {
            <p class="govuk-body"> @Html(fieldDescription)</p>
            <input id="@formFieldId" name="@formFieldId" type="hidden" value="exclude"/>
        } else {
            <div class="govuk-hint"> @Html(fieldDescription) </div>
            @errorMessage(fieldId, fieldErrors)
            @displayInsetText(additionalInfo)
            <div class="govuk-radios" data-module="govuk-radios" @radioOptionsSize @optionSize id="@formFieldId">
            @options.map { input =>
                <div class="govuk-radios__item">
                    <input
                        class="govuk-radios__input"
                        id="@formFieldId-@input.name"
                        name="@formFieldId"
                        type="radio"
                        value="@input.value"
                        data-aria-controls="conditional-@formFieldId-@input.value"
                        @isDisabled
                        @{if(input.value == selectedOption) "checked" else ""}
                        @attributes.requiredInput()
                    />
                  <label class="govuk-label govuk-radios__label" for="@formFieldId-@input.name">
                        @input.name
                  </label>
                </div>
                @if(dependencies.nonEmpty) {
                    @for(formField <- dependencies(input.value)) {
                        @{
                            formField match {
                                case textField: TextField => displayText(formFieldId, input.value, textField)
                                case textAreaField: TextAreaField => displayLargeText(formFieldId, input.value, textAreaField)
                            }
                        }
                    }
                }
            }
          </div>
      }
    </fieldset>
</div>

@displayText(formId: String, inputValue: String, textField: TextField) = {
    <div class="govuk-radios__conditional" id="conditional-@formFieldId-@inputValue">
        <div class="govuk-form-group">
            <label class="govuk-label" for="@formFieldId-@textField.fieldId-@inputValue">
                @textField.fieldName
                @if(textField.fieldDescription.nonEmpty) {
                    <div id="hint-@formFieldId-@inputValue" class="govuk-hint">
                    @textField.fieldDescription
                    </div>
                }
            </label>
            <input class="govuk-input" id="@formFieldId-@textField.fieldId-@inputValue" name="@formFieldId-@textField.fieldId-@inputValue" type="text" value="@textField.nameAndValue.value" />
        </div>
    </div>
}
@displayInsetText(text: String) = {
    @if(text.nonEmpty) {
        <div class="govuk-inset-text">
            @text
        </div>
    }
}
@displayLargeText(formId: String, inputValue: String, textAreaField: TextAreaField) = {
    <div class="govuk-radios__conditional" id="conditional-@formFieldId-@inputValue">
        <label class="govuk-label" for="@formFieldId-@textAreaField.fieldId-@inputValue">
            @textAreaField.fieldName
            @if(textAreaField.fieldDescription.nonEmpty) {
                <div id="hint-@formFieldId-@inputValue" class="govuk-hint">
                @textAreaField.fieldDescription
                </div>
            }
        </label>
        <textarea class="govuk-textarea" id="@formFieldId-@textAreaField.fieldId-@inputValue" name="@formFieldId-@textAreaField.fieldId-@inputValue" rows="5">@textAreaField.nameAndValue.value</textarea>
    </div>
}
