@(fieldId: String,
attributes: Map[Symbol, Any],
fieldErrors: Seq[String]
)(implicit messages: Messages)

@import views.html.partials.errorMessage
@import viewsapi.FormFunctions._

@value = {@attributes.get(Symbol("_value"))}
@label = {@attributes.get(Symbol("_label"))}
@disabledStatus = {@attributes.get(Symbol("_disabledOption"))}
@checkedStatus = {@attributes.get(Symbol("_checkedOption"))}
@isSmallCheckbox = {@attributes.get(Symbol("_smallCheckbox"))}

    <div class="govuk-checkboxes @{if(fieldErrors.nonEmpty) "govuk-form-group--error" else ""}">
        @errorMessage(fieldId, fieldErrors)
        <div class='govuk-checkboxes__item@if(isSmallCheckbox.toString() == "true"){ govuk-checkboxes--small}'>
            <input
                @checkedStatus
                class="govuk-checkboxes__input"
                id="@fieldId"
                name="inputcheckbox-@fieldId"
                type="checkbox"
                value="@value"
                @disabledStatus />
            <label class="govuk-label govuk-checkboxes__label" for="@fieldId">
                @label
            </label>
        </div>
    </div>
