@import controllers.util.InputNameAndValue
@import views.html.partials.errorMessage

@(fieldId: String,
fieldName: String,
fieldDescription: String,
input: InputNameAndValue,
inputType: String,
fieldErrors: Seq[String],
attributes: Map[Symbol, Any] = Map(),
inputTextDataType: String = "text",
suffixText: Option[String])(implicit messages: Messages)


@isDynamicForm = @{attributes.getOrElse(Symbol("_dynamicForm"), false).asInstanceOf[Boolean]}
@inputName = @{if(isDynamicForm) s"input$inputTextDataType-$fieldId-${input.name}" else fieldId}

<div class="govuk-form-group govuk-!-margin-bottom-9  @{
    if(fieldErrors.nonEmpty) "govuk-form-group--error" else ""
}">
    <h2 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--m" for=@input.name>
            @fieldName
        </label>
    </h2>
    <div id="@inputTextDataType-input-hint" class="govuk-hint">
        @fieldDescription
    </div>
    @errorMessage(fieldId, fieldErrors)
    <div class="govuk-input__wrapper">
        <input
            class="govuk-input @{if(inputType == "number") "govuk-input--width-5" else ""} @{if(fieldErrors.nonEmpty) "govuk-input--error" else ""}"
            id="@input.name"
            name="@{if(isDynamicForm) s"input$inputTextDataType-$fieldId-${input.name}" else fieldId}"
            type="@inputType"
            value="@input.value"
            placeholder="@input.placeHolder"
            inputmode="@inputTextDataType"
        >
        @if(suffixText.isDefined) {
            <div class="govuk-input__suffix">@suffixText.get.toLowerCase</div>
        }
    </div>
</div>
