@(fieldId: String,
radioOptions: Seq[(String, String)],
selectedRadioOption: Seq[(String, String)],
attributes: Map[Symbol, Any],
fieldErrors: List[String]
)(implicit messages: Messages)

@import viewsapi.FormFunctions._
@import views.html.partials.errorMessage

@isDisabled = {@attributes.get(Symbol("_disabledOption"))}
@radioOptionsSize = @{if(attributes.get(Symbol("_largeOption")).contains(true)) "" else "govuk-radios--small"}
@optionSize = @{if(attributes.get(Symbol("_newlineOption")).contains(true)) "" else "govuk-radios--inline"}

<div class="govuk-form-group @{if(fieldErrors.nonEmpty) "govuk-form-group--error" else ""}">
    <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            @attributes.get(Symbol("_label"))
        </legend>
        @errorMessage(fieldId, fieldErrors)
        <div class="govuk-radios" @radioOptionsSize @optionSize id="@fieldId">
            @radioOptions.map {case (label, value) =>
            <div class="govuk-radios__item">
                <input
                        class="govuk-radios__input"
                        id="@fieldId-@value"
                        name="inputradio-@fieldId"
                        type="radio"
                        value="@value"
                        @isDisabled
                        @{if(label == selectedRadioOption.head._1) "checked" else ""}
                        @attributes.requiredInput()
                />
                <label class="govuk-label govuk-radios__label" for="@fieldId@value">
                    @label
                </label>
            </div>
            }
        </div>
    </fieldset>
</div>
