@(field: Field,
args: (Symbol, Any)*
)(implicit messages: Messages)

@import views.html.helper._
@import views.html.partials.errorMessage
@import viewsapi.FormFunctions._

@elements = @{new FieldElements(field.id, field, null, args.toMap, messages) }
@value = {@elements.args.get(Symbol("_value"))}
@label = {@elements.args.get(Symbol("_label"))}
@disabledStatus = {@elements.args.get(Symbol("_disabledOption"))}
@checkedStatus = {@elements.args.get(Symbol("_checkedOption"))}
@isSmallCheckbox = {@elements.args.get(Symbol("_smallCheckbox"))}

    <div class="govuk-checkboxes @elements.setErrorClass()">
        @errorMessage(elements)
        <div class='govuk-checkboxes__item@if(isSmallCheckbox.toString() == "true"){ govuk-checkboxes--small}'>
            <input
                @checkedStatus
                class="govuk-checkboxes__input"
                id="@elements.id"
                name="@elements.id"
                type="checkbox"
                value="@value"
                @disabledStatus />
            <label class="govuk-label govuk-checkboxes__label" for="@elements.id">
                @label
            </label>
        </div>
    </div>
