@import controllers.util.InputNameAndValue
@(fieldId: String,
        fieldName: String,
        fieldDescription: String,
        options: Seq[InputNameAndValue],
        selectedOption: String,
        attributes: Map[Symbol, Any],
        fieldErrors: List[String])(implicit messages: Messages)

@import viewsapi.FormFunctions._
@import views.html.partials.errorMessage

@isDisabled = {@attributes.get(Symbol("_disabledOption"))}
@radioOptionsSize = @{if(attributes.get(Symbol("_largeOption")).contains(true)) "" else "govuk-radios--small"}
@optionSize = @{if(attributes.get(Symbol("_newlineOption")).contains(true)) "" else "govuk-radios--inline"}
@isDynamicForm = @{attributes.getOrElse(Symbol("_dynamicForm"), false).asInstanceOf[Boolean]}
@formFieldId = @{if(isDynamicForm) s"inputradio-$fieldId" else fieldId}

<div class="govuk-form-group @{if(fieldErrors.nonEmpty) "govuk-form-group--error" else ""}">
    <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            @fieldName
        </legend>
        @errorMessage(fieldId, fieldErrors)
        <div class="govuk-radios" @radioOptionsSize @optionSize id="@formFieldId">
            @options.map { input =>
            <div class="govuk-radios__item">
                <input
                        class="govuk-radios__input"
                        id="@formFieldId-@input.name"
                        name="@formFieldId"
                        type="radio"
                        value="@input.value"
                        @isDisabled
                        @{if(input.value == selectedOption) "checked" else ""}
                        @attributes.requiredInput()
                />
                <label class="govuk-label govuk-radios__label" for="@formFieldId-@input.value">
                    @input.name
                </label>
            </div>
            }
        </div>
    </fieldset>
</div>
