@import views.html.partials.inputSingleCheckbox

@(selectedDocumentTypeFormData: Form[SelectedDocumentTypeData], reasonFormNamesAndLabels: Seq[(String, String)])(implicit request: RequestHeader, messages: Messages)

    <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
            <div class="govuk-hint">Select the reasons for the update:</div>
            <p id="update-reasons-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span> Select at least one reason for the update
            </p>

            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                @for((name, label) <- reasonFormNamesAndLabels) {
                    @inputSingleCheckbox(
                        selectedDocumentTypeFormData(name).id,
                        Map(
                            Symbol("_label") -> label,
                            Symbol("_value") -> "true",
                            Symbol("_smallCheckbox") -> false,
                            Symbol("_checkedOption") -> false,
                            Symbol("_requiredOption") -> true
                        ),
                        selectedDocumentTypeFormData(name).errors.headOption match {
                            case Some(formError) => formError.messages
                            case None => Nil
                        }
                    )
                }
            </div>
            <hr class="govuk-section-break govuk-section-break--m">
            <div class="govuk-form-group">
                <label class="govuk-label" for="event-name" >
                    Add more details about this update (optional):
                </label>
                <textarea class="govuk-textarea" id="event-name" name="event-name" rows="5" aria-describedby="more-detail-hint" ></textarea>
            </div>
        </fieldset>
    </div>
