@(idSuffix: String = "")
<div id="logged-out-error@idSuffix" class="govuk-error-summary logged-out-error" hidden aria-labelledby="logged-out-error-title@idSuffix"
role="alert" tabindex="-1" data-module="govuk-error-summary">
  <h2 class="govuk-error-summary__title logged-out-title" id="logged-out-error-title@idSuffix">
    Your session has timed out
  </h2>
  <div class="govuk-error-summary__body logged-out-body">
    <p>Your session has ended because you were inactive for longer than 30 minutes. Please sign in again to continue from where you left off.</p>
    <ul class="govuk-list govuk-error-summary__list">
      <li>
        <p><a class="logged-out-error-link">Sign in again</a></p>
      </li>
    </ul>
  </div>
</div>
