@import java.util.UUID
@import views.html.partials.downloadMetadataLink
@(consignmentId: UUID, consignmentRef: String, email: String)(implicit messages: Messages)
<div class="da-alert da-alert--with-icon">
    <div class="da-alert__icon">
        <div aria-hidden="true"><svg class="da-icon da-icon--xl" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" fill="currentColor" role="img" title="da-icon-search">
            <path d="M11.86 10.23 8.62 6.99a4.63 4.63 0 1 0-6.34 1.64 4.55 4.55 0 0 0 2.36.64 4.65 4.65 0 0 0 2.33-.65l3.24 3.23a.46.46 0 0 0 .65 0l1-1a.48.48 0 0 0 0-.62Zm-5-3.32a3.28 3.28 0 0 1-2.31.93 3.22 3.22 0 1 1 2.35-.93Z"></path>
        </svg></div>
    </div>
    <div class="da-alert__content">
        <h2 class="da-alert__heading">Your review is in progress</h2>
        <p>When the review is complete you will receive an email to <strong>@email</strong> with further instructions.</p>
    </div>
</div>

<p class="govuk-body">
    You can leave and return to this page at any time from the <a class="govuk-notification-banner__link" href="@routes.ViewTransfersController.viewConsignments(1)">
    View transfers</a> page.</p>

<p class="govuk-body">Download a copy of the metadata you submitted below.</p>

@downloadMetadataLink(consignmentId, url = routes.DownloadMetadataController.downloadMetadataFile(consignmentId).url)

<p class="govuk-body">
    If you have any queries email <a href="mailto:@Messages("nationalArchives.email")">@Messages("nationalArchives.email")</a>
    quoting the consignment reference: @consignmentRef</p>
