@import views.html.partials.inputSingleCheckbox
@(fieldId: String,
fieldName: String,
fieldDescription: String,
multiValue: Boolean=false,
values: List[String],
fieldErrors: List[String] = Nil
)(implicit messages: Messages)

<div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="foi-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h2 class="govuk-fieldset__heading">
                @fieldName
            </h2>
        </legend>
        <div class="govuk-hint">
        @fieldDescription
        </div>

        <div class="govuk-checkboxes" data-module="govuk-checkboxes" id="foi-exemption-codes">
            <div class="govuk-grid-row">
        @values.zipWithIndex.map {
            case (foiCode, index) => {
                @if(index == 0 || index % 15 == 0) {<div class="govuk-grid-column-one-third">}
                @{
                    inputSingleCheckbox(
                        index.toString,
                        Map(
                            Symbol("_label") -> foiCode,
                            Symbol("_value") -> foiCode,
                            Symbol("_smallCheckbox") -> false,
                            Symbol("_checkedOption") -> false,
                            Symbol("_dynamicForm") -> true,
                        ),
                        fieldErrors
                    )
                }
                @if((index + 1) % 15 == 0 || index == values.length-1) {</div>}
            }
        }
            </div>
        </div>
    </fieldset>
</div>
