@()(implicit messages: Messages)
<details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
            Help with neutral citation numbers
        </span>
    </summary>
    <div class="govuk-details__text">
        <p class="govuk-body">A neutral citation number will look like:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>[2025] EWCOP 123 (T1) </li>
            <li>[2025] EWHC 2084 (Ch)</li>
            <li>[2025] UKSC 123 </li>
        </ul>

        <p class="govuk-body">
            Further guidance on NCN&#39;s can be found on the <a class="govuk-link" target="_blank" href="https://nationalarchives.github.io/ds-caselaw-judiciary-guidance/ncn.html">
            Find Case Law website</a> (opens in a new tab).
        </p>
    </div>
</details>

