@()(implicit messages: Messages)
<div class="govuk-form-group">
    <label class="govuk-label" for="neutral-citation">
        <span class="govuk-body">Enter the NCN for the judgment that this update relates to:</span>
    </label>
    <input class="govuk-input" id="neutral-citation" name="judgment_neutral_citation" type="text">
</div>
<div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-visually-hidden">
            Original judgment to this update does not have an NCN
        </legend>
        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="no-ncn" name="judgment_no_neutral_citation" type="checkbox" value="no-ncn-select" data-aria-controls="conditional-no-ncn">
                <label class="govuk-label govuk-checkboxes__label" for="no-ncn">
                    Original judgment to this update does not have an NCN
                </label>
            </div>
            <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-no-ncn">
                <div class="govuk-form-group">
                    <label class="govuk-label" for="no-ncnHtml">
                        Provide any details that would help us identify the document, such as a transfer reference  (optional):
                    </label>
                    <input class="govuk-input" id="no-ncnHtml" name="judgment_reference" type="text">
                </div>
            </div>
        </div>
    </fieldset>
</div>

