@()
<div id="upload-noscript-error" class="govuk-error-summary upload-error" aria-labelledby="error-noscript-title"
role="alert" tabindex="0" data-module="govuk-error-summary">
  <h2 class="govuk-error-summary__title" id="error-noscript-title">
    There is a problem
  </h2>
  <div class="govuk-error-summary__body">
    <p>Javascript must be enabled on your browser to upload files and proceed with the transfer.</p>
    <p>Please check your settings to enable Javascript and refresh the page to try again. Alternatively, you can contact your IT department to resolve this issue.</p>
  </div>
</div>
