@* helper package contains inputRadioGroup therefore exclude from imports to prevent ambiguous import with view of the same name *@
@import helper.{inputRadioGroup => _, _}
@import viewsapi.FormFunctions._
@import scala.language.postfixOps
@import views.html.partials.inputSingleCheckbox

@(transferAgreementFormData: Form[_],
  taFormNamesAndLabels: Seq[(String, String)],
  formAlreadySubmitted: Boolean
)(implicit request: RequestHeader, messages: Messages)
@disabledStatus = {@if(formAlreadySubmitted) {disabled} else {}}

<div class="govuk-form-group">
  @if(!formAlreadySubmitted) @{CSRF.formField} else {}
  @for((name, label) <- taFormNamesAndLabels) {
    @inputSingleCheckbox(
        transferAgreementFormData(name),
        Symbol("_label") -> label,
        Symbol("_value") -> "true",
        Symbol("_smallCheckbox") -> false,
        Symbol("_checkedOption") -> transferAgreementFormData.shouldOptionBeSelected(name, formAlreadySubmitted),
        Symbol("_requiredOption") -> true,
        Symbol("_disabledOption") -> disabledStatus
    )
  }
</div>
