@(isLoggedIn: Boolean, name: String)(implicit messages: Messages, request: RequestHeader)

@main("judgmentFAQ", isLoggedIn = isLoggedIn, name = name, isJudgmentUser = true) {
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">Frequently Asked Questions</h1>
            <h2 id="getting-started" class="govuk-heading-m">Getting started</h2>
            <h3 class="govuk-heading-s" id="what-is-tdr">What is TDR?</h3>
            <p class="govuk-body">
                Transfer Digital Records (TDR) is a secure digital transfer service from The National Archives (TNA) that enables Public Record Bodies to upload, prepare and then transfer selected digital public records to TNA for permanent preservation and publication.
            </p>
            <p class="govuk-body">
                For anyone involved in recording judgments, this service is used to send the final approved judgment to TNA for preservation and publication on the ‘Find Case Law’ website <a href="https://caselaw.nationalarchives.gov.uk">https://caselaw.nationalarchives.gov.uk</a>.
            </p>

            <h3 class="govuk-heading-s" id="how-does-transferring-a-judgment-record-work">How does transferring a judgment record work?</h3>
            <p class="govuk-body">
                Clerks and judges can upload the approved judgment as a Microsoft Word (.docx) file. TDR then runs antivirus, file format and data integrity checks. If the checks are successful, the file can then be exported from TDR and received by TNA for processing and publication on TNA’s website.
            </p>
            <p class="govuk-body">
                Once submitted, TNA becomes responsible for archiving and publishing the judgment.
            </p>

            <h3 class="govuk-heading-s" id="how-to-get-an-account">How do I get an account?</h3>
            <p class="govuk-body">
                Your department may coordinate new account registration for you, in which case you will be notified and receive an emailed link, that will expire after 12 hours of receipt.
            </p>
            <p class="govuk-body">
                If you are a new user wanting to register for an account, please email the <span class="govuk-!-font-weight-bold">Judiciary Office Judgments Helpdesk</span> at <a href="mailto:@Messages("judiciary.email")">@Messages("judiciary.email")</a> and request to register as a new user, stating clearly your first name and surname.
            </p>
            <p class="govuk-body">
                Once you have been validated for an account, sign-in instructions will be emailed to you. Allow up to 2 working days for your request to be processed.
            </p>

            <h2 id="accessing-tdr-account" class="govuk-heading-m">Accessing my TDR account</h2>
            <h3 class="govuk-heading-s" id="what=browsers-are-supported">What browsers are supported?</h3>
            <p class="govuk-body">
                We do not support Internet Explorer (IE11). We advise you to use a different browser such as Edge, Chrome, Safari or Firefox to ensure you can use this service and all of its features.
            </p>

            <h3 class="govuk-heading-s" id="which-email-to-use-to-sign-in">Which email should I use to sign-in?</h3>
            <p class="govuk-body">
                Use the email that you used to create your account. If your email address changes, send full details of the change to <a href="mailto:@Messages("nationalArchives.email")">@Messages("nationalArchives.email")</a>.
            </p>

            <h3 class="govuk-heading-s" id="password-does-not-work">My password does not work</h3>
            <p class="govuk-body">
                If you forget your password or need to reset it, click the 'Forgot your password?' link on the sign in page to request a reset and follow the on-screen instructions. For any other password issue, email <a href="mailto:@Messages("nationalArchives.email")">@Messages("nationalArchives.email")</a>.
            </p>

            <h3 class="govuk-heading-s" id="what-is-mfa">What is multi-factor authentication (MFA)?</h3>
            <p class="govuk-body">
                To keep the service and your account secure from attack, you will be required to sign-in each time using MFA, which uses two separate pieces of information in order to authenticate and access the service. In TDR you will be required to sign in each time using your password and a unique generated ‘one-time password’ (OTP) code that confirms who you are. This can be set up with a free-to-download authenticator app on your smartphone device, such as Google Authenticator, Microsoft Authenticator, or FreeOTP. Other authenticators are available.
            </p>
            <p class="govuk-body">
                Free-to-download apps are available from the App Store for iPhone, or 'Google Play' and 'Play Store'.
            </p>

            <h3 class="govuk-heading-s"id="how-to-set-up-mfa-and-otp">How do I set up MFA and my one-time password (OTP)?</h3>
            <p class="govuk-body">
                When you register as a new TDR user, follow the registration steps in the TDR guidance supplied in order to set up a TDR-related account in the authenticator app on your own smartphone device. You will only need to configure this once for it to generate a code for each time you sign-in.
            </p>

            <h3 class="govuk-heading-s" id="where-to-get-my-otp-code">Where do I get my OTP code?</h3>
            <p class="govuk-body">
                Within the authenticator app, click on the TDR-related account that you set up to see a one-time passcode being generated every 30 to 60 seconds. Ensure you have enough time to use the code to complete sign-in before the code is refreshed.
            </p>

            <h3 class="govuk-heading-s" id="configuration-failed-what-should-i-do">When setting up the authenticator app, my configuration has failed - what should I do?</h3>
            <p class="govuk-body">
                If the authentication app fails to configure when adding a new account for TDR on your device, delete the failed TDR-related account within the app and try again. How you do this depends on the type of device you are using.
            </p>
            <p class="govuk-body">
                For Android:
            </p>
            <ol class="govuk-body">
                <li>Open the Authenticator app on the device and tap ‘Generate code’.</li>
                <li>In the ‘Generate code’ screen, press and hold the account you want to remove.</li>
                <li>When prompted, tap remove.</li>
            </ol>
            <p class="govuk-body">
                For iOS:
            </p>
            <ol class="govuk-body">
                <li>Open the Authenticator app on the device and tap ‘Generate code’.</li>
                <li>In the Generate code screen, swipe the account you wish to remove to the left.</li>
                <li>Or for Microsoft Authenticator specifically, look for the settings cog in the top corner and tap it to see the option that says ‘Remove account’</li>
            </ol>
            <p class="govuk-body">
                If you still need further support on the app, your local IT support desk may be able to assist.
            </p>

            <h3 class="govuk-heading-s" id="cant-use-my-phone-camera-to-scan-qr-code">I can't use my phone camera to scan the QR code</h3>
            <p class="govuk-body">
                Some device users may need to enable access to the camera in Settings.
            </p>
            <p class="govuk-body">
                Alternatively, a 9-digit Key code, accessed by clicking the link shown beneath the QR code in 'Part 2: Step 2' of the guidance, can be manually entered into the app. To do this:
            </p>
            <ol class="govuk-list govuk-list--number">
                <li>To generate the code, click on 'I want to enter a key instead' link underneath the QR code displayed on the page.</li>
                <li>Within your authenticator app look for the 'Enter a setup key' option and click that.</li>
                <li>Enter the Key code as shown into the app and it should create your unique OTP account for TDR sign in.</li>
                <li>You should now be able to see a 6-digit code that will refresh at regular intervals.</li>
                <li>Continue to follow instructions from 'Part 2: Step 3'.</li>
            </ol>

            <h3 class="govuk-heading-s" id="my-link-has-expired">My link has expired</h3>
            <p class="govuk-body">
                If your link has expired before use, email <a href="mailto:@Messages("nationalArchives.email")">@Messages("nationalArchives.email")</a> from your work email account and ask for a new link. Allow up to 2 working days for your request to be processed.
            </p>

            <h3 class="govuk-heading-s" id="can-share-my-sign-in-information">Can I share my sign-in information?</h3>
            <p class="govuk-body">
                No, never share your personal sign-in information with anyone else. Always keep your details safe and secure.
            </p>

            <h2 id="upload-process" class="govuk-heading-m">The upload process</h2>
            <h3 class="govuk-heading-s" id="what-file-formats-are-accepted">What file formats are accepted?</h3>
            <p class="govuk-body">
                We only accept Microsoft Word (.docx) documents. We cannot accept files that are password protected or encrypted.
            </p>

            <h3 class="govuk-heading-s" id="why-cant-drag-and-drop-or-upload-file">Why can’t I drag and drop or upload a file?</h3>
            <p class="govuk-body">
                This may happen for several reasons. To try to resolve this issue, first check if your internet connection is sufficient and stable. It may also help to refresh the page (though this might mean you have to begin the transfer process again). You can also check your file is not corrupted or damaged by opening it on your computer. If you still cannot upload your file, contact <a href="mailto:@Messages("nationalArchives.email")">@Messages("nationalArchives.email")</a> describing the issue and any steps taken.
            </p>

            <h3 class="govuk-heading-s" id="can-upload-multiple-files">Can I upload multiple files?</h3>
            <p class="govuk-body">
                No, you can only upload a single file each time. This file must be an approved judgment in the form of a Microsoft Word (.docx) document only.
            </p>

            <h3 class="govuk-heading-s" id="can-upload-folders">Can I upload folders?</h3>
            <p class="govuk-body">
                No, you cannot upload folders. You can only upload a single file.
            </p>

            <h3 class="govuk-heading-s" id="can-upload-a-file-via-one-drive">Can I upload a file via OneDrive, Google Drive or SharePoint?</h3>
            <p class="govuk-body">
                While we are developing the service (Private Beta stage), TDR can only accept records transferred from a hard or network drive. Please contact the <span class="govuk-!-font-weight-bold">Judiciary Office Judgments Helpdesk</span> at <a href="mailto:@Messages("judiciary.email")">@Messages("judiciary.email")</a> to discuss the best way to transfer records if they are not stored on a physical or networked drive.
            </p>
            <p class="govuk-body">
                In the future, TDR will begin accepting judgments transferred directly from the cloud.
            </p>

            <h3 class="govuk-heading-s" id="want-to-upload-additional-documents">I want to upload additional documents alongside a judgment</h3>
            <p class="govuk-body">
                At the moment, this service is for uploading approved judgment documents only. If you need to add supplementary material, email the documents to <a href="mailto:@Messages("nationalArchives.judgmentsEmail")">@Messages("nationalArchives.judgmentsEmail")</a>, quoting the transfer reference of your judgment.
            </p>
            <p class="govuk-body">
                You can use the email link on the TDR “Check your file before uploading” to automatically generate an email with the transfer reference in the subject field via your default email account.
            </p>

            <h3 class="govuk-heading-s" id="my-judgment-has-not-yet-been-approved-can-still-upload-it">My judgment has not yet been approved by a judge, can I still upload it?</h3>
            <p class="govuk-body">
                No, we can only accept approved judgments.
            </p>

            <h3 class="govuk-heading-s" id="what-must-the-judgment-contain">What must the judgment contain in order to be published?</h3>
            <p class="govuk-body">
                A judgment must contain the following:
            </p>
            <ul class="govuk-body">
                <li>Neutral citation</li>
                <li>Name(s) of judge(s)</li>
                <li>Name(s) of parties </li>
                <li>Court</li>
                <li>Judgment date</li>
            </ul>

            <h3 class="govuk-heading-s" id="what-is-a-neutral-citation">What is a neutral citation?</h3>
            <p class="govuk-body">
                Neutral citations make it easier to find judgments in online resources, such as The National Archives’ Find Case Law service or BAILII. The abbreviation indicates the court in which the case was heard, and the number indicates the case number.
            </p>

            <h3 class="govuk-heading-s" id="session-timed-out-before-upload-completed">The session timed out before I completed the upload process</h3>
            <p class="govuk-body">
                A session can time out during the upload process if your internet connection is weak. If your file was not uploaded successfully, you must begin the process again. To avoid the session timing out, ensure you have a sufficiently stable and strong internet connection.
            </p>

            <h3 class="govuk-heading-s" id="what-happens-if-close-browser-during-upload">What happens if I close my browser accidentally during upload?</h3>
            <p class="govuk-body">
                If you close your browser during upload, your file may not be uploaded successfully. You will need to return to the start and begin the upload process again.
            </p>

            <h3 class="govuk-heading-s" id="what-checks-are-carried-out">What checks are carried out?</h3>
            <p class="govuk-body">
                During upload, your file is checked to ensure it can be transferred to TNA. This will take several minutes and you must leave your tab open for them to complete. These checks include antivirus checks, file format identification and validating data integrity.
            </p>

            <h3 class="govuk-heading-s" id="what-happens-if-my-file-fails-the-checks">What happens if my file fails the checks?</h3>
            <p class="govuk-body">
                If you receive a notification that your file has failed our checks, please check the following:
            </p>
            <ul class="govuk-body">
                <li>That your internet connection is stable and strong</li>
                <li>That your file is a Microsoft Word document (.docx)</li>
                <li>That your file can be opened on your computer and to make sure it is not corrupted</li>
                <li>That your file is not password protected or encrypted</li>
            </ul>
            <p class="govuk-body">
                If you can confirm the above then try again. If your file still fails, contact <a href="mailto:@Messages("nationalArchives.email")">@Messages("nationalArchives.email")</a> describing the issue and any steps taken.
            </p>

            <h3 class="govuk-heading-s" id="successfully-checked-does-it-mean-judgment-transferred">When my judgment has been successfully checked, does that mean it has been transferred?</h3>
            <p class="govuk-body">
                Not yet. Once your judgment has been checked, you will be prompted to ‘export’ the file. This begins the transfer of the record to TNA in order for it to be processed and published.
            </p>
            <p class="govuk-body">
                You will be notified again separately by email when your file has been accepted for preservation and published on the website.
            </p>

            <h3 class="govuk-heading-s" id="what-is-transfer-reference-number">What is a transfer reference?</h3>
            <p class="govuk-body">
                A transfer reference is a unique label assigned to each judgment when uploading to TDR. It will be displayed in the top right-hand corner of your screen once you have begun a transfer and on the final Transfer complete page.
            </p>

            <h3 class="govuk-heading-s" id="why-need-to-note-transfer-reference-number">Why do I need to take note of the transfer reference number?</h3>
            <p class="govuk-body">
                If there is a problem with a judgment, if you need to check the status of a transfer, or if you need to send us supplementary documents or information about a judgment, you must quote the corresponding transfer reference number so we can locate the correct judgment and assist you.
            </p>

            <h3 class="govuk-heading-s" id="do-need-notification-before-uploading-another-judgment">Do I need to wait for a notification before I upload another judgment?</h3>
            <p class="govuk-body">
                No, once you have exported one judgment and reached the ‘Transfer Complete’ page, you may start another transfer.
            </p>

            <h3 class="govuk-heading-s" id="what-happens-if-editorial-error-in-judgment">What happens if there is an editorial error in my judgment?</h3>
            <p class="govuk-body">
                Judgments do not undergo editorial checks within TDR. This is done by the Case Law editorial team after we receive the judgment. If errors are identified, we will contact you. If you are aware of any errors before upload, amend the judgment before you begin the upload into TDR. If you notice an error after the judgment has been transferred from TDR, contact <a href="mailto:@Messages("nationalArchives.judgmentsEmail")">@Messages("nationalArchives.judgmentsEmail")</a> with the neutral citation and transfer reference.
            </p>

            <h2 class="govuk-heading-s" id="not-been-notified-judgment-published">I have not been notified that my judgment has been published</h2>
            <p class="govuk-body">
                If you do not receive confirmation that your judgment has been accepted for preservation after 5 working days, contact <a href="mailto:@Messages("nationalArchives.judgmentsEmail")">@Messages("nationalArchives.judgmentsEmail")</a>.
            </p>

            <h2 id="general" class="govuk-heading-m">General</h2>

            <h3 class="govuk-heading-s" id="contact-for-general-judgment-process-query">Who can I contact if I have a general query about the judgment process?</h3>
            <p class="govuk-body">
                Contact the <span class="govuk-!-font-weight-bold">Judiciary Office Judgments Helpdesk</span> at <a href="mailto:@Messages("judiciary.email")">@Messages("judiciary.email")</a> for queries regarding the transfer process, what templates to use, how to sign up for TDR, or more general queries regarding the suitability of records for transfer.
            </p>

            <h3 class="govuk-heading-s" id="contact-for-published-judgments-query">Who can I contact if I have a query about published judgments at TNA?</h3>
            <p class="govuk-body">
                Contact <a href="mailto:@Messages("nationalArchives.judgmentsEmail")">@Messages("nationalArchives.judgmentsEmail")</a> for queries about completed transfers, supplementary documents, replacing a judgment with an updated version, anonymisation order instructions, or other general queries about the Find Case Law service.
            </p>

            <h3 class="govuk-heading-s" id="tdr-technical-issue-query">Who can I contact if I have a technical issue with TDR?</h3>
            <p class="govuk-body">
                Contact <a href="mailto:@Messages("nationalArchives.email")">@Messages("nationalArchives.email")</a> for queries regarding the upload or transfer performance, the status of a transfer within TDR, or to report an issue encountered within TDR.
            </p>

            <h3 class="govuk-heading-s" id="tdr-how-secure-judgments">When using TDR, how secure are my judgments?</h3>
            <p class="govuk-body">
                Like all TNA’s services, TDR has undergone strict assessments to meet established security and design standards.
            </p>
        </div>
    </div>

}
