@import views.html.helper.CSRF
@import views.html.helper.form
@(name: String)(implicit messages: Messages, request: RequestHeader)

@main("Welcome", name = name, isJudgmentUser = true) {
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Welcome to the Transfer Digital Records service</h1>

      <h2 class="govuk-heading-m govuk-!-margin-top-9">Upload your court judgment to start a new transfer</h2>

      <p class="govuk-body">You must upload your court judgment as a Microsoft Word document (.docx).</p>

      @form(routes.HomepageController.judgmentHomepageSubmit(), (Symbol("novalidate"), "")) {
        @CSRF.formField
        <div class="govuk-button-group">
          <button data-prevent-double-click="true" class="govuk-button" type="submit" data-module="govuk-button"
          role="button">
            Start transfer
          </button>
        </div>
      }
    </div>
  </div>
}
