@import java.util.UUID
@import viewsapi.FrontEndInfo
@import views.html.partials.{frontEndInputs, progressIndicator}
@import views.html.helper.form
@import views.html.helper.form
@(consignmentId: UUID, frontEndInfo: FrontEndInfo, name: String)(implicit messages: Messages, request: RequestHeader)

@main("Checking your upload", name = name, isJudgmentUser = true) {
    @defining(play.core.PlayVersion.current) { version =>
    <div class="govuk-grid-row file-check-progress">
        <div class="govuk-grid-column-two-thirds">

            @progressIndicator(Messages("judgmentCheckingRecords.progress"), Messages("judgmentProgress.totalSteps"))
            @frontEndInputs(frontEndInfo)
            <h1 class="govuk-heading-l">Checking your upload</h1>
            <input id="consignmentId" type="hidden" value="@consignmentId">
            <p class="govuk-body">Your judgment is being checked for errors.
              This may take a few minutes. Once your judgment has been checked, you will be redirected automatically.</p>

            <!--        Form to redirect user once file checks have completed. It sends consignmentId to record results' placeholder page -->
            @form(routes.FileChecksResultsController.judgmentFileCheckResultsPage(consignmentId), Symbol("id") -> "file-checks-form") { }
        </div>
    </div>
    }
}
