@import views.html.partials.{progressIndicator, transferReference}

@import java.util.UUID

@(consignmentId: UUID, consignmentRef: String, name: String)(implicit request: RequestHeader, messages: Messages)
@main("Check your file before uploading", name = name, isJudgmentUser = true) {
@defining(play.core.PlayVersion.current) { version =>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      @progressIndicator(Messages("beforeUploading.progress"), isJudgmentUser=true)
      <h1 class="govuk-heading-l">Check your file before uploading</h1>
      <p class="govuk-body govuk-!-margin-bottom-1">Your upload must contain the following information:</p>
      <p class="govuk-body govuk-!-margin-bottom-1">neutral citation, name(s) of judge(s), name(s) of parties, court and judgment date.</p>

      <h2 class="govuk-heading-s">Select <a href="mailto:@Messages("nationalArchives.judgmentsEmail")?subject=Ref: @consignmentRef">@Messages("nationalArchives.judgmentsEmail")</a>
          to generate an automatic email, with the transfer reference included, in order to:
      </h2>
    <ul class="govuk-list govuk-list--bullet">
        <li>Attach and send supplementary material for this judgment.</li>
        <li>Flag when your judgment is a new version; quote the details of the original document being replaced.</li>
        <li>Flag when your judgment is subject to an anonymisation order.</li>
    </ul>
      <div class="govuk-button-group">
        <a href="@routes.UploadController.judgmentUploadPage(consignmentId)" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
            Continue
        </a>

        <a class="govuk-link" href="@routes.HomepageController.homepage()">Cancel</a>
      </div>
    </div>
    @transferReference(consignmentRef, isJudgmentUser = true)
</div>
}
}
