@(isLoggedIn: Boolean, name: String)(implicit messages: Messages, request: RequestHeader)
@defining("Transferring Judgments to The National Archives") { title =>
  @main(title, isLoggedIn = isLoggedIn, name = name, isJudgmentUser = true) {
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l" id="transferring-judgments">@title</h1>

        <h2 class="govuk-heading-m" id="step-by-step-guide">A step-by-step guide to using Transfer Digital Records (TDR)</h2>
        <nav aria-label="List">
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="#about">About this service</a></li>
            <li><a href="#before-you-begin">Before you begin</a></li>
            <li>
              <a href="#register-new-account">Registering for a new account</a>
              <ul class="govuk-list govuk-list--bullet">
                <li><a href="#new-user-email">New user email</a></li>
                <li><a href="#two-step-auth">Set up your OTP account for multi-factor authentication</a></li>
                <li><a href="#set-pass">Set your password</a></li>
              </ul>
            </li>
            <li>
              <a href="#existing-account-holder">Using this service as an existing account holder</a>
              <ul class="govuk-list govuk-list--bullet">
                <li><a href="#accessing-tdr">Accessing TDR</a></li>
                <li><a href="#step-0">Step 0: Sign in to your account using multi-factor authentication</a></li>
                <li><a href="#step-1">Step 1: Check your file before uploading</a></li>
                <li><a href="#step-2">Step 2: Upload the judgment</a></li>
                <li><a href="#step-3">Step 3: Upload undergoes checks</a></li>
                <li><a href="#step-4">Step 4: Transfer complete</a></li>
              </ul>
            </li>
            <li><a href="#glossary">Glossary</a></li>
          </ul>
        </nav>
        <br>

        <h2 class="govuk-heading-m" id="about">About this service</h2>
        <p class="govuk-body">
          Transfer Digital Records (TDR) is a secure digital transfer service from The National Archives (TNA) that enables Public Record Bodies to upload, prepare and then transfer selected digital public records to TNA for permanent archiving and publication.
        </p>
        <p class="govuk-body">
          For anyone involved in recording judgments, this service is used to send the final approved judgment to TNA for preservation and publication on the 'Find Case Law' website <a href="https://caselaw.nationalarchives.gov.uk">https://caselaw.nationalarchives.gov.uk</a>.
        </p>
        <p class="govuk-body">
          Sending judgments via TDR is in two stages:
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>First you will upload your judgment onto TDR </li>
          <li>Then you will be prompted to export your judgment for transfer to TNA</li>
        </ul>

        <h2 class="govuk-heading-m" id="before-you-begin">Before you begin</h2>

        <h3 class="govuk-heading-s" id="web-browsers">Web browsers</h3>
        <p class="govuk-body">
          We do not support Internet Explorer. We advise you to use a different browser such as Edge, Chrome or Firefox to ensure you can use this service and all of its features.
        </p>

        <h3 class="govuk-heading-s" id="secured-access">Secured access</h3>
        <p class="govuk-body">
          In order to keep the service and your account secure, TDR uses Multi-Factor Authentication (MFA), which needs two separate pieces of information in order to authenticate and grant access to the service. This means you are required to sign in each time using a unique generated 'one-time password' (OTP) code that confirms who you are. This can be set up with a free-to-download authenticator app on your smartphone, such as Google Authenticator, Microsoft Authenticator, or FreeOTP. Other authenticators are also available.
        </p>
        <p class="govuk-body">
          Free-to-download apps are available from the App Store for iPhone, or 'Google Play' and 'Play Store' for Android.
        </p>

        <h3 class="govuk-heading-s" id="file-format">File format</h3>
        <p class="govuk-body">
          You must only upload a single Microsoft Word (.docx) document per transfer, using the template supplied by the Judiciary Office Judgments Helpdesk. During upload and checking, if we detect a file we cannot accept, you will be notified on screen. For more information about the types of files we accept, contact <a href="mailto:@Messages("judiciary.email")">@Messages("judiciary.email")</a>
        </p>
        <h3 class="govuk-heading-s" id="supplementary-material">Supplementary material</h3>
        <p class="govuk-body">
          If supporting documents, such as photos, need to be preserved with a judgment, they must be emailed to the TNA Find Case Law editorial team with the transfer reference of the judgment they relate to. Full details on how to do this can be found <a href="#supp-material">
          here</a>.
        </p>

        <h3 class="govuk-heading-s" id="contact-us">Contact us</h3>
        <p class="govuk-body">
          If you have a query regarding asking for a TDR account, the transfer process, the status of your transfer, or more general queries regarding the suitability of records for transfer, file format or transfer agreement criteria, email the Judiciary Office Judgments Helpdesk at <a href="mailto:@Messages("judiciary.email")">
          @Messages("judiciary.email")</a>.
        </p>

        <h2 class="govuk-heading-m" id="register-new-account">Registering for a new account</h2>
        <h3 class="govuk-heading-s" id="new-user-email">Part 1: New user email</h3>
        <ol class="govuk-body">
          <li>
            If your department has not requested a new account registration for you, you can register for a new TDR account by emailing <a href="mailto:@Messages("nationalArchives.email")">
            @Messages("nationalArchives.email")</a>
            from your work email account. in the email you should ask to register as a new user, stating clearly your first name and surname. Allow up to two working days for your request to be processed. </li>
          <li>
            Once your account is validated, you will be sent an email with the subject <span class="govuk-!-font-weight-bold">"Register for your Transfer Digital Records (TDR) account - ACTION REQUIRED"</span> which contains important registration instructions.</li>
          <li>
            You will receive an email shortly after with the subject <span class="govuk-!-font-weight-bold">"Update Your Account"</span>, containing <span class="govuk-!-font-weight-bold">a link that expires after 12 hours.</span> Click the link before it expires to begin your registration. <em>If your link expires before you can use it, email <a href="mailto:@Messages("nationalArchives.email")">@Messages("nationalArchives.email")</a> and request a new registration link.</em></li>
          <li>The registration link will take you to this page:</li>
          <img src="@routes.Assets.versioned("images/configure-otp-password-page.png")" class="screenshots" alt="Sign in page with a link to setup MFA and password" />
          <li>
            Click on the <span class="govuk-!-font-weight-bold">"Configure OTP, Update Password"</span> link to set up your 'one-time password' (OTP) code, sometimes referred to as 'one-time PIN', to securely sign in using two-step authentication.</li>
        </ol>

        <h3 class="govuk-heading-s" id="why-otp">What is OTP and why do I need to use it?</h3>
        <p class="govuk-body">
          A ‘one-time password’ (OTP) code is a unique generated code that confirms who you are. An OTP code is generated in an authenticator app. Free authenticator apps can be downloaded onto your smartphone, such as Google Authenticator, Microsoft Authenticator, or FreeOTP. Other authenticators are available. Free-to-download apps are available from the App Store for iPhone, or 'Google Play' and 'Play Store' for Android.
        </p>
        <p class="govuk-body">
          To keep the service and your account secure, you must sign in to your account using an OTP in addition to your personal password.
        </p>

        <h3 class="govuk-heading-s" id="two-step-auth">Part 2: Two-step authentication</h3>
        <p class="govuk-body">
          Clicking the "Configure OTP, Update Password" link will take you to the <span class="govuk-!-font-weight-bold">"Configure multi-factor authentication"</span> page:
        </p>
        <img src="@routes.Assets.versioned("images/set-up-mfa-page.png")" class="screenshots" alt="Form to setup multi factor authentication" />
        <p class="govuk-body">First you must ensure you have installed an authenticator app onto your smartphone before proceeding.</p>
        <p class="govuk-body">To set up your app for use with TDR, open your authenticator app on your mobile and create a new TDR account using the QR displayed on your screen</p>
        <ul class="govuk-body">
          <li>For Google Authenticator, click on the first option 'Scan a QR code'.</li>
          <li>
            For Microsoft Authenticator, first click on the '+' icon to add an account. You might need to click on the three little dots in the top right corner to have this option displayed. Then select "Other (Google, Facebook, etc.)" to access the QR scanner.
          </li>
          <li>For Free OTP, click on the QR code icon located in the top banner of your smartphone screen.</li>
        </ul>
        <p class="govuk-body">Scan the QR code displayed on your computer screen and your app will automatically create a unique OTP account to use with TDR. You should now see a 6-digit code that will refresh at regular intervals.</p>
        <p class="govuk-body">In the "One-time code" box, type in the six digits <u>without a space</u>, ensuring that you have enough time to complete this page before the code refreshes (usually every 30 to 60 seconds).</p>
        <p class="govuk-body">Click "Submit" <u>before</u> the code expires in the app.</p>

        <h3 class="govuk-heading-s" id="set-pass">Part 3: Set your password</h3>
        <p class="govuk-body">
          You will be taken to a <span class="govuk-!-font-weight-bold">"Set new password"</span> page in order to set your own unique password:</p>
        <img src="@routes.Assets.versioned("images/set-password-page.png")" class="screenshots" alt="Form to set a new password" />
        <ol class="govuk-body">
          <li>
            Enter a unique password, using a minimum of 10 characters, into the <span class="govuk-!-font-weight-bold">"New password"</span> box. Enter the same password in the <span class="govuk-!-font-weight-bold">"Confirm password"</span> box. Do not share your password with anyone.</li>
          <li>Click <span class="govuk-!-font-weight-bold">"Submit"</span> to be taken to the "Sign in to your account" page:</li>
          <img src="@routes.Assets.versioned("images/sign-in-link-page.png")" class="screenshots" alt="Page with a link to sign in to your account" />
          <li>
            Click the <span class="govuk-!-font-weight-bold">"sign in to your account"</span> link to be taken to the standard "Sign in to your account" page that you will see each time you sign in to use the service as an existing account holder.
          </li>
            <li>You must complete your registration following the sign in procedure.</li>
        </ol>

        <h2 class="govuk-heading-m" id="existing-account-holder">Using the service as an existing account holder</h2>
        <h3 class="govuk-heading-s" id="web-browsers-access">Web browsers</h3>
        <p class="govuk-body">
          We do not support Internet Explorer. We advise you to use a different browser such as Edge, Chrome or Firefox to ensure you can use this service and all of its features.
        </p>

        <h3 class="govuk-heading-s" id="accessing-tdr">Accessing TDR</h3>
        <p class="govuk-body">
          TDR is accessed through your web browser and can be found here: <a href="https://tdr.nationalarchives.gov.uk/">
          https://tdr.nationalarchives.gov.uk/</a>
        </p>

        <img src="@routes.Assets.versioned("images/home-page.png")" class="screenshots" alt="TDR home page" />
        <p class="govuk-body">
          Click <span class="govuk-!-font-weight-bold">"Start now"</span> to sign in and begin the transfer process.
        </p>

        <h3 class="govuk-heading-s" id="step-0">To begin: Sign in to your account using Multi-Factor Authentication</h3>
        <p class="govuk-body">
          Before you can use the service, you must sign in using Multi-Factor Authentication (MFA) with the authenticator app that you set up on your smartphone, which generates your unique 'one-time password' (OTP) code.
        </p>
        <ol class="govuk-body">
          <img src="@routes.Assets.versioned("images/judgment-sign-in-email-password.png")" class="screenshots" alt="Form to enter an email and password" />
          <li>
            Sign in by entering your email address and password, then click "Sign in" to be taken to the "One-time code" section on this page:
          </li>
          <img src="@routes.Assets.versioned("images/enter-mfa-code-page.png")" class="screenshots" alt="Form to enter the code from the MFA app" />
          <li>
            Enter a new 6-digit one-time code from the authenticator app that you set up when you registered. Enter the code without any spaces and click <span class="govuk-!-font-weight-bold">"Continue"</span> before it refreshes.
          </li>
          <li>You will then be taken to the TDR Homepage
            <img src="@routes.Assets.versioned("images/judgment-tdr-start-page.png")" class="screenshots" alt="The TDR Homepage" />
            Click <span class="govuk-!-font-weight-bold">"Start transfer"</span> to begin
          </li>

        </ol>

        <h3 class="govuk-heading-s" id="step-1">Step 1: Check your file before uploading</h3>
        <p class="govuk-body">
          You will be prompted to check that your file contains the following information:
        </p>
        <ul class="govuk-body">
          <li>Neutral citation</li>
          <li>Name(s) of judge(s)</li>
          <li>Name(s) of parties </li>
          <li>Court</li>
          <li>Judgment date</li>
        </ul>
        <p class="govuk-body">
            You must ensure your judgment includes all important information above <span class="govuk-!-font-weight-bold">before</span> you start your upload. Press "Continue" when you are ready to move on.
        </p>
        <img src="@routes.Assets.versioned("images/judgment-check-your-file.png")" class="screenshots" alt="Check your file before uploading page" />

        <h3 class="govuk-heading-s" id="supp-material">Supplementary material</h3>
        <p class="govuk-body">
          Currently, you cannot upload additional documents with your judgment, as part of the transfer. Instead, click on the <a href="mailto:@Messages("nationalArchives.judgmentsEmail")">
          @Messages("nationalArchives.judgmentsEmail")</a>
          link located in the middle of the screen to generate an automatic email with the transfer reference as the subject. Attach your supplementary documents and add any other relevant information before sending.
        </p>
        <p class="govuk-body">
          You can also create the email yourself, manually adding the transfer reference as the subject and sending it to the correct email address.
        </p>

        <h3 class="govuk-heading-s" id="replacement-versions">Replacement versions</h3>
        <p class="govuk-body">
          If your judgment is an amended replacement version for an existing judgment, email <a href="mailto:@Messages("nationalArchives.judgmentsEmail")">@Messages("nationalArchives.judgmentsEmail")</a> to notify the TNA Find Case Law editorial team. Include the neutral citation reference of the original judgment that it is replacing.
        </p>

        <h3 class="govuk-heading-s" id="anonymisation-orders">Anonymisation Orders</h3>
        <p class="govuk-body">
          If your judgment has an anonymisation order, email <a href="mailto:@Messages("nationalArchives.judgmentsEmail")">@Messages("nationalArchives.judgmentsEmail")</a> to notify the TNA Find Case Law editorial team. You must include the neutral citation reference and any important information. This procedure will become automated in time.
        </p>

        <h3 class="govuk-heading-s" id="step-2">Step 2: Upload the judgment</h3>
        <p class="govuk-body">
          To upload your judgment, you can either:
        </p>
        <ol class="govuk-body">
          <li>"Choose file" by browsing for a file stored on your computer, or "Drag and drop a single file" into the upload box. The file must be uploaded as a Microsoft Word document (.docx) and you must only upload a single file. Only valid Word files will be visible when using 'Choose file' to browse. If you attempt to 'Drag and drop' a different file format, you will see this error message and must choose a different valid Word file.</li>
          <img src="@routes.Assets.versioned("images/judgment-upload-error.png")" class="screenshots" alt="Judgment upload error page" />
          <li>
            <p class="govuk-body">
              When you have selected a valid file, the page will show the name of the file selected in green.
            </p>
            <img src="@routes.Assets.versioned("images/judgment-upload-valid-file.png")" class="screenshots" alt="Judgment upload page with a valid file selected" />

            <p class="govuk-body">
              If you selected a file in error, use the blue "Remove selected records" link, to the right of the file name, to remove the file and start the selection again.
              Click "Start upload" to upload your judgment to TDR. You will see a progress bar as the file uploads.
            </p>
          </li>
          <img src="@routes.Assets.versioned("images/judgment-progress-bar.png")" class="screenshots" alt="Judgment upload progress bar"/>
          <p class="govuk-body">
            You will automatically be transferred to Step 3 when the upload is complete.
          </p>
        </ol>

        <h3 class="govuk-heading-s" id="step-3">Step 3: Upload undergoes checks</h3>
        <p class="govuk-body">
          Once uploaded, your judgment is automatically checked to ensure it is suitable for transfer. This will take several minutes so you must keep your browser tab open.
        </p>
        <img src="@routes.Assets.versioned("images/judgment-checking-your-upload.png")" class="screenshots" alt="Checking your upload page" />

        <p class="govuk-body">
          If your upload passes the checks, you will be notified on screen with a "Success" message.
        </p>
        <img src="@routes.Assets.versioned("images/judgment-file-check-results.png")" class="screenshots" alt="File check results page" />

        <p class="govuk-body">You must click "Export" to transfer your successful upload from TDR to TNA and complete the process.</p>

        <h3 class="govuk-heading-s" id="error-message">Error message</h3>
        <p class="govuk-body">
          If your file fails our checks, you will be notified on screen and asked to begin your transfer again from the TDR Homepage.
        </p>
        <p class="govuk-body">
          Before you try again, you should check the following:
        </p>
        <ul class="govuk-body">
          <li>Your internet connection is stable</li>
          <li>Your file is a Microsoft Word document (.docx)</li>
          <li>Your file is not corrupted or password protected by checking you can open it on your own computer</li>
        </ul>
        <p class="govuk-body">
          If your file meets this criteria then try again. If your file still fails, contact <a href="mailto:@Messages("nationalArchives.email")">
          @Messages("nationalArchives.email")</a> with details of the judgment you have tried to upload.
        </p>

        <h3 class="govuk-heading-s" id="step-4">Step 4: Transfer complete</h3>

        <p class="govuk-body">
          After clicking "Export", your upload will be transferred to TNA and, once received, you will automatically be taken to the "Transfer complete" page.
        </p>
        <p class="govuk-body">
          This will include a transfer reference (e.g. TDR-2022-1234). Make a note of this reference in case you need to contact us regarding your transfer or if you need to submit supporting documents, inform us about a replacement version, or inform us with details of an anonymisation order.
        </p>
        <p class="govuk-heading-s">
          Do not delete your original file yet.
        </p>
        <p class="govuk-body">
          You will be notified again by email once the judgment has been received, processed by the Find Case Law editorial team, and published for viewing on the Find Case Law website.
        </p>
        <img src="@routes.Assets.versioned("images/judgment-transfer-complete.png")" class="screenshots" alt="Transfer complete page" />
        <p class="govuk-body">
          Click <span class="govuk-!-font-weight-bold">"Return to start"</span> to begin a new transfer, or <span class="govuk-!-font-weight-bold">"Sign Out"</span> in the top right corner.
        </p>

        <h3 class="govuk-heading-s" id="send-feedback">Send us feedback about your experience</h3>
        <p class="govuk-body">
          Please click the <span class="govuk-!-font-weight-bold">"What did you think of this service?"</span> link to open up an anonymous survey in a new tab and send feedback to improve the service.
        </p>
        <p class="govuk-body">
          Thank you for using TDR
        </p>

        <h2 class="govuk-heading-m" id="glossary">Transfer Digital Records Glossary</h2>
        <p class="govuk-body">
          Each of the following terms is defined within the context of Transfer Digital Records (TDR).
        </p>

        <h3 class="govuk-heading-s" id="glossary-anonymisation-order">Anonymisation Order</h3>
        <p class="govuk-body">
          Specific conditions formerly assigned to protect the identity of one or more parties.
        </p>

        <h3 class="govuk-heading-s" id="glossary-authenticator-app">Authenticator app</h3>
        <p class="govuk-body">
          A software app that can be downloaded onto a smartphone and configured to produce a one-time password (OTP) code unique to the user of the device.
        </p>

        <h3 class="govuk-heading-s" id="glossary-browser">Browser</h3>
        <p class="govuk-body">
          An application used to access the internet, such as Edge, Chrome or Firefox.
        </p>

        <h3 class="govuk-heading-s" id="glossary-judgment">Judgment</h3>
        <p class="govuk-body">
          A record of a court judgment or tribunal decision.
        </p>

        <h3 class="govuk-heading-s" id="glossary-word-document">Microsoft Word (.docx) document</h3>
        <p class="govuk-body">
          A specific electronic file format used for creating documents.
        </p>

        <h3 class="govuk-heading-s" id="glossary-mfa">Multi-Factor Authentication (MFA)</h3>
        <p class="govuk-body">
          A security feature that uses two separate pieces of information in order to authenticate a genuine account holder. In TDR this includes the user's unique password and an OTP code generated in a configured authenticator app.
        </p>

        <h3 class="govuk-heading-s" id="glossary-neutral-citation">Neutral citation</h3>
        <p class="govuk-body">
          A reference that makes it easier to find judgments in online resources, such as BAILII. The abbreviation indicates the court in which the case was heard, and the number indicates the case number.
        </p>

        <h3 class="govuk-heading-s" id="glossary-otp">One-time password (OTP)</h3>
        <p class="govuk-body">
          A unique code generated in an authenticator app that is specific to the user of a configured account.
        </p>

        <h3 class="govuk-heading-s" id="glossary-replacement-versions">Replacement versions</h3>
        <p class="govuk-body">
          An amended replacement version of an existing judgment that has already been published by TNA.
        </p>

        <h3 class="govuk-heading-s" id="glossary-supplementary-material">Supplementary material</h3>
        <p class="govuk-body">
          Additional specified documents that are directly associated with an individual judgment.
        </p>

        <h3 class="govuk-heading-s" id="glossary-tdr">Transfer Digital Records (TDR)</h3>
        <p class="govuk-body">
          A product that allows specific documents to be transferred electronically and securely to TNA via a web browser.
        </p>

        <h3 class="govuk-heading-s" id="glossary-transfer-reference">Transfer reference</h3>
        <p class="govuk-body">
          A unique reference code assigned to your individual transfer (e.g. TDR-2022-1234) that allows us to identify the transaction and judgment within it.
        </p>

        <h3 class="govuk-heading-s" id="glossary-upload">Upload</h3>
        <p class="govuk-body">
          The action of copying a file into TDR, or the copied file itself.
        </p>

        <h3 class="govuk-heading-s" id="glossary-validation-checks">Validation checks</h3>
        <p class="govuk-body">
          Digital file checking that includes anti-virus check, file authentication, and file-format identification.
        </p>
      </div>
    </div>
  }
}
