@import java.util.UUID
@import views.html.partials.returnToStartPage
@import views.html.partials.feedbackSurvey
@(reference: String, name: String)(implicit messages: Messages, request: RequestHeader)
    @main("Transfer complete", name = name) {
        @defining(play.core.PlayVersion.current) { version =>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">

                    <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-6">
                        <h1 class="govuk-panel__title">
                            Transfer complete
                        </h1>
                        <div class="govuk-panel__body govuk-!-font-size-27">
                        Your file has now been transferred to The National Archives.
                        </div>
                        <div class="govuk-panel__body govuk-!-font-size-27 govuk-!-margin-top-5">
                            Reference: <span class="govuk-!-font-weight-bold">@reference</span>
                        </div>
                    </div>

                    <p class="govuk-body">We have now received your court judgment. Please do not delete the original file you uploaded until you are notified that it has been published.</p>

                    <h2 class="govuk-heading-m govuk-!-margin-top-2">What happens next</h2>

                    <p class="govuk-body">You will be notified by email once the court judgment has been received and published.</p>

                    @feedbackSurvey()

                    @returnToStartPage()
                </div>

            </div>
        }
    }
