@import java.util.UUID
@import views.html.partials.{errorSummary, progressIndicator, transferAgreementHeader, transferAgreementWarning}
@import play.twirl.api.Html

@import views.html.helper.form

@(consignmentId: UUID, warningMessage: String)(implicit request: RequestHeader, messages: Messages)
@main("Transfer agreement") {
@defining(play.core.PlayVersion.current) { version =>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      @transferAgreementHeader()
      <p class="govuk-body">Please confirm that the court judgment contains the following information.</p>
      @transferAgreementWarning(warningMessage)
      <p class="govuk-body">In case the court judgment you want to transfer has supplementary material: upload the court judgment using this service and email the supplementary material to tdr@@nationalarchives.gov.uk</p>
      <div class="govuk-button-group">
        <a href="@routes.UploadController.judgmentUploadPage(consignmentId)" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
            Continue
        </a>

        <a class="govuk-link" href="@routes.HomepageController.homepage()">Cancel</a>
      </div>
    </div>
</div>
}
}
