@import views.html.helper.CSRF
@import views.html.helper.form
@import views.html.partials.viewTransfersBtn
@(name: String, blockViewTransfers: Boolean, blockPressSummaries: Boolean)(implicit messages: Messages, request: RequestHeader)
@defining("Welcome to the Transfer Digital Records service") { title =>
  @main(title, name = name, isJudgmentUser = true) {
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">@title</h1>

        <p class="govuk-body">You can use this service to:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>transfer judgments and decisions</li>
          <li>transfer an amendment/press summary to an existing judgment or decision</li>
        </ul>

        @form(routes.HomepageController.judgmentHomepageSubmit(), (Symbol("novalidate"), "")) {
          @CSRF.formField
          <button data-prevent-double-click="true" class="govuk-button govuk-!-margin-bottom-8" type="submit" data-module="govuk-button"
          role="button">
            Start your transfer
          </button>
          @if(!blockViewTransfers) {
            @viewTransfersBtn()
          }
        }

        <h2 class="govuk-heading-m">Further support</h2>
        <p class="govuk-body">
        Contact the publishing editors:
            <a href="mailto:@Messages("nationalArchives.judgmentsEmail")">@Messages("nationalArchives.judgmentsEmail")</a>
        </p>
      </div>
    </div>
  }
}
