@import views.html.partials.transferReference

@import java.util.UUID

@import views.html.partials.backLink
@(consignmentId: UUID, consignmentRef: String, name: String)(implicit request: RequestHeader, messages: Messages)
@main("Before you upload a document", name = name, isJudgmentUser = true, backLink = Some(backLink(routes.HomepageController.homepage().url, "Back"))) {
    @defining(play.core.PlayVersion.current) { version =>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l">Before you upload a document</h1>
                <h2 class="govuk-heading-m">What your document must contain</h2>
                <p class="govuk-body">We can only accept a single document in Microsoft Word (docx) format. It must contain the following information:</p>
                <ul class="govuk-list govuk-list--number">
                    <li>neutral citation</li>
                    <li>name(s) of judge(s)</li>
                    <li>name(s) of parties</li>
                    <li>court and judgment date</li>
                </ul>
                <h2 class="govuk-heading-m">How to format your document</h2>
                <p class="govuk-body">After you submit a Microsoft Word document we convert the content into a web page and PDF. To ensure the information is converted correctly, we ask you to follow some formatting guidelines and rules in the original document.</p>
                <p class="govuk-body govuk-!-margin-bottom-6">Read our <a target="_blank" class="govuk-link" href="https://nationalarchives.github.io/ds-caselaw-judiciary-guidance/">guidance on formatting your document</a>.</p>
                <details class="govuk-details govuk-!-margin-bottom-4">
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                            How will my document look once it's published?
                        </span>
                    </summary>
                    <div class="govuk-details__text">
                        <p class="govuk-body">The web page view may look slightly different to the original document but will contain the same information. This is to make sure the document meets basic web accessibility standards.</p>
                        <p class="govuk-body">The PDF will be as close a copy of the original document as possible.</p>
                    </div>
                </details>
                <div class="govuk-button-group">
                    <a href="@routes.UploadController.judgmentUploadPage(consignmentId)" role="button" draggable="false" class="govuk-button" data-module="govuk-button">Continue</a>
                </div>
            </div>
            @transferReference(consignmentRef, isJudgmentUser = true)
        </div>
    }
}
