@import java.util.UUID
@import views.html.partials.{feedbackSurvey, returnToHomepage}
@(reference: String, name: String)(implicit messages: Messages, request: RequestHeader)
    @main("Transfer complete", name = name, isJudgmentUser = true) {
        @defining(play.core.PlayVersion.current) { version =>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">

                    <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-6">
                        <h1 class="govuk-panel__title">
                            Transfer complete
                        </h1>
                        <div class="govuk-panel__body govuk-!-font-size-27">
                            <div class="transfer-complete">
                                <p>Your file has now been transferred to The National Archives.</p>
                            </div>
                        </div>
                        <div class="govuk-panel__body govuk-!-font-size-27 govuk-!-margin-top-5">
                            Transfer Reference: <span class="govuk-!-font-weight-bold">@reference</span>
                        </div>
                    </div>

                    <h2 class="govuk-heading-m">What happens next</h2>

                    <p class="govuk-body">Your transfer will now be reviewed by the editorial team.</p>
                    <p class="govuk-body">You will be notified by email once the judgment has been reviewed and published.</p>
                    <p class="govuk-body">Do not delete the original file you uploaded until you have been notified.</p>


                    @feedbackSurvey("https://www.smartsurvey.co.uk/s/5YDPSA/")

                    <h2 class="govuk-heading-m">If this is an update to an existing judgment or decision</h2>
                    <p class="govuk-body">
                        If this transfer was an update or revision, email <a href="mailto:@Messages("nationalArchives.judgmentsEmail")?subject=Ref: @reference">@Messages("nationalArchives.judgmentsEmail")</a> and include the following:
                    </p>
                    <ul class="govuk-list govuk-list--number">
                        <li>the neutral citation</li>
                        <li>the transfer reference: <strong>@reference</strong></li>
                        <li>tell us if this transfer was a revision or update</li>
                        <li>provide a short description of what has changed</li>
                    </ul>

                    <h2 class="govuk-heading-m">Contact the publishing editors</h2>
                    <p class="govuk-body"><a href="mailto:@Messages("nationalArchives.judgmentsEmail")">@Messages("nationalArchives.judgmentsEmail")</a></p>

                    @returnToHomepage()
                </div>

            </div>
        }
    }
