@(isLoggedIn: Boolean, name: String, isJudgmentUser: Boolean)(implicit messages: Messages, request: RequestHeader)
@defining("Accessibility statement") { title =>
  @main(title, isLoggedIn = isLoggedIn, name = name, isJudgmentUser = isJudgmentUser) {
    <h1 class="govuk-heading-l">@title</h1>
    <p class="govuk-body"> This statement applies to content published on Transfer Digital Records (TDR) only.</p>
    <p class="govuk-body">
      TDR is run by the Digital Archiving department at The National Archives.
      It is designed to be used by as many people as possible.
      The text should be clear and simple to understand. You should be able to:
    </p>
    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
      <li>zoom in up to 300% without problems</li>
      <li>navigate most of the website using just a keyboard</li>
      <li>navigate most of the website using speech recognition software</li>
      <li>
        use most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver</li>
    </ul>
    <p class="govuk-body">The website text has been made as simple to understand as possible and tested with real users.</p>
    <h2 class="govuk-heading-m">How accessible this website is</h2>
    <p class="govuk-body">
      In its current iteration, the vast majority of TDR fully meets Web Content Accessibility Guidelines (WCAG) 2.1 AA standards.</p>
    <p class="govuk-body">Parts of this website that are not fully accessible include:</p>
    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
      <li>some heading elements are not consistent</li>
      <li>some images do not have image descriptions</li>
      <li>some buttons are not correctly identified</li>
      <li>some error messages are not sufficient to identify or rectify errors</li>
      <li>some custom elements are inaccessible for assistive technologies</li>
    </ul>


    <p class="govuk-body">
      As part of ongoing development, design iterations incorporate a progressive enhancement approach
      and TDR is continuously tested to ensure that it meets WCAG 2.1 AA standards wherever possible.
    </p>
    <h2 class="govuk-heading-m">Feedback and contact information</h2>
    <p class="govuk-body">If you need information on this website in a different format:</p>
    <p class="govuk-body">Email: <a href="mailto:@Messages("nationalArchives.email")">@Messages("nationalArchives.email")</a></p>
    <p class="govuk-body">
      Write to:
    </p>
    <address>
      <span class="govuk-!-font-weight-bold">Digital Selection and Transfer team c/o</span><br/>
      <span class="govuk-!-font-weight-bold">Digital Archiving Department</span><br/>
      <span class="govuk-!-font-weight-bold">The National Archives</span><br/>
      <span class="govuk-!-font-weight-bold">Bessant Drive</span><br/>
      <span class="govuk-!-font-weight-bold">Richmond</span><br/>
      <span class="govuk-!-font-weight-bold">Surrey</span><br/>
      <span class="govuk-!-font-weight-bold">TW9 4DU</span><br/>
    </address>
    <br>
    <p class="govuk-body">In your message, include:</p>
    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
      <li>the web address (URL) of the content</li>
      <li>your name and email address or contact details</li>
      <li>the format you need - for example, plain text, braille, BSL, large print or audio CD</li>
    </ul>

    <p class="govuk-body">
      Your request will be considered, and you will be contacted within 30 days with the outcome of the request.</p>
    <h2 class="govuk-heading-m">Reporting accessibility problems with this website</h2>
    <p class="govuk-body">
      If you find any problems that are not listed on this page or think that accessibility
      requirements are not being met, <a href="mailto:@Messages("nationalArchives.email")">contact us</a>
    </p>
    <h2 class="govuk-heading-m">Enforcement procedure</h2>
    <p class="govuk-body">
      If you contact us with a complaint and you are not happy with our response,
      <a href="https://www.equalityadvisoryservice.com/">contact the Equality Advisory and Support Service (EASS).</a>
    </p>
    <p class="govuk-body">
      The Equality and Human Rights Commission (EHRC) is responsible for enforcing the
      Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility
      Regulations 2018 (the ‘accessibility regulations’).
    </p>
    <h2 class="govuk-heading-m">Technical information on this website’s accessibility</h2>
    <p class="govuk-body">
      The National Archives is committed to making its websites accessible, in accordance
      with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility
      Regulations 2018.
    </p>
    <h2 class="govuk-heading-m">Compliance status</h2>
    <p class="govuk-body">
      This website is partially compliant with the <a href="https://www.w3.org/TR/WCAG21/">
      Web Content Accessibility Guidelines version 2.1</a> AA standard.
    </p>
    <h2 class="govuk-heading-m">Non-accessible content</h2>
    <p class="govuk-body">The content listed below is non-accessible for the following reasons.</p>
    <h3 class="govuk-heading-s">Non-compliance with the accessibility regulations</h3>
    <ol class="govuk-list govuk-list--number">
      <li>
        Some non-text content does not have a text alternative that serves the
        equivalent purpose for screen readers. This fails WCAG 2.1 success criterion
        1.1.1 (Non-text content) and 2.4.4 (Link Purpose (In Context)).
      </li>
      <li>
        Some pages titles are non-descriptive This may make it difficult for users to
        orient themselves and find the right content. This fails WCAG 2.1 success
        criterion 2.4.2 (Page Titled).
      </li>
      <li>
        Some error handling is not sufficient to enable users to identify the error or what
        is required to rectify the issue. This fails WCAG 2.1 success criterion 2.4.3
        (Focus Order).
      </li>
      <li>
        Some information conveyed through the JavaScript dialog box cannot be read
        out to screen read users. This fails WCAG 2.1 success criterion 1.3.1 (Info and
        Relationships) and 4.1.3 (Status Messages).
      </li>
      <li>
        Some pages have two h1 headings which creates an illogical structure. This
        fails WCAG 2.1 success criterion 1.3.1 (Info and Relationships).
      </li>
      <li>
        On one page the purpose of the link is unclear for screen reader users. This
        fails WCAG2.1 success criterion 2.4.4 (Link Purpose).
      </li>
      <li>
        Some custom elements are inaccessible for users of assistive technologies and
        key-board-only users. This fails WCAG 2.1 success criterion 1.1.1 (Non-text
        Content), 2.1.1 (Keyboard) and 4.1.2 Name, Role, Value).
      </li>
      <li>
        Some elements containing text fail to meet guidelines for contrast minimum.
        This fails WCAG 2.1 success criterion 1.4.3 (Contrast (Minimum))
      </li>
      <li>
        Information on the add metadata page appears truncated when reflow settings
        are applied. This fails WCAG 2.1 success criterion 1.4.10 (Reflow)
      </li>

    </ol>
    <p class="govuk-body">All issues above are being addressed at the earliest opportunity.</p>
    <h2 class="govuk-heading-m">How this website was tested</h2>
    <p class="govuk-body">
      The accessibility testing for TDR covers the successful and unsuccessful journey a
      user would take to complete a transfer of records to The National Archives.
    </p>
    <p class="govuk-body">
      User journeys for both the ‘standard’ government transferring body user and the
      'judgments' courts and tribunals user were included.
    </p>
    <p class="govuk-body">
      The service was assessed against the Web Content Accessibility Guidelines WCAG 2.1.
    </p>
    <p class="govuk-body">
      Testing was conducted by the Digital Accessibility Centre (DAC) Limited between 6th
      March to 21st March 2023.
    </p>
    <p class="govuk-body">
      DAC Testing Procedure involved a team of experienced auditors and analysts, many
      of whom are disabled individuals and users of adaptive technology. The combination
      of subjective pan-disability user feedback and comprehensive technical auditing was
      used to measure how the service performs technically and practically, thereby
      offering an added dimension to test results over other methods.
    </p>
    <p class="govuk-body">
      Manual accessibility user testing was conducted by a team of disabled individuals,
      using a range of adaptive technologies (hardware and software designed to facilitate
      the use of computers by people with disabilities). This could include:
    </p>
    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
      <li>NVDA: a screen reader and application used by those who are blind.</li>
      <li>ZoomText: a magnification application used by those with low vision.</li>
      <li>JAWS: a screen reader used by blind people to access pages.</li>
      <li>
        Dragon Naturally Speaking: voice activated software used by those that do not
        use a conventional input device such as a keyboard or mouse.
      </li>
      <li>
        Switch Access: used by those with severe mobility impairments to input
        commands to a computer.
      </li>
      <li>
        Keyboard Only: some users with mobility impairments have difficulty making
        precise movements required by pointing devices such as a mouse; therefore, a
        keyboard is used as the exclusive input device.
      </li>
      <li>
        Readability: Manual checks were made to assess the suitability of a page for
        those with colour blindness and dyslexia.
      </li>
      <li>
        Deaf/Hard of hearing: Manual checks were made to assess the suitability of a
        page for those with hearing impairments.
      </li>
      <li>
        Learning difficulties: Manual checks were made to assess the suitability of a
        page for those with learning difficulties.
      </li>
      <li>
        Reflow: tests with screen size of 1280 x 1024px, at 400% browser magnification
      </li>
      <li>
        Text Spacing: tests with larger Line height, and larger Paragraph, Word and
        Letter spacing.
      </li>
    </ul>
    <p class="govuk-body">
      Technical auditing involved the experienced application of technical auditing and
      standards compliance assessment tools.
    </p>
    <p class="govuk-body">
      You can read the full accessibility test report here
        <a href="@routes.Assets.versioned("pdf/DAC Accessibility Report WCAG 2.1 - National Archives Data Transfer - 21-03-23 - Final.pdf")">
          DAC Accessibility Report WCAG 2.1 - National Archives Data Transfer - 21-03-23 - Final.pdf
        </a>
    </p>
    <h2 class="govuk-heading-m">What we are doing to improve accessibility</h2>
    <p class="govuk-body">
      As TDR continues to be developed, adherence to WCAG 2.1 A and AA standards is maintained throughout.
      To improve the accessibility of the service, work undertaken includes:
    </p>
    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
      <li>
        recruiting users with accessibility needs as part of our user research and user
        testing participant pool
      </li>
      <li>
        working with a specialist accessibility agency to test with users of assistive
        technology
      </li>
      <li>conducting a full accessibility audit.</li>
    </ul>
    <h2 class="govuk-heading-m">Preparation of this accessibility statement</h2>
    <p class="govuk-body">
      This statement was prepared on 23 February 2023. It was last reviewed on 24 March
      2023.
    </p>
    <p class="govuk-body">
      This website was last tested on 08 March 2023. This test was carried out by Digital
      Accessibility Centre Limited.
    </p>
  }
}
