@* dropdownOptions as Tuple until data model clearer *@
@(field: Field,
        args: (Symbol, Any)*
)(implicit messages: Messages)

@import views.html.helper._
@import viewsapi.FormFunctions._

@elements = @{
    FieldElements(field.id, field, null, args.toMap, messages)
}

@if(elements.hasErrors) {
    <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
        <h2 class="govuk-error-summary__title" id="error-summary-title">
            There is a problem
        </h2>
        <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
            @for(error <- elements.errors) {
                <li>
                    <a href="#error-@elements.id">@error</a>
                </li>
            }
            </ul>
        </div>
    </div>
}
@*<div class="govuk-form-group @elements.setErrorClass()">*@
@* <label class="govuk-label" for="@elements.id">*@
@* @elements.args.get(Symbol("_label"))*@
@* @elements.args.requiredLabelSuffix()*@
@* </label>*@
@* <select*@
@* class="govuk-select"*@
@* id="@elements.id"*@
@* name="@elements.id"*@
@* @elements.args.requiredInput()>*@
@* <option value="" selected>@Messages("inputDropdown.choose")</option>*@

@* @for(dropdownOption <- dropdownOptions) {*@
@* <option value="@dropdownOption._1">@dropdownOption._2</option>*@
@* }*@
@* </select>*@
@* @errorMessage(elements)*@
@*</div>*@