@()(implicit messages: Messages)

@main(Messages("faq.header")) {
@defining(play.core.PlayVersion.current) { version =>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">@Messages("faq.title")</h1>
    <h3 class="govuk-heading-m">@Messages("faq.1")</h3>
    <p class="govuk-body">@Messages("faq.1ans")</p>
    <h3 class="govuk-heading-m">@Messages("faq.2")</h3>
    <p class="govuk-body">@Messages("faq.2ans")</p>
    <h3 class="govuk-heading-m">@Messages("faq.3")</h3>
    <p class="govuk-body">@Messages("faq.3ans")</p>
    <h3 class="govuk-heading-m">@Messages("faq.4")</h3>
    <p class="govuk-body">@Messages("faq.4ans")</p>
    <h3 class="govuk-heading-m">@Messages("faq.5")</h3>
    <p class="govuk-body">@Messages("faq.5ans")</p>
  </div>
</div>
}
}