@import views.html.partials.{progressIndicator, fileCheckErrorMessage, transferReference}

@(name: String, title: String, consignmentRef: String, isJudgmentUser: Boolean, fileStatuses: List[String] = Nil)(implicit request: RequestHeader, messages: Messages)

@main(title, name = name, isJudgmentUser = isJudgmentUser) {
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        @if(isJudgmentUser) {
            @progressIndicator(Messages("judgmentCheckingRecords.progress"), isJudgmentUser)
        } else {
            @progressIndicator(Messages("checkingRecords.progress"), isJudgmentUser)
        }
      <h1 class="govuk-heading-l">@title</h1>

      <div class="govuk-error-summary" aria-labelledby="error-summary-title"
      role="alert" data-module="govuk-error-summary" tabindex="-1">
          <h2 class="govuk-error-summary__title" id="error-summary-title">
              There is a problem
          </h2>
          <div class="govuk-error-summary__body">
            @if(isJudgmentUser) {
              <p class="govuk-body">Your file has failed our checks. Please try again. If this continues, contact us at
                <a class="govuk-link" href="mailto:@Messages("nationalArchives.emailForHtmlTemplates")" data-hsupport="email">
                  @Messages("nationalArchives.emailForHtmlTemplates")
                </a>
              </p>
            } else {
              @fileCheckErrorMessage(fileStatuses, consignmentRef)
            }
          </div>
      </div>
      <a href="@routes.HomepageController.homepage()" role="button" draggable="false" class="govuk-button govuk-button--primary">
          Return to start
      </a>
    </div>
      @transferReference(consignmentRef, isJudgmentUser)
  </div>
}
