@import views.html.partials.{fileCheckErrorMessage, transferReference}

@(name: String, title: String, consignmentRef: String, isJudgmentUser: Boolean, fileStatuses: List[String] = Nil)(implicit request: RequestHeader, messages: Messages)

@main(title, name = name, isJudgmentUser = isJudgmentUser) {
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">@title</h1>

      <div class="govuk-error-summary" aria-labelledby="error-summary-title"
      role="alert" data-module="govuk-error-summary" tabindex="-1">
          <h2 class="govuk-error-summary__title" id="error-summary-title">
              There is a problem
          </h2>
          <div class="govuk-error-summary__body">
            @if(isJudgmentUser) {
              <p class="govuk-body">Please check the following items and try again.</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>Ensure your file is not password protected or encrypted</li>
                <li>Ensure your file is saved as Word Document (*.docx) using Word for Windows 2007 onwards</li>
                <li>We cannot accept files saved as Word 97-2003 Document (*.doc)</li>
              </ul>
              <p class="govuk-body">If you receive this error again, contact us at
                <a class="govuk-link" href="mailto:@Messages("nationalArchives.email")" data-hsupport="email">
                  @Messages("nationalArchives.email")
                </a> for support.
              </p>
            } else {
              @fileCheckErrorMessage(fileStatuses, consignmentRef)
            }
          </div>
      </div>
      <a href="@routes.HomepageController.homepage()" role="button" draggable="false" class="govuk-button govuk-button--primary">
          Return to start
      </a>
    </div>
      @transferReference(consignmentRef, isJudgmentUser)
  </div>
}
