@import java.util.UUID
@import viewsapi.FrontEndInfo
@(consignmentId: UUID, fileChecks: FileChecksProgress, frontEndInfo: FrontEndInfo)(implicit messages: Messages, request: RequestHeader)

@main("Checking records") {
    @defining(play.core.PlayVersion.current) { version =>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            @progressIndicator(Messages("checkingRecords.progress"))
            @frontEndInputs(frontEndInfo)
            <h1 class="govuk-heading-l">Checking records</h1>
            <p class="govuk-body">We are now checking your records. It is safe to close the browser if you wish, otherwise please wait and you will be redirected automatically once complete.</p>
            <input id="consignmentId" type="hidden" value="@consignmentId">
            <div class="file-check-progress">
                <label for="av-metadata-progress-bar" class="govuk-label">Anti-virus scanning</label>
                <progress id="av-metadata-progress-bar" class="file-check-progress__progress-bar" value="@fileChecks.avMetadataProgressPercentage" max="100"></progress>
            </div>
            <div class="file-check-progress">
                <label for="checksum-progress-bar" class="govuk-label">Validating data integrity</label>
                <progress id="checksum-progress-bar" class="file-check-progress__progress-bar" value="@fileChecks.checksumProgressPercentage" max="100"></progress>
            </div>
            <div class="file-check-progress">
                <label for="ffid-progress-bar" class="govuk-label">Identifying file formats</label>
                <progress id="ffid-progress-bar" class="file-check-progress__progress-bar" value="@fileChecks.ffidMetadataProgressPercentage" max="100"></progress>
            </div>
        </div>
    </div>
    }
}