@import java.util.UUID
@import viewsapi.FrontEndInfo
@(consignmentInfo: ConsignmentFolderInfo)(implicit messages: Messages)

@main(Messages("fileChecksResults.header")) {
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <a href="@routes.DashboardController.dashboard()" class="govuk-back-link">Back</a>
        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
                @Messages("fileChecksResults.title")
            </h1>
            <div class="govuk-panel__body">
                @Messages("fileChecksResults.description", consignmentInfo.parentFolder, consignmentInfo.numberOfFiles)
            </div>
        </div>
        <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
            @Messages("fileChecksResults.dashboard")
        </button>
        <button class="govuk-button" data-module="govuk-button">
            @Messages("fileChecksResults.continueLink")
        </button>
    </div>
</div>

}