@import java.util.UUID
@(consignmentId: UUID, fileChecks: FileChecksProgress)(implicit messages: Messages)

@main(Messages("checkingRecords.header")) {
    @defining(play.core.PlayVersion.current) { version =>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <a href="@routes.DashboardController.dashboard()" class="govuk-back-link">Back</a>
            @progressIndicator(Messages("checkingRecords.progress"))
            <h1 class="govuk-heading-xl">@Messages("checkingRecords.title")</h1>
            <p class="govuk-body">@Messages("checkingRecords.description")</p>
            <div class="file-check-progress">
                <label for="av-metadata-progress-bar" class="govuk-label">@Messages("checkingRecords.antivirus")</label>
                <progress id="av-metadata-progress-bar" class="file-check-progress__progress-bar" value="@fileChecks.avMetadataProgressPercentage" max="100"></progress>
            </div>
            <div class="file-check-progress">
                <label for="checksum-progress-bar" class="govuk-label">@Messages("checkingRecords.checksum")</label>
                <progress id="checksum-progress-bar" class="file-check-progress__progress-bar" value="@fileChecks.checksumProgressPercentage" max="100"></progress>
            </div>
        </div>
    </div>
    }
}