@(name: String, isLoggedIn: Boolean, isJudgmentUser: Boolean)(implicit messages: Messages, request: RequestHeader)

@defining("You are not permitted to see this page") { title =>
  @main(title, name = name, isLoggedIn = isLoggedIn, isJudgmentUser = isJudgmentUser) {
        @defining(play.core.PlayVersion.current) { version =>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-l">@title</h1>
                    <p class="govuk-body">This page is restricted to certain users only.</p>
                </div>
            </div>
        }
    }
}
