@(isLoggedIn: Boolean, name: String, isJudgmentUser: Boolean)(implicit messages: Messages, request: RequestHeader)

@main("Help", isLoggedIn = isLoggedIn, name = name, isJudgmentUser = isJudgmentUser) {
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">User Help Guide</h1>

            <h2 class="govuk-heading-m">This user help guide includes:</h2>
            <nav aria-label="List">
                <ul class="govuk-list govuk-list--bullet">
                    <li><a href="#about">About Transfer Digital Records</a></li>
                    <li><a href="#current-tdr-service">The current TDR service</a></li>
                    <li><a href="#before-you-begin">Before you begin</a></li>
                    <ul class="govuk-list govuk-list--bullet">
                        <li><a href="#appraisal-selection-sensitivity-review">Appraisal, Selection and Sensitivity Review</a></li>
                        <li><a href="#before-web-browsers">Web browsers</a></li>
                        <li><a href="#secured-access">Secured access</a></li>
                        <li><a href="#file-formats">File formats</a></li>
                        <li><a href="#contact">Contact us</a></li>
                    </ul>
                    <li><a href="#registering-new-account">Registering for a new account</a></li>
                    <ul class="govuk-list govuk-list--bullet">
                        <li><a href="#new-user-email">New user email</a></li>
                        <li><a href="#set-up-two-step-auth">Set up your OTP account for Multi-Factor Authentication</a></li>
                        <li><a href="#set-password">Set your password</a></li>
                    </ul>
                    <li><a href="#using-existing-account-holder">Using the service as an existing account holder</a></li>
                    <ul class="govuk-list govuk-list--bullet">
                        <li><a href="#access-tdr">Accessing TDR</a></li>
                        <li><a href="#sign-in-mfa">Sign in to your account using Multi-Factor Authentication</a></li>
                    </ul>
                    <li><a href="#step-by-step-guide">A step-by-step guide to transferring your record</a></li>
                    <ul class="govuk-list govuk-list--bullet">
                        <li><a href="#select-series">Step 1: Select series reference</a></li>
                        <li><a href="#transfer-agreement">Step 2: Transfer agreement</a></li>
                        <li><a href="#upload-records">Step 3: Upload your records</a></li>
                        <li><a href="#file-checks">Step 4: File checks</a></li>
                        <li><a href="#additional-metadata">Step 5: Add, edit or delete metadata</a></li>
                        <li><a href="#download-metadata">Step 6: Download and review metadata</a></li>
                        <li><a href="#confirm-transfer">Step 7: Confirm transfer</a></li>
                        <li><a href="#transfer-complete">Transfer complete</a></li>
                    </ul>
                    <li><a href="#transfer-history">View the progress of your transfers and transfer history</a></li>
                    <li><a href="#glossary">Glossary</a></li>
                </ul>
            </nav>
            <br>

            <h2 class="govuk-heading-m" id="about">About Transfer Digital Records</h2>
            <p class="govuk-body">
                Transfer Digital Records (TDR) is a secure digital transfer service from The National Archives (TNA)
                that helps Public Record Bodies prepare and transfer selected digital public records to TNA
                for permanent preservation and publication.
            </p>
            <p class="govuk-body">
                Under the 20-year rule, transferring bodies must transfer selected and sensitivity-reviewed digital Public Records within 20 years of the date of the record, or the last modified date where this has not been set.
                This is usually determined by the record's date last modified.
                Until then, you must safeguard the records and actively manage their digital continuity to ensure you can find, open, understand and trust them over time and through change.
            </p>
            <p class="govuk-body">
                We are very happy to accept early transfers of digital records and encourage you to transfer digital records prior to the 20-year deadline.
                An advantage of transferring early is that once records are transferred, you will no longer need to manage their digital continuity.
                We also advise taking a 'little and often' approach to transferring digital records to The National Archives.
            </p>

            <h2 class="govuk-heading-m" id="current-tdr-service">The current TDR service</h2>
            <p class="govuk-body">
                We have created a product which provides a preparation area where records are uploaded to prepare for transfer to TNA.
                When uploaded to TDR, the records are still owned by the transferring body.
                While your records are in TDR, you will still be responsible for handling any requests such as Freedom Of Information (FOI).
                The records and their legal custody are only transferred to TNA during the final stage of the TDR process.
            </p>
            <p class="govuk-body">
                TDR is currently in beta, an early agile stage of development where limited features are available.
                This means it does not yet offer the full range of features that we intend to support.
            </p>
            <p class="govuk-body">
                At this stage of development, the service is only available to pre-approved users.
                Over time, TDR will be made available to more Public Record Bodies and will continue to be developed in consultation with our users.
            </p>
            
            <h2 class="govuk-heading-m" id="before-you-begin">Before you begin</h2>
            <p class="govuk-body">
                Currently we can only accept records that are Crown Copyright, Public Records and from shared drives.
            </p>
            <p class="govuk-body">
                Over time, we will extend the service to accept a wider range of records.
            </p>

            <h3 class="govuk-heading-s" id="appraisal-selection-sensitivity-review">Appraisal, Selection and Sensitivity Review</h3>
            <p class="govuk-body">
                Transferring departments have a statutory responsibility to appraise, select and sensitivity review records prior to transferring records to The National Archives.
            </p>
            <p class="govuk-body">
                Any records not identified as 'closed' will be open to the public on transfer to The National Archives.
            </p>
            <p class="govuk-body">
                If there are any issues detected with the appraisal, selection and sensitivity review of records, The National Archives reserves the right to pause the transfer and refer to the Strategic Compliance team.
            </p>
            <p class="govuk-body">
                If you would like more information about this, contact <a href="mailto:@Messages("nationalArchives.governmentHelpPointEmail")">@Messages("nationalArchives.governmentHelpPointEmail")</a>.
            </p>

            <h3 class="govuk-heading-s" id="before-web-browsers">Web browsers</h3>
            <p class="govuk-body">
                We do not support Internet Explorer.
                We advise you to use the latest browser version of Edge, Chrome or Firefox to ensure you can use this service and all of its features.
            </p>

            <h3 class="govuk-heading-s" id="secured-access">Secured access</h3>
            <p class="govuk-body">
                In order to keep the service and your account secure, TDR uses Multi-Factor Authentication (MFA).
                This means you must sign in each time using a unique generated 'one-time password' (OTP) code that confirms who you are.
                This can be set up using a free-to-download authenticator app on your smartphone, such as Google Authenticator, Microsoft Authenticator, or FreeOTP.
                Other authenticators are also available.
            </p>
            <p class="govuk-body">
                Free-to-download apps are available from the App Store for iPhone, or 'Google Play' and 'Play Store' for Android.
            </p>

            <h3 class="govuk-heading-s" id="file-formats">File formats</h3>
            <p class="govuk-body">
                To ensure that records can be successfully uploaded and pass TDR validation checks, read the following information about the file formats we accept before proceeding to upload your records:
            </p>
            <ul class="govuk-list govuk-list--bullet">
                <li>We cannot accept files that are password protected or encrypted</li>
                <li>During beta, we cannot accept zip files</li>
                <li>We cannot accept files that contain slashes (/ and \) in the name</li>
                <li>Files such as thumbnail images (thumbs.db), executable files (.exe) and system files are not usually selected for permanent preservation.
                    We will accept these but strongly advise that you remove them prior to upload.</li>
                <li>If uploaded, empty folders will not be transferred</li>
            </ul>
            <p class="govuk-body">
                To identify file formats, search your folder for the file extensions (thumbs.db, .exe and .zip).
                For password protected files, click to view folder options and select ‘hidden files and folders’.
                These files are usually identified as part of your selection and sensitivity review process.
            </p>
            <p class="govuk-body">
                We recommend that you check your files prior to upload to ensure that you upload only selected records intended for preservation.
                During the upload and checking process, if we detect files we cannot accept, you will be notified on screen and you will be unable to proceed with your transfer.
            </p>

            <h3 class="govuk-heading-s" id="contact">Contact us</h3>
            <p class="govuk-body">
                If you have queries regarding the transfer process, the status of your transfer or to report an error or issue you have encountered, contact <a href="mailto:@Messages("nationalArchives.email")">@Messages("nationalArchives.email")</a>
            </p>
            <p class="govuk-body">
                You can also contact us if you have more general queries regarding the suitability of records for transfer, file format or transfer agreement criteria.
            </p>

            <p class="govuk-body">
                If you need to contact us by post, you can write to:
            </p>
            <address>
                <span class="govuk-!-font-weight-bold">Digital Selection and Transfer team c/o</span><br/>
                <span class="govuk-!-font-weight-bold">Digital Archiving Department</span><br/>
                <span class="govuk-!-font-weight-bold">The National Archives</span><br/>
                <span class="govuk-!-font-weight-bold">Bessant Drive</span><br/>
                <span class="govuk-!-font-weight-bold">Richmond</span><br/>
                <span class="govuk-!-font-weight-bold">Surrey</span><br/>
                <span class="govuk-!-font-weight-bold">TW9 4DU</span><br/>
            </address>
            <br/>
            <p class="govuk-body">
                You should describe your query in detail and provide your full contact details for a response. We aim to respond to you within one month. If you have not received a response after one month, contact us again.
            </p>

            <h2 class="govuk-heading-m" id="registering-new-account">Registering for a new account</h2>
            <h3 class="govuk-heading-s" id="new-user-email">Part 1: New user email</h3>
            <ol class="govuk-list govuk-list--number">
                <li>If you want to register for a new TDR account, email <a href="mailto:@Messages("nationalArchives.email")">@Messages("nationalArchives.email")</a> from your work email account and ask to register as a new user, stating clearly your first name and surname.
                    Allow up to two working days for your request to be processed.</li>
                <li>Once validated, you will be sent an email with the subject 'Register for your Transfer Digital Records (TDR) account - ACTION REQUIRED' which contains important registration instructions.</li>
                <li>Shortly after, you will receive an email with the subject 'Update Your Account', containing a link that expires after 12 hours.
                    Please click the link before it expires to begin your registration.
                    <span class="govuk-!-font-weight-bold">If your link has expired before you could use it, email <a href="mailto:@Messages("nationalArchives.email")">@Messages("nationalArchives.email")</a> and request a new registration link.</span></li>
                <li>The link will take you to this page:</li>
                <img src="@routes.Assets.versioned("images/configure-otp-password-page.png")" class="screenshots" alt="Sign in page with a link to setup MFA and password" />
                <li>Click on the 'Configure OTP, Update Password' link to set up using a 'One-time password' (OTP), sometimes referred to as 'One-time PIN', for secure sign in using Multi-Factor Authentication (MFA).</li>
            </ol>

            <h3 class="govuk-heading-s" id="set-up-two-step-auth">Part 2: Set up your OTP account for Multi-Factor Authentication</h3>
            <p class="govuk-body">
                Click the 'Configure OTP, Update Password' link to go to the 'Sign in to your account' page:
            </p>
            <img src="@routes.Assets.versioned("images/set-up-mfa-page.png")" class="screenshots" alt="Form to setup multi-factor authentication" />
            <p class="govuk-body">
                First, you must ensure you have installed an authenticator app onto a smartphone that is available to you before proceeding.
            </p>
            <p class="govuk-body">
                To set up your app for use with TDR, open your authenticator app on your mobile and create a new TDR account using the QR displayed on your screen.
            </p>
            <ul class="govuk-list govuk-list--bullet">
                <li>For Google Authenticator, click on the first option 'Scan a QR code'.</li>
                <li>For Microsoft Authenticator, first click on the '+' icon.
                    You might need to click on the three little dots in the top right corner to have this option displayed.
                    Then select 'Other (Google, Facebook, etc.)' to access the QR scanner.</li>
                <li>For Free OTP, click on the QR code icon located in the top banner of your smartphone screen.</li>
            </ul>
            <p class="govuk-body">
                Scan the QR code displayed on your computer screen and your app will automatically create a unique OTP account to use with TDR.
                You should now see a 6-digit code that will refresh at regular intervals.
            </p>
            <p class="govuk-body">
                In the 'One-time code' box, type in the six digits <span class="govuk-!-font-weight-bold">without a space</span>, ensuring that you have enough time to complete this page before the code refreshes every 30 to 60 seconds.
            </p>
            <p class="govuk-body">
                Click 'Submit' <span class="govuk-!-font-weight-bold">before</span> the code used expires in the app.
            </p>

            <h3 class="govuk-heading-s" id="set-password">Part 3: Set your password</h3>
            <p class="govuk-body">You will then be taken to a 'Set new password' page in order to set your own unique password:</p>
            <img src="@routes.Assets.versioned("images/set-password-page.png")" class="screenshots" alt="Form to set a new password" />
            <ol class="govuk-body">
                <li>
                    Enter a unique password, using a minimum of eight characters and containing at least one capital letter and one number, into the 'New password' box.
                    Enter the same password in the 'Confirm password' box. Do not share this password with anyone.</li>
                <li>Click 'Submit' to be taken to the 'Sign in to your account' page:</li>
                <img src="@routes.Assets.versioned("images/sign-in-link-page.png")" class="screenshots" alt="Page with a link to sign in to your account" />
                <li>Click the 'sign in to your account' link to be taken to the standard 'Sign in to your account' page that you will see every time you sign in to use the service as an existing account holder.</li>
                <li>You must complete your registration following the standard sign in procedure in section <a href="#sign-in-mfa">'Sign in to your account using Multi-Factor Authentication'</a></li>
            </ol>

            <h2 class="govuk-heading-m" id="using-existing-account-holder">Using the service as an existing account holder</h2>
            <h3 class="govuk-heading-s" id="access-tdr">Accessing TDR</h3>
            <p class="govuk-body">TDR is accessed through your web browser and can be found here: <a href="https://tdr.nationalarchives.gov.uk/">https://tdr.nationalarchives.gov.uk/</a></p>
            <img src="@routes.Assets.versioned("images/home-page.png")" class="screenshots" alt="TDR home page" />
            <p class="govuk-body">
                Click 'Start now' to sign in and begin the transfer process.
            </p>

            <h3 class="govuk-heading-s" id="sign-in-mfa">Sign in to your account using Multi-Factor Authentication</h3>
            <p class="govuk-body">
                Before you can use the service, you must sign in using Multi-Factor Authentication (MFA) with the authenticator app that you set up on a smartphone that is available to you, which generates your unique 'one-time password' (OTP) code.
            </p>
            <img src="@routes.Assets.versioned("images/sign-in.png")" class="screenshots" alt="Form to enter an email and password" />
            <ol class="govuk-body">
                <li>Sign in by entering your email address and password, then click 'Sign in' to be taken to the 'One-time code' section on this page:</li>
                <img src="@routes.Assets.versioned("images/enter-mfa-code-page.png")" class="screenshots" alt="Form to enter the code from the MFA app" />
                <li>Open your authenticator app to get a 6-digit one-time code.
                    Enter the code without any spaces and click 'Continue' before it refreshes.</li>
            </ol>
            <p class="govuk-body">
                You will then be taken to the TDR Homepage:
            </p>
            <img src="@routes.Assets.versioned("images/standard-tdr-start-page.png")" class="screenshots" alt="The TDR start page" />
            <ol class="govuk-body" start="3">
                <li>Click 'Start transfer' to begin</li>
            </ol>

            <h2 class="govuk-heading-m" id="step-by-step-guide">A step-by-step guide to transferring your records</h2>
            <h3 class="govuk-heading-s" id="select-series">Step 1: Select series reference</h3>
            <p class="govuk-body">
                A 'Consignment reference', which is a unique identifier assigned at the beginning of your transfer, will be visible in the top right corner on every page throughout the process.
                Quote this reference if you need to contact us about your transfer.
            </p>
            <p class="govuk-body">You can hide the reference and make it visible again by clicking the blue arrow next to 'Consignment reference'.</p>
            <img src="@routes.Assets.versioned("images/standard-select-series-page.png")" class="screenshots" alt="TDR select series page" />
            <ol class="govuk-body">
                <li>Your series reference during private beta will be pre-populated and will appear in the drop-down list.
                    You should select the correct series reference from the drop-down menu and click 'Continue'.</li>
                <img src="@routes.Assets.versioned("images/standard-selected-series-page.png")" class="screenshots" alt="TDR series selected page" />
            </ol>
            <p class="govuk-body">
                If you cannot see the correct series reference or you need to add a new one, contact <a href="mailto:@Messages("nationalArchives.email")">@Messages("nationalArchives.email")</a>.
            </p>

            <h3 class="govuk-heading-s" id="transfer-agreement">Step 2: Transfer agreement</h3>
            <p class="govuk-body">
                Before you upload records, you must confirm that, to the best of your knowledge, your records meet our criteria. 
            </p>
            <p class="govuk-body">
                During beta, records must meet the following criteria:
            </p>
            <ul class="govuk-list govuk-list--bullet">
                <li>Records must be Public Records</li>
                <li>Records must be Crown Copyright</li>
                <li>The Departmental Records Officer (DRO) must have signed off the appraisal and selection decision </li>
                <li>The Departmental Records Officer (DRO) must have signed off the sensitivity review</li>
            </ul>
            <p class="govuk-body">
                For more information on what is meant by the above terms, please see our <a href="#glossary">Glossary</a>
            </p>
            <p class="govuk-body">
                The transfer agreement is in two parts.
            </p>
            <ol class="govuk-body">
                <li>In the first part you must click each box to confirm that the records are Public Records and Crown Copyright.
                    Click 'Agree and continue' when you are ready to proceed.</li>
                <img src="@routes.Assets.versioned("images/standard-TA-1.png")" class="screenshots" alt="Transfer Agreement part 1 page" />
                <li>The second part, you must click each box to confirm that the Departmental Records Officer (DRO) has signed off the sensitivity review, appraisal and selection decision.
                    Click ‘Agree and continue’ when you are ready to proceed. If you cannot confirm this information, you must close your browser and contact your transfer advisor.</li>
                <img src="@routes.Assets.versioned("images/standard-TA-2.png")" class="screenshots" alt="Transfer Agreement part 2 page"/>
            </ol>

            <h3 class="govuk-heading-s" id="upload-records">Step 3: Upload your records</h3>
            <p class="govuk-body">
                Before you begin, ensure your internet connection is stable and strong.
            </p>
            <ol class="govuk-body">
                <img src="@routes.Assets.versioned("images/standard-upload-records.png")" class="screenshots" alt="Upload records page" />
                <li>To upload your records, you must put all files into a single top-level folder. You can then either drag and drop a folder or click 'Choose Folder' to browse and select the correct top-level folder for upload.
                    Before uploading, consider the following information:</li>
                <ul class="govuk-list govuk-list--bullet">
                    <li>You can upload one top-level folder per transfer, which can contain multiple files and sub-folders</li>
                    <li>During the upload process, basic file-level metadata is captured, such as file path, file name, last date modified, and checksum</li>
                </ul>
                <img src="@routes.Assets.versioned("images/standard-records-selected.png")" class="screenshots" alt="Upload records with selected folder page" />
                <li>If you need to change the folder selected, click the blue 'Remove selected records' link next to the line confirming which folder has been selected and then start the selection again.</li>
            </ol>
            <p class="govuk-body">
                At this stage, you still have legal custody of your records and are still responsible for any requests such as FOI, until they have been acknowledged as received by TNA.
            </p>
            <ol class="govuk-body" start="3">
                <li>Then click 'Start upload' to begin the upload into TDR.</li>
                <img src="@routes.Assets.versioned("images/standard-uploading-records.png")" class="screenshots" alt="Uploading records page" />
            </ol>

            <h3 class="govuk-heading-s" id="file-checks">Step 4: File checks</h3>
            <p class="govuk-body">
                During upload, we will identify the format of your records.
                If your records are in a format that is not known or cannot be identified, TNA may contact you post transfer to discuss these.
            </p>
            <ol class="govuk-body">
                <img src="@routes.Assets.versioned("images/standard-checking-records.png")" class="screenshots" alt="Checking records page" />
                <li>TDR runs a series of checks on the files to ensure they can be transferred.
                    The following checks are performed:</li>
                <ul class="govuk-list govuk-list--bullet">
                    <li>Antivirus</li>
                    <p class="govuk-body">
                        A check performed to scan for viruses and other malware.
                        We cannot accept infected files.
                    </p>
                    <li>File format identification</li>
                    <p class="govuk-body">
                        A check performed to identify the file format and confirm that the file is suitable for transfer.
                        Knowing the format also aids TNA with preservation decisions about the record.
                    </p>
                    <li>Data integrity validation</li>
                    <p class="govuk-body">
                        A check performed to ensure files have not been corrupted as they move between your shared drive and TDR during the upload process.
                        The data integrity check uses checksums which are like a digital fingerprint.
                        For TDR we use SHA256.
                    </p>
                </ul>
                <p class="govuk-body">The checking process may take several minutes.</p>
                <img src="@routes.Assets.versioned("images/standard-checks-complete.png")" class="screenshots" alt="Checks complete page" />
                <li>You will be informed on-screen. Once the checks have been completed.
                    Click 'Continue' to see the results of your checks.</li>
                <img src="@routes.Assets.versioned("images/standard-results-check.png")" class="screenshots" alt="Results of checks page" />
                <li>You will then be informed on-screen of the results of your checks.</li>
                <li>If your checks have been successful, click 'Next' to progress to the next step.</li>
            </ol>
            <p class="govuk-body">If your files fail TDR checks, we will inform you.
                Failing checks may mean you cannot proceed with your transfer until the problems are resolved.
            </p>

            <h3 class="govuk-heading-s" id="additional-metadata">Step 5: Add, edit or delete metadata</h3>
            <p class="govuk-body">You may now add, edit or delete descriptive and closure metadata.</p>
            <img src="@routes.Assets.versioned("images/standard-additional-metadata-start-page.png")" class="screenshots" alt="Additional metadata start page" />
            <h3 class="govuk-heading-s" id="descriptive-metadata">Descriptive metadata</h3>
            <p class="govuk-body">You are not required to add descriptive metadata to your records, but it can enhance them.</p>
            <p class="govuk-body">Once you select the file or files you wish to add descriptive metadata to, you may provide the following information:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>Description – this will be visible to the public to help explain the content of your file or files</li>
                <li>Date of record – this is prepopulated and shows the date last modified</li>
                <li>Language</li>
            </ul>

            <h3 class="govuk-heading-s" id="closure-metadata">Closure metadata</h3>
            <p class="govuk-body">If you wish to transfer closed files and folders, you must add closure metadata.</p>
            <p class="govuk-body">
                Once you select the file or files to add closure metadata to, you must first confirm the closure status has been approved by the Advisory Council.
                If it has been approved, you may proceed to add the following information:
            </p>
            <ul class="govuk-list govuk-list--bullet">
                <li>FOI decision asserted – this is the date of the Advisory Council approval</li>
                <li>Closure start date – this is the date of the last meaningful change to the record</li>
                <li>Closure period – this is the number of years the record is closed from the closure start date</li>
                <li>FOI exemption code – you should search and select at least one exemption code per file</li>
                <li>Title sensitivity – you should confirm if the title is sensitive to the public. If it is, you can add an alternative title</li>
                <li>Description Sensitivity – you can only provide an alternative description if you have set a description on the Descriptive Metadata page first</li>
            </ul>

            <h3 class="govuk-heading-s">Titles and descriptions that are sensitive to the public</h3>
            <p class="govuk-body">
                If the title or description of your record is sensitive to the public, you can provide an alternative when adding closure metadata.
                The alternative will be visible on the public catalogue. You may wish to do one of the following:
            </p>
            <p class="govuk-body">
                Redact – remove the sensitive words. For example: ‘Correspondence with [name withheld]’
            </p>
            <p class="govuk-body">
                Sanitise – replace the sensitive word. For example: 'UK military exercises in xxx' (where 'military' has replaced 'Special Forces').
            </p>
            <p class="govuk-body">
                Withhold the title or description without providing an alternative. For example: '[Title withheld]' and or '[description with held]'.
            </p>

            <h3 class="govuk-heading-s" id="download-metadata">Step 6: Download and review metadata</h3>
            <p class="govuk-body">
                Once the metadata has been completed and automatically saved, you can download and review a .csv file which shows all the metadata added to your records.
            </p>
            <img src="@routes.Assets.versioned("images/download-and-review-metadata-page.png")" class="screenshots" alt="Download and review metadata page" />
            <p class="govuk-body">
                At this stage in the process, you may also return to the previous step to add, amend or delete metadata.
            </p>
            <p class="govuk-body">
                When you have finished adding and amending metadata, click ‘Next’ to proceed to the final step of the process.
            </p>

            <h3 class="govuk-heading-s" id="confirm-transfer">Step 7: Confirm transfer</h3>
            <p class="govuk-body">
                At the final stage of TDR, you will be asked to confirm the transfer. On this screen you will see a summary of the records you have uploaded.
                You may leave at any time and return to your transfer from the ‘View transfers’ page.
            </p>
            <ol class="govuk-body">
                <li>If you wish to proceed, you must confirm that you understand you are transferring legal custody of your records to The National Archives.</li>
                <img src="@routes.Assets.versioned("images/standard-confirm-transfer.png")" class="screenshots" alt="Confirm transfer page" />
                <li>Once confirmed, both the records and their legal custody can be exported to TNA.
                    Click 'Transfer your records' to complete the transfer to TNA.</li>
            </ol>

            <h3 class="govuk-heading-s" id="transfer-complete">Transfer complete</h3>
            <p class="govuk-body">
                You will be notified on screen whether your transfer has been successful and your records have been received by TNA for processing.
            </p>
            <img src="@routes.Assets.versioned("images/standard-transfer-complete.png")" class="screenshots" alt="Transfer complete page" />
            <p class="govuk-body">
                Until you are notified by email that your records have been successfully transferred AND are live on the public catalogue, it is important that you keep your original records safe and do not delete them.
            </p>
            <p class="govuk-body">
                If you do not receive an email after 90 days, contact <a href="mailto:@Messages("nationalArchives.email")">@Messages("nationalArchives.email")</a>.
            </p>

            <h2 class="govuk-heading-m" id="transfer-history">View the progress of your transfers and transfer history</h2>
            <p class="govuk-body">
                You can view your consignment history and the progress of record transfers at any time by visiting the View transfers page.
                You can access this page via the homepage. On this page you can see the following information:
            </p>
            <ul class="govuk-list govuk-list--bullet">
                <li>Consignment reference</li>
                <li>The date the TDR process started</li>
                <li>The date the records were transferred</li>
                <li>The status of your transfer</li>
                <li>Any actions we advise you to take, such as resuming the transfer process</li>
            </ul>

            <h2 class="govuk-heading-m" id="glossary">Glossary</h2>
            <p class="govuk-body">
                Each of the following terms is defined within the context of Transfer Digital Records (TDR).
            </p>
            <h3 class="govuk-heading-s" id="glossary-anti-virus">Anti-virus scan</h3>
            <p class="govuk-body">
                A check performed on digital files to detect the presence of computer viruses or other malware.
                We do not accept files that contain viruses or malware and so if these are detected the upload will fail.
            </p>
            <h3 class="govuk-heading-s" id="glossary-beta">Beta</h3>
            <p class="govuk-body">
                The Transfer Digital Records service is still being developed and is currently at a 'beta' stage.
                At this stage in its development, TDR does not yet offer the full range of features which our users require (for example, TDR can currently only accept records which are Crown Copyright and Public Records).
                The service is currently only available to an invited group of users.
            </p>
            <h3 class="govuk-heading-s" id="glossary-checksums">Checksums</h3>
            <p class="govuk-body">
                The integrity check uses checksums which are like digital fingerprints used to verify that no changes have been made to the data.
            </p>
            <p class="govuk-body">
                The checksum hash we use is SHA 256.
            </p>
            <h3 class="govuk-heading-s" id="glossary-consignment">Consignment</h3>
            <p class="govuk-body">
                A consignment is a group of selected records being prepared and transferred to The National Archives.
                Sometimes referred to as a batch.
            </p>
            <h3 class="govuk-heading-s" id="glossary-consignment-reference">Consignment reference </h3>
            <p class="govuk-body">
                Each consignment of digital records uploaded to TDR for transfer to The National Archives is assigned a consignment reference which can be identified as a series of letters and numbers.
                Quote this reference if you need to contact us about your records transfer.
            </p>
            <h3 class="govuk-heading-s" id="glossary-creating-body">Creating body</h3>
            <p class="govuk-body">
                The government department or body that originally created the records being transferred.
                This is often the same as the body that transfers the records.
            </p>
            <h3 class="govuk-heading-s" id="glossary-crown-copyright">Crown Copyright </h3>
            <p class="govuk-body">
                Under section 163 of the Copyright, Designs and Patents Act 1988, Crown Copyright is defined as works made by officers or servants of the Crown in the course of their duties.
                This includes material created by ministers, civil servants and government departments and agencies.
                Copyright can also be assigned or transferred to the Crown by the legal owner of the copyright.
                Most, though not all, Public Records are Crown Copyright.
            </p>
            <h3 class="govuk-heading-s" id="glossary-data-integrity-check">Data integrity check</h3>
            <p class="govuk-body">
                When you upload your digital records to TDR, we carry out data integrity checks to help ensure that files have not been corrupted during the upload process.
            </p>
            <h3 class="govuk-heading-s" id="glossary-departmental-records-officer">Departmental Records Officer</h3>
            <p class="govuk-body">
                A Departmental Records Officer (DRO) is a person appointed by a government department or agency as being responsible for the management of the records of that organisation.
                The DRO must authorise any transfer of records to The National Archives and is responsible for ensuring that the records are properly sensitivity reviewed prior to transfer.
            </p>
            <h3 class="govuk-heading-s" id="glossary-export">Export</h3>
            <p class="govuk-body">
                Once your records have been uploaded and checked, your records and legal custody is then given to TNA where they will be preserved.
            </p>
            <h3 class="govuk-heading-s" id="glossary-foi-exemption">Freedom of Information (FOI) exemption</h3>
            <p class="govuk-body">
                FOI exemptions exist to protect information that should not be disclosed.
                A list of exemptions can be found in Part II of the Freedom of Information Act, at sections 21 to 44.
                Records transferred to The National Archives will be released to the public (‘opened’) unless you apply one or more FOI exemptions.
            </p>
            <h3 class="govuk-heading-s" id="glossary-metadata">Metadata</h3>
            <p class="govuk-body">
                Data that provides additional information about digital records.
                For example, information that could help a user find or understand a record, locate other related information or understand how the record was originally created or used.
            </p>
            <h3 class="govuk-heading-s" id="glossary-public-records">Public Records</h3>
            <p class="govuk-body">
                Records of, or held in, any department of Her Majesty’s Government in the United Kingdom or records of any office, commission or other body or establishment whatsoever under Her Majesty’s Government in the United Kingdom, as defined in paragraph 2 of the First Schedule to the Public Records Act 1958.
            </p>
            <p class="govuk-body">
                Most records held by the UK central government and related bodies are Public Records.
            </p>
            <p class="govuk-body">
                Records held by local authorities, educational institutions, businesses or private individuals are not usually Public Records.
                If you need advice on whether the records you hold are Public Records contact your transfer advisor.
            </p>
            <h3 class="govuk-heading-s" id="glossary-records-selection">Records selection and appraisal</h3>
            <p class="govuk-body">
                The process of evaluating your records to determine which should be transferred to The National Archives for permanent preservation, in line with the Public Records Act.
                Selection must be completed prior to using TDR.
            </p>
            <h3 class="govuk-heading-s" id="glossary-records-transfer">Records transfer</h3>
            <p class="govuk-body">
                The process of formally transferring custody of public records that have been selected for permanent preservation to The National Archives (or another approved Place of Deposit for public records).
            </p>
            <h3 class="govuk-heading-s" id="glossary-sensitivity-review">Sensitivity review</h3>
            <p class="govuk-body">
                Before you transfer records to The National Archives, you must review them to identify any sensitive information and apply the relevant FOI exemption(s).
                Transferred records will be released to the public except where FOI exemptions have been applied.
            </p>
            <h3 class="govuk-heading-s" id="glossary-series-reference">Series reference</h3>
            <p class="govuk-body">
                A reference assigned to a set of archived records.
                Series references generally indicate the creating department and the subject matter of the records.
            </p>
            <h3 class="govuk-heading-s" id="glossary-transfer">Transfer</h3>
            <p class="govuk-body">
                Once records have been uploaded, checked and exported, the legal custody of the records is then given to TNA. At this stage, the records are not yet preserved and so the original records should not be deleted until the user is notified of preservation.
            </p>
            <h3 class="govuk-heading-s" id="glossary-transferring-body">Transferring body</h3>
            <p class="govuk-body">
                The government department or body that is transferring records for permanent preservation.
                This is often the same as the body that originally created the records.
            </p>
            <h3 class="govuk-heading-s" id="glossary-upload">Upload</h3>
            <p class="govuk-body">
                At the start of the TDR process, a top-level folder containing files and sub-folders intended to be transferred to TNA are added by the user. These records are then checked to ensure they meet the correct criteria for transfer.
            </p>
        </div>
    </div>
}
