@()(implicit messages: Messages)

@main(Messages("help.header")) {
@defining(play.core.PlayVersion.current) { version =>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">@Messages("help.title")</h1>
    <h2 class="govuk-heading-l">@Messages("help.content")</h2>
    <p class="govuk-body">@Messages("help.content1")</p>
    <p class="govuk-body">@Messages("help.content2")</p>
    <p class="govuk-body">@Messages("help.content3")</p>
    <p class="govuk-body">@Messages("help.content4")</p>
    <ul class="govuk-list govuk-list--bullet">
      <li><a class="govuk-link" href="#">@Messages("help.content5")</a></li>
      <li><a class="govuk-link" href="#">@Messages("help.content6")</a></li>
      <li><a class="govuk-link" href="#">@Messages("help.content7")</a></li>
    </ul>
    <h2 class="govuk-heading-l">@Messages("help.what")</h2>
    <p class="govuk-body">@Messages("help.what1")</p>
    <p class="govuk-body">@Messages("help.what2")</p>
    <h2 class="govuk-heading-l">@Messages("help.who")</p>
    </h2>
    <p class="govuk-body">@Messages("help.who1")</p>
    <h2 class="govuk-heading-l">@Messages("help.how")</h2>
    <h3 class="govuk-heading-m">@Messages("help.how1")</h3>
    <p class="govuk-body">@Messages("help.how2")</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>@Messages("help.how3")</li>
      <li>@Messages("help.how4")</li>
    </ul>
    <h3 class="govuk-heading-m">@Messages("help.videoheading")</h3>
    <h3 class="govuk-heading-m">@Messages("help.guidetoservice")</h3>
    <h3 class="govuk-heading-m">@Messages("help.step1")</h3>
    <p class="govuk-body">@Messages("help.step1description")</p>
    <h3 class="govuk-heading-m">@Messages("help.step2")</h3>
    <p class="govuk-body">@Messages("help.step2description1")</p>
    <p class="govuk-body">@Messages("help.step2description2")</p>
    <h3 class="govuk-heading-m">@Messages("help.step2again")</h3>
    <p class="govuk-body">@Messages("help.step2description3")</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>@Messages("help.step2listitem1")</li>
      <li>@Messages("help.step2listitem2")</li>
      <li>@Messages("help.step2listitem3")</li>
    </ul>
    <p class="govuk-body">@Messages("help.step2description4")</p>
    <h3 class="govuk-heading-m">@Messages("help.step3")</h3>
    <p class="govuk-body">@Messages("help.step3description")</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>@Messages("help.step3listitem1")</li>
      <li>@Messages("help.step3listitem2")</li>
      <li>@Messages("help.step3listitem3")</li>
    </ul>
    <p class="govuk-body">@Messages("help.step3description1")</p>
    <h3 class="govuk-heading-m">@Messages("help.step4and5")</h3>
    <p class="govuk-body">@Messages("help.step4and5description")</p>
    <p class="govuk-body">@Messages("help.step4and5description1")</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>@Messages("help.step4and5listitem1")</li>
      <li>@Messages("help.step4and5listitem2")</li>
      <li>@Messages("help.step4and5listitem3")</li>
    </ul>
    <p class="govuk-body">@Messages("help.step4and5description2")</p>
    <p class="govuk-body">@Messages("help.step4and5description3")</p>
    <p class="govuk-body">@Messages("help.step4and5description4")</p>
    <p class="govuk-body">@Messages("help.step4and5description5")</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>@Messages("help.step4and5listitem4")</li>
      <li>@Messages("help.step4and5listitem5")</li>
      <li>@Messages("help.step4and5listitem6")</li>
    </ul>
    <h3 class="govuk-heading-m">@Messages("help.step6")</h3>
    <p class="govuk-body">@Messages("help.step6description")</p>
    <h3 class="govuk-heading-m">@Messages("help.step7")</h3>
    <p class="govuk-body">@Messages("help.step7description")</p>
    <h3 class="govuk-heading-m">@Messages("help.step8")</h3>
    <p class="govuk-body">@Messages("help.step8description")</p>
    <p class="govuk-body">@Messages("help.step8description1")</p>
    <p class="govuk-body">@Messages("help.step8description2")</p>
    <h3 class="govuk-heading-m">@Messages("help.content6")</h3>
    <h3 class="govuk-heading-m">@Messages("help.faq1")</h3>
    <p class="govuk-body">@Messages("help.faq1ans")</p>
    <h3 class="govuk-heading-m">@Messages("help.faq2")</h3>
    <p class="govuk-body">@Messages("help.faq2ans")</p>
    <h3 class="govuk-heading-m">@Messages("help.faq3")</h3>
    <p class="govuk-body">@Messages("help.faq3ans")</p>
    <h3 class="govuk-heading-m">@Messages("help.faq4")</h3>
    <p class="govuk-body">@Messages("help.faq4ans")</p>
    <h3 class="govuk-heading-m">@Messages("help.faq5")</h3>
    <p class="govuk-body">@Messages("help.faq5ans")</p>
  </div>
</div>
}
}