@()(implicit messages: Messages)

@main(Messages("home.header")) {
@defining(play.core.PlayVersion.current) { version =>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!-- Headline -->
    <h1 class="govuk-heading-xl">@Messages("home.title")</h1>

    <p class="govuk-body">@Messages("home.use.transfer.header")</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>@Messages("home.use.transfer.records")</li>
      <li>@Messages("home.use.transfer.resume")</li>
      <li>@Messages("home.use.transfer.history")</li>
    </ul>

    <a href="@routes.DashboardController.dashboard()" role="button" draggable="false" class="govuk-button govuk-button--start">
      @Messages("home.startLink")
    </a>

  </div>
</div>
}
}
