@* dropdownOptions as Tuple until data model clearer *@

@(field: Field,
dropdownOptions: Seq[(String, String)],
 args: (Symbol, Any)*
)(implicit messages: Messages)

@import views.html.helper._
@import viewsapi.FormFunctions._

@elements = @{new FieldElements(field.id, field, null, args.toMap, messages) }

<div class="govuk-form-group @elements.setErrorClass">
    <label class="govuk-label" for="@elements.id">
        @elements.args.get(Symbol("_label"))
        @elements.args.requiredLabelSuffix()
    </label>
    <select
            class="govuk-select"
            id="@elements.id"
            name="@elements.id"
            @elements.args.requiredInput()>
        <option value="" selected>@Messages("inputDropdown.choose")</option>

        @for(dropdownOption <- dropdownOptions) {
            <option value="@dropdownOption._1">@dropdownOption._2</option>
        }
    </select>
    @errorMessage(elements)
</div>