@()(implicit request: RequestHeader, messages: Messages)
@main("Judgment Transfer Welcome") {
    @defining(play.core.PlayVersion.current) { version =>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l">Welcome to the Transfer Digital Records service</h1>

                <h2 class="govuk-heading-m govuk-!-margin-top-9">Upload your judgment to start a new transfer</h2>
                    <!-- Need to make a call to generate the consignment directly as no series selection -->
                <p class="govuk-body">Placeholder page</p>
            </div>
        </div>
    }
}
