@import uk.gov.nationalarchives.tdr.schema.generated.MetadataTemplate.MetadataProperty
@(isLoggedIn: Boolean, name: String, isJudgmentUser: Boolean, metadataGuide: Seq[MetadataProperty], propertyNameMapper:String =>String)(implicit messages: Messages, request: RequestHeader)
@defining("User Metadata Quick Guide") { title =>
  @main(title, isLoggedIn = isLoggedIn, name = name, isJudgmentUser = isJudgmentUser) {
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-l">Metadata quick guide</h1>

            <p class="govuk-body govuk-!-padding-bottom-2 govuk-!-width-two-thirds">Use this guide to help you complete your metadata template correctly. It includes a full list of metadata you can provide for your records, along with format requirements and examples to guide you.</p>
            <div class="govuk-width-container">
                <table class="govuk-table">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header">Column&nbsp;title</th>
                            <th scope="col" class="govuk-table__header">Details</th>
                            <th scope="col" class="govuk-table__header">Format</th>
                            <th scope="col" class="govuk-table__header">Requirement</th>
                            <th scope="col" class="govuk-table__header">Example</th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        @for(guideContent <- metadataGuide) {
                            <tr class="govuk-table__row">
                                <th scope="row" class="govuk-table__header">@propertyNameMapper(guideContent.property)</th>
                                <td class="govuk-table__cell govuk-!-width-one-third">@Html(guideContent.details)</td>
                                <td class="govuk-table__cell">@Html(guideContent.format)</td>
                                <td class="govuk-table__cell">@guideContent.tdrRequirement</td>
                                <td class="govuk-table__cell">@Html(guideContent.example)</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
  }
}
