@import helper._

@(nodesFormData: Form[NodesFormData])(implicit messages: Messages, request: RequestHeader)

@main("Navigation - Spike") {
    <h1>Some heading</h1>

    <div class="govuk-form-group ">
        @form(action = routes.NavigationController.submit()) {
            <fieldset class="govuk-fieldset" aria-label="final transfer confirmation">
                @inputCheckboxGroup(
                    nodesFormData("selected"),
                    options = nodesFormData.value.get.nodesToDisplay.map(d => d.nodeIdStr -> d.displayName),
                    Symbol("_label") -> "Items",
                    Symbol("_error") -> nodesFormData("selected").error.map(_.withMessage("something went wrong")))

            </fieldset>
            <div>
                <input type="hidden" id="previouslySelected" name="previouslySelected" value="@{nodesFormData.value.get.previouslySelected}"/>
                <button data-prevent-double-click="true" class="govuk-button" type="submit" data-module="govuk-button" role="button">
                    Select
                </button>
            </div>
        }
    </div>

}
