@()(implicit messages: Messages)

@main(Messages("error.header")) {
@defining(play.core.PlayVersion.current) { version =>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">This page doesn't exist</h1>
        <p class="govuk-body">@Messages("notFoundError.body1")</p>
        <p class="govuk-body">@Messages("notFoundError.body2")</p>
        <p class="govuk-body">@Html(Messages("notFoundError.body3"))</p>
        <p class="govuk-body">@Html(Messages("notFoundError.body4"))</p>
    </div>
</div>
}
}