@import helper._
@import viewsapi.FormFunctions._

@(allSeriesData: Seq[(String, String)], seriesDetailsForm: Form[SelectedSeriesData])(implicit request: RequestHeader, messages: Messages)

@main(Messages("seriesDetails.header")) {
@defining(play.core.PlayVersion.current) { version =>

<!-- Back -->

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        @progressIndicator(Messages("seriesDetails.progress"))

        <h1 class="govuk-heading-xl">@Messages("seriesDetails.title")</h1>

        @form(routes.SeriesDetailsController.seriesSubmit, (Symbol("novalidate"), "")) {
            @CSRF.formField
            @inputDropdown(
                seriesDetailsForm("series"),
                allSeriesData,
                Symbol("_error") -> seriesDetailsForm.errors("error").headOption,
                Symbol("_name") -> "Series Details",
                Symbol("_label") -> Messages("seriesDetails.chooseSeries"),
                requiredInputArg -> true
            )
        <div class="govuk-form-group">
            <button class="govuk-button" type="submit" data-module="govuk-button" role="button">
                Continue
            </button>
        </div>
        }
    </div>
</div>

}
}