@import helper._
@import viewsapi.FormFunctions._

@(allSeriesData: Seq[(String, String)], seriesDetailsForm: Form[SelectedSeriesData], expiration: String)(implicit request: RequestHeader,
messages: Messages)

@main("Series Information", hasError = seriesDetailsForm("series").hasErrors) {
@defining(play.core.PlayVersion.current) { version =>
<noscript>Your session will expire at @expiration</noscript>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        @progressIndicator(Messages("seriesDetails.progress"))

        <h1 class="govuk-heading-l">Choose a series</h1>
        @errorSummary(seriesDetailsForm("series"))

        @form(routes.SeriesDetailsController.seriesSubmit(), (Symbol("novalidate"), "")) {
            @CSRF.formField
            @inputDropdown(
                seriesDetailsForm("series"),
                allSeriesData,
                Symbol("_error") -> seriesDetailsForm.errors("error").headOption,
                Symbol("_name") -> "Series Details",
                Symbol("_label") -> "Please choose an existing series reference for the records you would like to transfer."
            )
        <dialog id="timeout">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column">
                    <h2>Hurry up</h2>
                    <h3>Why are you taking so long?</h3>
                </div>
            </div>
            <div class="govuk-button-group">
                <button id="extend-timeout" class="govuk-button" role="button">
                    Continue
                </button>
                <a class="govuk-link" id="cancel-extend" href="#">Cancel</a>
            </div>

        </dialog>
        <!-- Buttons -->
        <div class="govuk-button-group">
            <!-- Continue -->
            <button data-prevent-double-click="true" class="govuk-button" type="submit" data-module="govuk-button"
                role="button">
                Continue
            </button>


            <!-- Cancel -->
            <a class="govuk-link" href="@routes.DashboardController.dashboard()">Cancel</a>
        </div>
        }
    </div>
</div>

}
}