@()(implicit messages: Messages, request: RequestHeader)
@defining("You have successfully signed out") { title =>
  @main(title, isLoggedIn = false) {
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">@title</h1>
        <p class="govuk-body">Thanks for using the Transfer Digital Records service.</p>
        <a href="@routes.HomepageController.homepage()" class="govuk-link">
          Sign in again
        </a>
      </div>
    </div>
  }
}
