@* helper package contains inputRadioGroup therefore exclude from imports to prevent ambiguous import with view of the same name *@
@import helper.{inputRadioGroup => _, _}
@import viewsapi.FormFunctions._
@import java.util.UUID

@(consignmentId: UUID, transferAgreementForm: Form[TransferAgreementData], agreementOptions: Seq[(String, String)])(implicit request: RequestHeader, messages: Messages)
@main(Messages("transferAgreement.header")) {
@defining(play.core.PlayVersion.current) { version =>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        @progressIndicator(Messages("transferAgreement.progress"))

        <h1 class="govuk-heading-l">@Messages("transferAgreement.title")</h1>
        <p class="govuk-body">@Messages("transferAgreement.body")</p>
        <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span> <!-- "aria-hidden" was added by GDS to prevent screen reader from saying "exclamation mark"-->
            <strong class="govuk-warning-text__text">
              <span class="govuk-warning-text__assistive">Warning</span>
              @Messages("transferAgreement.warning.text")
            </strong>
          </div>
        @errorSummary(
            transferAgreementForm("publicRecord"),
            transferAgreementForm("crownCopyright"),
            transferAgreementForm("english"),
            transferAgreementForm("droAppraisalSelection"),
            transferAgreementForm("droSensitivity"),
            transferAgreementForm("openRecords"),
        )
        @form(
            routes.TransferAgreementController.transferAgreementSubmit(consignmentId),
            (Symbol("novalidate"), "")
        ) {
        @CSRF.formField
            @inputSingleCheckbox(
                transferAgreementForm("publicRecord"),
                Symbol("_label") -> Messages("transferAgreement.publicRecord"),
                Symbol("_value") -> "true",
                Symbol("_smallCheckbox") -> true,
                Symbol("_checkedOption") -> transferAgreementForm.data.getOrElse("publicRecord", ""),
                Symbol("_requiredOption") -> true
            )
            @inputSingleCheckbox(
                transferAgreementForm("crownCopyright"),
                Symbol("_label") -> Messages("transferAgreement.crownCopyright"),
                Symbol("_value") -> "true",
                Symbol("_smallCheckbox") -> true,
                Symbol("_checkedOption") -> transferAgreementForm.data.getOrElse("crownCopyright", ""),
                Symbol("_requiredOption") -> true
            )
            @inputSingleCheckbox(
                transferAgreementForm("english"),
                Symbol("_label") -> Messages("transferAgreement.english"),
                Symbol("_value") -> "true",
                Symbol("_smallCheckbox") -> true,
                Symbol("_checkedOption") -> transferAgreementForm.data.getOrElse("english", ""),
                Symbol("_requiredOption") -> true
            )
            <!-- DRO confirmation -->
            @inputSingleCheckbox(
            transferAgreementForm("droAppraisalSelection"),
            Symbol("_label") -> Messages("transferAgreement.droAppraisalSelection"),
            Symbol("_value") -> "true",
            Symbol("_smallCheckbox") -> true,
            Symbol("_checkedOption") -> transferAgreementForm.data.getOrElse("droAppraisalSelection", ""),
            Symbol("_requiredOption") -> true
            )
            @inputSingleCheckbox(
            transferAgreementForm("droSensitivity"),
            Symbol("_label") -> Messages("transferAgreement.droSensitivity"),
            Symbol("_value") -> "true",
            Symbol("_smallCheckbox") -> true,
            Symbol("_checkedOption") -> transferAgreementForm.data.getOrElse("droSensitivity", ""),
            Symbol("_requiredOption") -> true
            )
            @inputSingleCheckbox(
                transferAgreementForm("openRecords"),
                Symbol("_label") -> Messages("transferAgreement.openRecords"),
                Symbol("_value") -> "true",
                Symbol("_smallCheckbox") -> true,
                Symbol("_checkedOption") -> transferAgreementForm.data.getOrElse("openRecords", ""),
                Symbol("_requiredOption") -> true
            )
        <!-- Buttons -->
        <div class="govuk-button-group">
            <!-- Continue -->
            <button data-prevent-double-click="true" class="govuk-button" type="submit" data-module="govuk-button" role="button">
              @Messages("transferAgreement.continueLink")
            </button>

            <!-- Cancel -->
            <a href="@routes.DashboardController.dashboard()" role="button" draggable="false"
               class="govuk-button govuk-button--secondary" data-module="govuk-button">
              @Messages("transferAgreement.cancelLink")
            </a>
        </div>
        }
    </div>
</div>
}
}