@* helper package contains inputRadioGroup therefore exclude from imports to prevent ambiguous import with view of the same name *@
@import java.util.UUID

@import scala.language.postfixOps
@(consignmentId: UUID, transferAgreementFormData: Form[TransferAgreementData], agreementOptions: Seq[(String, String)], isAlreadyCompleted: Boolean)(implicit request: RequestHeader, messages: Messages)
@main("Transfer agreement") {
@defining(play.core.PlayVersion.current) { version =>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        @transferAgreementHeader()
        @transferAgreementWarning()
        <div id="upload-progress-success" class="success-summary" aria-labelledby="success-summary-title"
        role="alert" data-module="success-summary" tabindex="-1">
          <div class="success-summary__body">
            <h2 class="success-summary__title">You have already confirmed all statements</h2>
            <p class="govuk-body">Click 'Continue' to proceed with your transfer.</p>
          </div>
        </div>
        @transferAgreementFormGroup(transferAgreementFormData: Form[TransferAgreementData], isAlreadyCompleted)
        <div class="govuk-button-group">
            <a role="button" data-prevent-double-click="true" class="govuk-button" data-module="govuk-button" href="@routes.UploadController.uploadPage(consignmentId)">
                Continue
            </a>

            <a class="govuk-link" href="@routes.DashboardController.dashboard()">Cancel</a>
        </div>
    </div>
</div>
}
}