@(exportTriggered: Boolean)(implicit messages: Messages)
@main(Messages("transferConfirmation.header")) {
    @defining(play.core.PlayVersion.current) { version =>
        @if(exportTriggered) {
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <a href="@routes.DashboardController.dashboard()" class="govuk-back-link">Back</a>
                    @progressIndicator(Messages("transferConfirmation.progress"))
                    <h1 class="govuk-heading-xl">@Messages("transferConfirmation.title")</h1>
                    <p>@Messages("transferConfirmation.complete")</p>
                </div>
            </div>
        } else {
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <span id="general-error" class="govuk-error-message">
                        @Messages("transferConfirmation.error")
                    </span>
                </div>
            </div>
        }


    }
}
