@import java.util.UUID
@import viewsapi.FormFunctions._
@import helper.{inputRadioGroup => _, _}

@(consignmentId: UUID, summary: ConsignmentSummaryData, finalTransferConfirmationForm: Form[FinalTransferConfirmationData])(implicit request: RequestHeader, messages: Messages)
@main(Messages("transferSummary.header")) {
@defining(play.core.PlayVersion.current) { version =>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            @progressIndicator(Messages("transferSummary.progress"))

            <h1 class="govuk-heading-l">@Messages("transferSummary.title")</h1>
            <p class="govuk-body">@Messages("transferSummary.body")</p>
            @errorSummary(
              finalTransferConfirmationForm("openRecords"),
              finalTransferConfirmationForm("transferLegalOwnership")
            )
            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        @Messages("transferSummary.seriesReference")
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @summary.seriesCode
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        @Messages("transferSummary.consignmentReference")
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @summary.consignmentReference
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        @Messages("transferSummary.transferringBody")
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @summary.transferringBody
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        @Messages("transferSummary.filesUploadedForTransfer")
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @summary.totalFiles @if(summary.totalFiles == 1) {file} else {files} uploaded
                    </dd>
                </div>
            </dl>
        <p class="govuk-body">@Messages("transferSummary.bodyBelow")</p>
            @form(
            routes.TransferSummaryController.finalTransferConfirmationSubmit(consignmentId),
            (Symbol("novalidate"), "")
            ) {
                @CSRF.formField
                <fieldset class="govuk-fieldset" aria-label="final transfer confirmation">
                    <!-- Open records & transfer legal ownership -->
                    @inputSingleCheckbox(
                    finalTransferConfirmationForm("openRecords"),
                    Symbol("_label") -> Messages("transferSummary.openRecords"),
                    Symbol("_value") -> "true",
                    Symbol("_smallCheckbox") -> true,
                    Symbol("_checkedOption") -> finalTransferConfirmationForm.data.getOrElse("openRecords", ""),
                    Symbol("_requiredOption") -> true
                    )
                    @inputSingleCheckbox(
                    finalTransferConfirmationForm("transferLegalOwnership"),
                    Symbol("_label") -> Messages("transferSummary.transferLegalOwnership"),
                    Symbol("_value") -> "true",
                    Symbol("_smallCheckbox") -> true,
                    Symbol("_checkedOption") -> finalTransferConfirmationForm.data.getOrElse("transferLegalOwnership", ""),
                    Symbol("_requiredOption") -> true
                    )
                </fieldset>
                <div>
                    <!-- Transfer -->
                    <button class="govuk-button" type="submit" data-module="govuk-button" role="button">
                        @Messages("transferSummary.transferLink")
                    </button>
                </div>
            }
        </div>
    </div>
}
}
