@* helper package contains inputRadioGroup therefore exclude from imports to prevent ambiguous import with view of the same name *@
@import helper.{inputRadioGroup => _, _}
@import viewsapi.FormFunctions._

@(consignmentId: Long, transferAgreementForm: Form[TransferAgreementData], agreementOptions: Seq[(String, String)])(implicit request: RequestHeader, messages: Messages)
@main(Messages("transferAgreement.header")) {
@defining(play.core.PlayVersion.current) { version =>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        @progressIndicator(Messages("transferAgreement.progress"))

        <h1 class="govuk-heading-xl">@Messages("transferAgreement.title")</h1>
        @form(
            routes.TransferAgreementController.transferAgreementSubmit(consignmentId),
            (Symbol("novalidate"), "")
        ) {
        @CSRF.formField
        <fieldset class="govuk-fieldset" aria-describedby="transfer-agreement">
            @inputRadioGroup(
            transferAgreementForm("publicRecord"),
            agreementOptions,
            Symbol("_name") -> Messages("transferAgreement.publicRecord"),
            Symbol("_requiredOption") -> true,
            Symbol("_checkedOption") -> transferAgreementForm.data.getOrElse("publicRecord", ""),
            Symbol("_disabledOption") -> "false"
            )
            @inputRadioGroup(
            transferAgreementForm("crownCopyright"),
            agreementOptions,
            Symbol("_name") -> Messages("transferAgreement.crownCopyright"),
            Symbol("_requiredOption") -> true,
            Symbol("_checkedOption") -> transferAgreementForm.data.getOrElse("crownCopyright", ""),
            Symbol("_disabledOption") -> "false"
            )
            @inputRadioGroup(
            transferAgreementForm("english"),
            agreementOptions,
            Symbol("_name") -> Messages("transferAgreement.english"),
            Symbol("_requiredOption") -> true,
            Symbol("_checkedOption") -> transferAgreementForm.data.getOrElse("english", ""),
            Symbol("_disabledOption") -> "false"
            )
            @inputRadioGroup(
            transferAgreementForm("digital"),
            agreementOptions,
            Symbol("_name") -> Messages("transferAgreement.digital"),
            Symbol("_requiredOption") -> true,
            Symbol("_checkedOption") -> transferAgreementForm.data.getOrElse("digital", ""),
            Symbol("_disabledOption") -> "false"
            )
        </fieldset>
        <!-- DRO confirmation -->
        <fieldset class="govuk-fieldset" aria-describedby="transfer-agreement-checks">
            @inputSingleCheckbox(
            transferAgreementForm("droAppraisalSelection"),
            Symbol("_label") -> Messages("transferAgreement.droAppraisalSelection"),
            Symbol("_value") -> "true",
            Symbol("_smallCheckbox") -> true,
            Symbol("_checkedOption") -> transferAgreementForm.data.getOrElse("droAppraisalSelection", ""),
            Symbol("_requiredOption") -> true
            )
            @inputSingleCheckbox(
            transferAgreementForm("droSensitivity"),
            Symbol("_label") -> Messages("transferAgreement.droSensitivity"),
            Symbol("_value") -> "true",
            Symbol("_smallCheckbox") -> true,
            Symbol("_checkedOption") -> transferAgreementForm.data.getOrElse("droSensitivity", ""),
            Symbol("_requiredOption") -> true
            )
        </fieldset>
        <!-- Buttons -->
        <div>
            <!-- Cancel -->
            <a href="@routes.DashboardController.dashboard" role="button" draggable="false"
               class="govuk-button govuk-button--secondary" data-module="govuk-button">
                Cancel
            </a>

            <!-- Continue -->
            <button class="govuk-button" type="submit" data-module="govuk-button" role="button">
                Continue
            </button>
        </div>
        }
    </div>
</div>
}
}