@import java.util.UUID
@import views.html.partials.progressIndicator
@import views.html.partials.returnToStartPage

@import views.html.partials.transferReference
@(consignmentId: UUID, name: String, isJudgmentUser: Boolean=false)(implicit request: RequestHeader, messages: Messages)

@main("Transfer Already Completed", name = name) {
    @defining(play.core.PlayVersion.current) { version =>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l">Your transfer has already been completed</h1>
                <p class="govuk-body">Click 'Continue' to see the confirmation page again or return to the start.</p>

                <div>
                    <a role="button" data-prevent-double-click="true" class="govuk-button" data-module="govuk-button"
                        href="@{
                          if(isJudgmentUser) {routes.TransferCompleteController.judgmentTransferComplete(consignmentId)}
                          else {routes.TransferCompleteController.transferComplete(consignmentId)}
                        }">Continue
                    </a>
                    @returnToStartPage("govuk-button--secondary")
                </div>
            </div>
        </div>
    }
}
