@(exportTriggered: Boolean)(implicit messages: Messages)
@main(Messages("transferConfirmation.header")) {
    @defining(play.core.PlayVersion.current) { version =>
        @if(exportTriggered) {
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <a href="@routes.DashboardController.dashboard()" class="govuk-back-link">Back</a>
                    @progressIndicator(Messages("transferConfirmation.progress"))
                    <p>Export complete placeholder page</p>
                </div>
            </div>
        } else {
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <span id="general-error" class="govuk-error-message">
                        The export failed, contact us
                    </span>
                </div>
            </div>
        }


    }
}
