@* helper package contains inputRadioGroup therefore exclude from imports to prevent ambiguous import with view of the same name *@
@import helper.{inputRadioGroup => _, _}
@import viewsapi.FormFunctions._
@import java.util.UUID

@import scala.language.postfixOps
@(transferAgreementFormData: Form[TransferAgreementData], formAlreadySubmitted: Boolean)(implicit request: RequestHeader, messages: Messages)
@shouldOptionBeSelected(option: String, formAlreadySubmitted: Boolean) = @{
  if(!formAlreadySubmitted) transferAgreementFormData.data.getOrElse(option, "") else "true"
}
<div class="govuk-form-group">
  @if(!formAlreadySubmitted) @{CSRF.formField} else {}
    @inputSingleCheckbox(
        transferAgreementFormData("publicRecord"),
        Symbol("_label") -> "I confirm that the records are Public Records.",
        Symbol("_value") -> "true",
        Symbol("_smallCheckbox") -> true,
        Symbol("_checkedOption") -> shouldOptionBeSelected("publicRecord", formAlreadySubmitted),
        Symbol("_requiredOption") -> true,
        Symbol("_disabledOption") -> formAlreadySubmitted.toString
    )
    @inputSingleCheckbox(
        transferAgreementFormData("crownCopyright"),
        Symbol("_label") -> "I confirm that the records are all Crown Copyright.",
        Symbol("_value") -> "true",
        Symbol("_smallCheckbox") -> true,
        Symbol("_checkedOption") -> shouldOptionBeSelected("crownCopyright", formAlreadySubmitted),
        Symbol("_requiredOption") -> true,
        Symbol("_disabledOption") -> formAlreadySubmitted.toString
    )
    @inputSingleCheckbox(
        transferAgreementFormData("english"),
        Symbol("_label") -> "I confirm that the records are all in English.",
        Symbol("_value") -> "true",
        Symbol("_smallCheckbox") -> true,
        Symbol("_checkedOption") -> shouldOptionBeSelected("english", formAlreadySubmitted),
        Symbol("_requiredOption") -> true,
        Symbol("_disabledOption") -> formAlreadySubmitted.toString
    )
    <!-- DRO confirmation -->
    @inputSingleCheckbox(
        transferAgreementFormData("droAppraisalSelection"),
        Symbol("_label") -> "I confirm that the Departmental Records Officer (DRO) has signed off on the appraisal and selection decision.",
        Symbol("_value") -> "true",
        Symbol("_smallCheckbox") -> true,
        Symbol("_checkedOption") -> shouldOptionBeSelected("droAppraisalSelection", formAlreadySubmitted),
        Symbol("_requiredOption") -> true,
        Symbol("_disabledOption") -> formAlreadySubmitted.toString
    )
    @inputSingleCheckbox(
        transferAgreementFormData("droSensitivity"),
        Symbol("_label") -> "I confirm that the Departmental Records Officer (DRO) has signed off on the sensitivity review.",
        Symbol("_value") -> "true",
        Symbol("_smallCheckbox") -> true,
        Symbol("_checkedOption") -> shouldOptionBeSelected("droSensitivity", formAlreadySubmitted),
        Symbol("_requiredOption") -> true,
        Symbol("_disabledOption") -> formAlreadySubmitted.toString
    )
    @inputSingleCheckbox(
        transferAgreementFormData("openRecords"),
        Symbol("_label") -> "I confirm that all records are open and no Freedom of Information (FOI) exemptions apply to these records.",
        Symbol("_value") -> "true",
        Symbol("_smallCheckbox") -> true,
        Symbol("_checkedOption") -> shouldOptionBeSelected("openRecords", formAlreadySubmitted),
        Symbol("_requiredOption") -> true,
        Symbol("_disabledOption") -> formAlreadySubmitted.toString
    )
</div>