@import java.util.UUID
@(consignmentId: UUID)(implicit request: RequestHeader, messages: Messages)

@main("Upload your records") {
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      @progressIndicator(Messages("upload.progress"))
      <h1 class="govuk-heading-l">Uploading records</h1>
      <p class="govuk-body">Your upload is complete and has been saved. You cannot make amendments to your upload or add additional files.</p>
      <p class="govuk-body">Please click continue to proceed with your transfer.</p>
      <a href="@routes.FileChecksController.recordProcessingPage(consignmentId)" role="button" draggable="false" class="govuk-button govuk-button--primary">
        Continue
      </a>
    </div>
  </div>
}
