@import java.util.UUID
@import views.html.partials.progressIndicator
@(consignmentId: UUID, pageHeading: String, name: String, isJudgmentUser: Boolean)(implicit request: RequestHeader, messages: Messages)

@main("Upload your records", name = name) {
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      @progressIndicator(Messages("upload.progress"))
      <h1 class="govuk-heading-l">@pageHeading</h1>
      <p class="govuk-body">Your upload is complete and has been saved. You cannot make amendments to your upload or add additional files.</p>
      <p class="govuk-body">Please click 'Continue' to proceed with your transfer.</p>
      <a href="@{if(isJudgmentUser) {routes.FileChecksController.judgmentRecordProcessingPage(consignmentId)}
                else {routes.FileChecksController.recordProcessingPage(consignmentId)}}" role="button" draggable="false" class="govuk-button govuk-button--primary">
        Continue
      </a>
    </div>
  </div>
}
