@import java.util.UUID
@import viewsapi.FrontEndInfo
@import helper._
@(consignmentId: UUID, frontEndInfo: FrontEndInfo)(implicit request: RequestHeader, messages: Messages)

@main(Messages("upload.header")) {
<div id="file-upload" class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-file-upload">
        <a href="@routes.DashboardController.dashboard()" class="govuk-back-link">Back</a>
        @progressIndicator(Messages("upload.progress"))
        @frontEndInputs(frontEndInfo)

        <h1 class="govuk-heading-xl">@Messages("upload.title")</h1>
        <div id="upload-error" class="govuk-error-summary upload-error hide" aria-labelledby="error-summary-title"
            role="alert" tabindex="-1" data-module="govuk-error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
                @Messages("upload.error.title")
            </h2>
            <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                    <li>
                        <p>@Messages("upload.error.failure")</p>
                        <p class="upload-error__message"></p>
                    </li>
                </ul>
            </div>
        </div>
        <form id="file-upload-form" data-consignment-id="@consignmentId">
            <div class="govuk-form-group">
                <div class="drag-and-drop">
                    <div class="govuk-summary-list">
                        <div class="govuk-summary-list__row hide">
                            <dd class="govuk-summary-list__value">
                                <svg fill="currentColor" role="presentation" focusable="false" viewBox="0 0 25 25" height="25" width="25" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M25,6.2L8.7,23.2L0,14.1l4-4.2l4.7,4.9L21,2L25,6.2z"></path>
                                </svg>
                                The folder
                                "<span class="folder-name"></span>"
                                (containing
                                <span class="folder-size"></span>
                                files) has been selected
                            </dd>
                        </div>
                    </div>
                    <div>
                        <div class="govuk-form-group">
                            <div class="drag-and-drop__dropzone">
                                <input type="file" id="file-selection" name="files" class="govuk-file-upload drag-and-drop__input" webkitdirectory>
                                <p class="govuk-body">@Messages("upload.dragAndDropHintText")</p>
                                <label for="file-selection" class="govuk-button govuk-button--secondary">@Messages("upload.chooseFolderLink")</label>
                            </div>
                            <div class="govuk-warning-text">
                                <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                                <strong class="govuk-warning-text__text">
                                    <span class="govuk-warning-text__assistive">Warning</span>
                                    @Messages("upload.fileExtensionWarning")
                                </strong>
                            </div>
                            <details class="govuk-details" data-module="govuk-details">
                                <summary class="govuk-details__summary">
                                    <span class="govuk-details__summary-text">
                                        @Messages("upload.fileExtensionTitle")
                                    </span>
                                </summary>
                                <div class="govuk-details__text">
                                    @Messages("upload.fileExtensionSummary")
                                </div>
                            </details>
                            <button class="govuk-button" type="submit" data-module="govuk-button" role="button">
                                @Messages("upload.continueLink")
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <!--        Form to redirect user once upload has completed. It sends consignmentId to record processing placeholder page -->
        @form(routes.FileChecksController.recordProcessingPage(consignmentId), Symbol("id") -> "upload-data-form") { }
    </div>
</div>
<div id="progress-bar" class="govuk-grid-row hide">
    <div class="govuk-grid-column-two-thirds">
        <a href="@routes.DashboardController.dashboard()" class="govuk-back-link">Back</a>
        @progressIndicator(Messages("upload.progress"))
        <h1 class="govuk-heading-xl">@Messages("uploadProgress.header")</h1>
        <p class="govuk-body">@Messages("uploadProgress.title")</p>
        <div>
            <progress class="progress-display" value="" max="100"></progress>
        </div>
    </div>
</div>
}