@import java.util.UUID
@import views.html.partials.{progressIndicator, transferReference}
@(consignmentId: UUID, consignmentRef: String, pageHeading: String, name: String, isJudgmentUser: Boolean)(implicit request: RequestHeader, messages: Messages)

  @main(pageHeading, name = name, isJudgmentUser = isJudgmentUser) {
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
          @if(isJudgmentUser) {
              @progressIndicator(Messages("judgmentUpload.progress"), isJudgmentUser)
          } else {
              @progressIndicator(Messages("upload.progress"), isJudgmentUser)
          }
        <h1 class="govuk-heading-l">@pageHeading</h1>

        <div id="upload-progress-error" class="govuk-error-summary upload-error" aria-labelledby="error-summary-title"
        role="alert" data-module="govuk-error-summary" tabindex="-1">
          <div id="upload-progress-error">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
              There is a problem
            </h2>
            <div class="govuk-error-summary__body">
              <p>Your upload was interrupted and could not be completed.</p>
              <p>Please return to the start to begin a new transfer.</p>
            </div>
          </div>
        </div>
        <a href="@routes.HomepageController.homepage()" role="button" draggable="false" class="govuk-button govuk-button--primary">
          Return to start
        </a>
      </div>
      @transferReference(consignmentRef, isJudgmentUser)
    </div>
  }
