@import java.util.UUID
@import views.html.partials.{progressIndicator, transferReference}
@(consignmentId: UUID, consignmentRef: String, pageHeading: String, name: String, isJudgmentUser: Boolean)(implicit request: RequestHeader, messages: Messages)

@main("Upload your records", name = name, isJudgmentUser = isJudgmentUser) {
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        @if(isJudgmentUser) {
            @progressIndicator(Messages("judgmentUpload.progress"), isJudgmentUser)
        } else {
            @progressIndicator(Messages("upload.progress"), isJudgmentUser)
        }
      <h1 class="govuk-heading-l">@pageHeading</h1>
      <p class="govuk-body">Your upload is complete and has been saved. You cannot make amendments to your upload or add additional files.</p>
      <p class="govuk-body">Please click 'Continue' to proceed with your transfer.</p>
      <a href="@{if(isJudgmentUser) {routes.FileChecksController.judgmentFileChecksPage(consignmentId)}
                else {routes.FileChecksController.fileChecksPage(consignmentId)}}" role="button" draggable="false" class="govuk-button govuk-button--primary">
        Continue
      </a>
    </div>
    @transferReference(consignmentRef, isJudgmentUser)
  </div>
}
