@import java.util.UUID
@import viewsapi.FrontEndInfo
@import helper._
@(consignmentId: UUID, frontEndInfo: FrontEndInfo)(implicit request: RequestHeader, messages: Messages)

@main(Messages("upload.header")) {
<div id="file-upload" class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-file-upload">
        @progressIndicator(Messages("upload.progress"))
        @frontEndInputs(frontEndInfo)

        <h1 class="govuk-heading-xl">@Messages("upload.title")</h1>
        <div id="upload-error" class="govuk-error-summary upload-error" hidden aria-labelledby="error-summary-title"
            role="alert" tabindex="-1" data-module="govuk-error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
                @Messages("upload.error.title")
            </h2>
            <div class="govuk-error-summary__body">
                <p>@Messages("upload.error.failure")</p>
                <p class="upload-error__message"></p>
            </div>
        </div>
        <div id="logged-out-error" class="govuk-error-summary logged-out-error" hidden aria-labelledby="logged-out-error-title"
             role="alert" tabindex="-1" data-module="govuk-error-summary">
            <h2 class="govuk-error-summary__title logged-out-title" id="logged-out-error-title">
                @Messages("loggedOut.error.title")
            </h2>
            <div class="govuk-error-summary__body logged-out-body">
                <ul class="govuk-list govuk-error-summary__list">
                    <li>
                        <p><a class="logged-out-error-link">@Messages("loggedOut.error.linkText")</a></p>
                    </li>
                </ul>
            </div>
        </div>
        <form id="file-upload-form" data-consignment-id="@consignmentId">
            <div class="govuk-form-group">
                <div class="drag-and-drop">
                    <div class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <dd id="drag-and-drop-success" class="govuk-summary-list__value drag-and-drop__success" hidden tabindex="-1" role="alert" aria-describedby="successMessageText">
                                <div>
                                    @greenTickMark()
                                    <p id="successMessageText" >@Html(Messages("upload.dragAndDropSuccessMessage"))</p>
                                </div>
                            </dd>
                            <dd id="drag-and-drop-failure" class="govuk-summary-list__value drag-and-drop__failure" hidden tabindex="-1" role="alert" aria-describedby="failureMessageText">
                                @redWarningSign()
                              <p id="failureMessageText">@Messages("upload.dragAndDropErrorMessage")</p>
                            </dd>
                        </div>
                    </div>
                    <div>
                        <div class="govuk-form-group">
                            <div class="drag-and-drop__dropzone">
                                <input type="file" id="file-selection" name="files"
                                    class="govuk-file-upload drag-and-drop__input" webkitdirectory
                                    @* Specify an arbitrary type in the 'accept' attribute to work around a bug in
                                    Safari 14.0.1, which does not let the user browse for files if the 'accept'
                                    attribute is missing. The actual value of the attribute is ignored because
                                    'webkitdirectory' is specified. It just needs to be present to fix the Safari bug. *@
                                    accept="image/jpeg" aria-hidden="true"
                                >
                                <p class="govuk-body drag-and-drop__hint-text">@Messages("upload.dragAndDropHintText")</p>
                                <label for="file-selection" class="govuk-button govuk-button--secondary drag-and-drop__button">
                                @Messages("upload.chooseFolderLink")
                                </label>
                            </div>
                            <div class="govuk-warning-text">
                                <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                                <strong class="govuk-warning-text__text">
                                    <span class="govuk-warning-text__assistive">Warning</span>
                                    @Messages("upload.fileExtensionWarning")
                                </strong>
                            </div>
                            <details class="govuk-details" data-module="govuk-details">
                                <summary class="govuk-details__summary">
                                    <span class="govuk-details__summary-text">
                                        @Messages("upload.fileExtensionTitle")
                                    </span>
                                </summary>
                                <div class="govuk-details__text" tabindex="0">
                                    @Messages("upload.fileExtensionSummary")
                                </div>
                            </details>
                            <button class="govuk-button" type="submit" data-module="govuk-button" role="button">
                                @Messages("upload.continueLink")
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <!--        Form to redirect user once upload has completed. It sends consignmentId to record processing placeholder page -->
        @form(routes.FileChecksController.recordProcessingPage(consignmentId), Symbol("id") -> "upload-data-form") { }
    </div>
</div>
<div id="progress-bar" class="govuk-grid-row" hidden>
    <div class="govuk-grid-column-two-thirds">
        <a href="@routes.DashboardController.dashboard()" class="govuk-back-link">Back</a>
        @progressIndicator(Messages("upload.progress"))
        <h1 class="govuk-heading-xl">@Messages("uploadProgress.header")</h1>
        <p class="govuk-body">@Messages("uploadProgress.title")</p>
        <div id="upload-progress-error" class="govuk-error-summary upload-error" hidden aria-labelledby="error-summary-title"
            role="alert" tabindex="-1" data-module="govuk-error-summary">
            <div id="upload-progress-error">
                <h2 class="govuk-error-summary__title" id="error-summary-title">
                    @Messages("upload.error.title")
                </h2>
                <div class="govuk-error-summary__body">
                    <p>@Messages("upload.error.failure")</p>
                    <p class="upload-progress-error-timeout__message" hidden>@Html(Messages("upload.progress.error.timeout"))</p>
                    <p class="upload-progress-error-authentication__message" hidden>@Html(Messages("upload.progress.error.authentication"))</p>
                    <p class="upload-progress-error-general__message" hidden>@Html(Messages("upload.progress.error.general"))</p>
                </div>
            </div>
        </div>
        <div>
            <progress class="progress-display" value="" max="100" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow=""></progress>
        </div>
    </div>
</div>
}
