@(name: String)(implicit messages: Messages, request: RequestHeader)

@main("View History", name = name) {
  @defining(play.core.PlayVersion.current) { version =>
    <div class="govuk-width-container ">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-l">Transfer history</h1>
            <p class="govuk-body">View the history of all the consignments you have uploaded and resume incomplete or failed transfers.</p>

            <table class="govuk-table">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Consignment reference</th>
                  <th scope="col" class="govuk-table__header">Status</th>
                  <th scope="col" class="govuk-table__header">Date of export</th>
                  <th scope="col" class="govuk-table__header">Actions</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">
                    <details class="govuk-details" data-module="govuk-details">
                      <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                          MOCK-123-TDR
                        </span>
                      </summary>
                      <div class="govuk-details__text">
                        <p class="govuk-body">Please do not delete the original files you exported until you are notified that your records have been preserved.</p>
                        <ul class="govuk-list govuk-list--bullet">
                          <li>Consignment uploaded by: JohnDoe@@departmentofcookies.gov.uk</li>
                          <li>Date started: 19/08/2022</li>
                          <li>Date of export: 19/08/2022</li>
                          <li>Number of files: 1200 records</li>
                        </ul>
                      </div>
                    </details>
                  </th>
                  <td class="govuk-table__cell">
                    <strong class="govuk-tag govuk-tag--green">
                      Exported
                    </strong>
                  </td>
                  <td class="govuk-table__cell">19/08/2022</td>
                  <td class="govuk-table__cell"></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
    </div>
  }
}
