@import views.html.partials.warningMessage
@import views.html.partials.backLink
@import views.html.helper.CSRF
@import views.html.helper.form
@(consignments: List[ConsignmentTransfers], currentPage: Int, totalPages: Int, name: String, email: String, isJudgmentUser: Boolean)(implicit messages: Messages, request: RequestHeader)
@nationalArchivesEmailAddress = @{if(isJudgmentUser) Messages("nationalArchives.judgmentsEmail") else Messages("nationalArchives.email")}

@main("View Transfers", name = name, isJudgmentUser = isJudgmentUser, backLink = Some(backLink(routes.HomepageController.homepage().url, "Back"))) {
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-l">View Transfers</h1>
      <p class="govuk-body">View the history of all the consignments you have uploaded. You can also resume incomplete transfers or view the errors of failed transfers.</p>

      <table data-module="table-row-expander" class="govuk-table govuk-table--tdr-transfers govuk-!-margin-bottom-2">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header" id="toggle">
              <span class="govuk-visually-hidden">Expand</span></th>
            <th scope="col" class="govuk-table__header">Reference</th>
            <th scope="col" class="govuk-table__header">Date started</th>
            <th scope="col" class="govuk-table__header">Date transferred</th>
            <th scope="col" class="govuk-table__header">Status</th>
            <th scope="col" class="govuk-table__header">Actions</th>
            <th scope="col" class="govuk-table__header govuk-visually-hidden" id="more-details">More details</th>
          </tr>
        </thead>
        @if(consignments.isEmpty) {
          <tbody>
            <tr>
            @form(if(isJudgmentUser) routes.HomepageController.judgmentHomepageSubmit() else routes.HomepageController.homepageSubmit(), (Symbol("novalidate"), "")) {
              @CSRF.formField
              <td colspan="6" class="govuk-table__cell govuk-table__cell--no-results">
                There are no transfers yet. <button type="submit" class="govuk-link tdr-button-link govuk-!-margin-bottom-0" data-module="govuk-button">Start a new transfer</button>
              </td>
            }
            </tr>
          </tbody>
        }
          @for((consignment, index) <- consignments.zipWithIndex) {
          <tbody>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell" rowspan="2">
                <button class="tdr-arrow-expander" aria-expanded="false" aria-controls="details-@index">
                  <span class="govuk-visually-hidden">More details about @consignment.reference</span>
                </button>
              </td>
              <th scope="row" class="govuk-table__header">@consignment.reference</th>
              <td class="govuk-table__cell">@consignment.dateStarted</td>
              <td class="govuk-table__cell @{if(consignment.dateOfTransfer == "N/A") "not-applicable"}">@consignment.dateOfTransfer</td>
              <td class="govuk-table__cell">
                <strong class="tdr-tag tdr-tag--@consignment.statusColour">@consignment.status</strong>
              </td>
              <td class="govuk-table__cell">
                <div class="tdr-link-group">
                  <a href="@{consignment.userAction.actionUrl.format(nationalArchivesEmailAddress)}" class="govuk-link govuk-link--no-visited-state">@consignment.userAction.actionText</a>
                </div>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell" headers="more-details" colspan="5" id="details-@index">
                  @if(consignment.status == Transferred.value) {
                    @warningMessage(s"""You must not delete the original records of this transfer as they are not yet preserved. You will receive an email once preservation has taken place. If you do not receive an email, contact <a href="mailto:${Messages("nationalArchives.email")}">${Messages("nationalArchives.email")}</a>.""", marginValue = 0)
                  }
                <div class="tdr-transfers-extra">
                  <dl class="tdr-dlist tdr-transfers-extra__list">
                    <dt class="govuk-body-m float govuk-!-margin-bottom-0">Number of files</dt>
                    <dd class="govuk-!-font-size-36">@consignment.numberOfFiles</dd>
                  </dl>
                  <dl class="tdr-dlist tdr-transfers-extra__list">
                    <dt class="govuk-body-m float govuk-!-margin-bottom-0">Uploaded by</dt>
                    <dd>
                      <a href="mailto:@email">@email</a>
                    </dd>
                  </dl>
                </div>
              </td>
            </tr>
          </tbody>
        }
      </table>

      @if(consignments.nonEmpty && totalPages > 1) {
        <nav class="govuk-pagination govuk-pagination__center" role="navigation" aria-label="results">
          <div class="govuk-pagination__prev" @{if(currentPage < 2) "hidden"}>
            <a class="govuk-link govuk-pagination__link" href="@routes.ViewTransfersController.viewConsignments(currentPage - 1)" rel="prev">
              <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
              </svg>
              <span class="govuk-pagination__link-title">Previous</span></a>
          </div>
          <ul class="govuk-pagination__list">
          @for(page <- 1 to totalPages) {
            @if(currentPage == page) {
              <li class="govuk-pagination__item govuk-pagination__item--current">
                <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page @page" aria-current="page">@page</a>
              </li>
            } else {
              @if(page == 1 || page == totalPages || page + 1 == currentPage || page - 1 == currentPage) {
                <li class="govuk-pagination__item">
                  <a class="govuk-link govuk-pagination__link" href="@routes.ViewTransfersController.viewConsignments(page)" aria-label="Page @page">@page</a>
                </li>
              } else if (page + 2  == currentPage || page - 2 == currentPage) {
                <li class="govuk-pagination__item govuk-pagination__item--ellipses">&ctdot;</li>
              }
            }
          }
          </ul>
          <div class="govuk-pagination__next" @{if(totalPages <= currentPage) "hidden"}>
            <a class="govuk-link govuk-pagination__link" href="@routes.ViewTransfersController.viewConsignments(currentPage + 1)" rel="next">
              <span class="govuk-pagination__link-title">Next</span>
              <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
              </svg>
            </a>
          </div>
        </nav>
      }
    </div>
  </div>
}
