@(consignments: List[ConsignmentTransfers], name: String, email: String, isJudgmentUser: Boolean)(implicit messages: Messages, request: RequestHeader)
@nationalArchivesEmailAddress = @{if(isJudgmentUser) Messages("nationalArchives.judgmentsEmail") else Messages("nationalArchives.email")}

@main("View Transfers", name = name, isJudgmentUser = isJudgmentUser) {
  @defining(play.core.PlayVersion.current) { version =>
    <div class="govuk-width-container ">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-l">View Transfers</h1>
            <p class="govuk-body">View the history of all the consignments you have uploaded and resume incomplete or failed transfers.</p>

            <table class="govuk-table">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Reference</th>
                    <th scope="col" class="govuk-table__header">Date started</th>
                    <th scope="col" class="govuk-table__header">Date transferred</th>
                    <th scope="col" class="govuk-table__header">Status</th>
                    <th scope="col" class="govuk-table__header">Actions</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                @for(consignment <- consignments) {
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">
                      <details class="govuk-details" data-module="govuk-details">
                        <summary class="govuk-details__summary">
                          <strong class="consignment-ref-cell">
                            @consignment.reference
                          </strong>
                        </summary>
                        <div class="govuk-details__text">
                          <p class="govuk-body">Please do not delete the original files you exported until you are notified that your records have been preserved.</p>
                          <ul class="govuk-list govuk-list--bullet">
                            <li>Consignment uploaded by: @email</li>
                            <li>Date started: @consignment.dateStarted</li>
                            <li>Date of transfer: @consignment.dateOfTransfer</li>
                            <li>Number of files: @consignment.numberOfFiles records</li>
                          </ul>
                        </div>
                      </details>
                    </th>
                    <td class="govuk-table__cell">@consignment.dateStarted</td>
                    <td class="govuk-table__cell @{if(consignment.dateOfTransfer == "N/A") "not-applicable"}">@consignment.dateOfTransfer</td>
                    <td class="govuk-table__cell">
                      <strong class="govuk-tag govuk-tag--@consignment.statusColour">
                        @consignment.status
                      </strong>
                    </td>
                    <td class="govuk-table__cell"><a href="@{consignment.userAction.actionUrl.format(nationalArchivesEmailAddress)}">@consignment.userAction.actionText</a></td>
                  </tr>
                }
              </tbody>
            </table>
          </div>
        </div>
        <a href="@routes.HomepageController.homepage()" role="button" draggable="false" class="govuk-button govuk-button--primary">
            Back to homepage
        </a>
    </div>
  }
}
