name: TDR Run Transfer Frontend tests
on:
  pull_request:
  push:
    branches-ignore:
      - master
      - release-*
      - dependabot/**
permissions:
  id-token: write
  contents: write
jobs:
  test:
    uses: nationalarchives/tdr-github-actions/.github/workflows/tdr_test.yml@f52edf22c81f568202369a3b31da0277541b0507 # v0.0.11
    with:
      repo-name: tdr-transfer-frontend
      test-command: |
        npm --prefix npm ci
        npm --prefix npm run checks
        sbt scalafmtCheckAll test
      java-version: '17'
    secrets:
      SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
