name: TDR Run Transfer Frontend tests
on:
  pull_request:
  push:
    branches-ignore:
      - master
      - release-*
      - dependabot/**
permissions:
  id-token: write
  contents: write
jobs:
  test:
    uses: nationalarchives/tdr-github-actions/.github/workflows/tdr_test.yml@cd362ffa9386c007c816bfd15a25b6f0a3c3b3d6 # v0.0.14
    with:
      repo-name: tdr-transfer-frontend
      test-command: |
        npm --prefix npm ci
        npm --prefix npm run checks
        sbt scalafmtCheckAll test
      java-version: '17'
    secrets:
      SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
